Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

Fail the release when CHANGELOG has no section for the version
  .github/workflows/release.yml
  .pre-commit-config.yaml
  scripts/check_version_consistency.py
Due: none

Harden Origin validation: exact matching, duplicate and case-folded headers
  CHANGELOG.md
  SECURITY.md
  docs/security.md
  spellbook/core/auth.py
  tests/test_reorg/test_core_auth.py
Due: security-scan-changeset

Backfill [Unreleased] for the 27 commits that had no entry
  CHANGELOG.md
Due: security-scan-changeset

Gate three destructive procedures behind stated-impact confirmation
  CHANGELOG.md
  commands/merge-worktree-verify.md
  docs/commands/merge-worktree-verify.md
  docs/skills/debugging.md
  docs/skills/merging-worktrees.md
  skills/debugging/SKILL.md
  skills/merging-worktrees/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Give gate 4.6.5 a dispatch-table row and its own ledger line
  CHANGELOG.md
  commands/feature-config.md
  commands/feature-implement-execute.md
  docs/commands/feature-config.md
  docs/commands/feature-implement-execute.md
  docs/skills/develop.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Disclose stash impact before the operator answers
  CHANGELOG.md
  docs/skills/merging-worktrees.md
  skills/merging-worktrees/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Expose sync_version_to_files behind an explicit --fix flag
  CHANGELOG.md
  scripts/check_version_consistency.py
  tests/scripts/test_precommit_hook_entries_resolve.py
Due: security-scan-changeset

Remove the never-published OpenCode context-curator extension
  .github/dependabot.yml
  .github/workflows/test.yml
  CHANGELOG.md
  extensions/opencode/context-curator/README.md
  extensions/opencode/context-curator/index.ts
  extensions/opencode/context-curator/lib/commands/context.ts
  extensions/opencode/context-curator/lib/commands/index.ts
  extensions/opencode/context-curator/lib/commands/stats.ts
  extensions/opencode/context-curator/lib/config.ts
  extensions/opencode/context-curator/lib/hooks.ts
  extensions/opencode/context-curator/lib/logger.ts
  extensions/opencode/context-curator/lib/mcp-client.ts
  extensions/opencode/context-curator/lib/messages/index.ts
  extensions/opencode/context-curator/lib/messages/inject.ts
  extensions/opencode/context-curator/lib/messages/prune.ts
  extensions/opencode/context-curator/lib/messages/utils.ts
  extensions/opencode/context-curator/lib/prompts/system.ts
  extensions/opencode/context-curator/lib/state/index.ts
  extensions/opencode/context-curator/lib/state/state.ts
  extensions/opencode/context-curator/lib/state/tool-cache.ts
  extensions/opencode/context-curator/lib/state/version.ts
  extensions/opencode/context-curator/lib/strategies/deduplication.ts
  extensions/opencode/context-curator/lib/strategies/index.ts
  extensions/opencode/context-curator/lib/strategies/purge-errors.ts
  extensions/opencode/context-curator/lib/strategies/supersede-writes.ts
  extensions/opencode/context-curator/lib/strategies/utils.ts
  extensions/opencode/context-curator/lib/tools/discard.ts
  extensions/opencode/context-curator/lib/tools/extract.ts
  extensions/opencode/context-curator/lib/tools/index.ts
  extensions/opencode/context-curator/lib/types.ts
  extensions/opencode/context-curator/package-lock.json
  extensions/opencode/context-curator/package.json
  extensions/opencode/context-curator/tests/deduplication.test.ts
  extensions/opencode/context-curator/tests/supersede-writes.test.ts
  extensions/opencode/context-curator/tsconfig.json
  scripts/check_reference_resolution.py
  spellbook/mcp/tools/__init__.py
  spellbook/mcp/tools/curator.py
  tests/mcp/tools/test_curator.py
Due: security-scan-changeset

Fail closed on unparseable port, undecodable headers, and Host userinfo
  spellbook/core/auth.py
Due: none

Pin the fail-closed cases, and replace two tests that could not fail
  tests/test_reorg/test_core_auth.py
Due: none

Prove the stale-header claim for all six installers; widen the write census
  tests/installer/test_legacy_token_removal.py
  tests/installer/test_no_auth_header_written.py
Due: none

Align the security docs with what the code now does
  CHANGELOG.md
  SECURITY.md
  docs/getting-started/platforms.md
  docs/security.md
  pyproject.toml
Due: security-scan-changeset

Drop the wildcard bind address from the allowed hostnames
  spellbook/core/auth.py
  tests/test_reorg/test_core_auth.py
Due: none

Fix a rollback command that fails plausibly, and a hook blind to the new names
  CHANGELOG.md
  SECURITY.md
  docs/security.md
  hooks/spellbook_hook.py
  tests/installer/test_legacy_token_removal.py
Due: security-scan-changeset

Remove dead config_schema_entries from rule module loader
  CHANGELOG.md
  installer/components/rule_modules.py
  tests/installer/test_rule_modules.py
Due: security-scan-changeset

Fix three stale records; put the pattern count behind a check
  CHANGELOG.md
  commands/audit-mirage-report.md
  commands/feature-discover.md
  docs/commands/audit-mirage-report.md
  docs/commands/feature-discover.md
  docs/skills/tooling-discovery.md
  skills/tooling-discovery/SKILL.md
  tests/test_skills/test_audit_mirage_pattern_sync.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Make version sync report an unusable manifest instead of swallowing it
  CHANGELOG.md
  installer/version.py
  tests/installer/test_version_sync.py
Due: security-scan-changeset

Renumber the finish-branch record blocks to the five-option scale
  CHANGELOG.md
  commands/finish-branch-cleanup.md
  commands/finish-branch-execute.md
  docs/commands/finish-branch-cleanup.md
  docs/commands/finish-branch-execute.md
  docs/commands/index.md
  docs/skills/finishing-a-development-branch.md
  skills/finishing-a-development-branch/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Merge the rebased Unreleased Fixed blocks into one
  CHANGELOG.md
Due: security-scan-changeset

Run the generate-docs pre-commit hook in --check mode
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  docs/reference/contributing.md
Due: security-scan-changeset

Add behavioral tests for check_version_consistency.py (BOT-A2)
  tests/scripts/test_check_version_consistency.py
Due: none

Fix git fetch refspec and truncation sweep echo (BOT-B1, BOT-B2)
  docs/rules/50-git-safety.md
  docs/skills/debugging.md
  docs/skills/merging-worktrees.md
  rules/50-git-safety.md
  skills/debugging/SKILL.md
  skills/merging-worktrees/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Remove the dead admin-interface surface from the installer (#480)
  .gemini/config.yaml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  installer/components/rule_modules.py
  installer/renderer.py
  installer/tui.py
  installer/wizards/defaults.py
  spellbook/core/config.py
Due: security-scan-changeset

Give gate 4.6.5 a dispatch-table row and its own ledger line (#484)
  CHANGELOG.md
  commands/feature-config.md
  commands/feature-implement-execute.md
  docs/commands/feature-config.md
  docs/commands/feature-implement-execute.md
  docs/skills/develop.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Remove the never-published OpenCode context-curator extension (#485)
  .github/dependabot.yml
  .github/workflows/test.yml
  CHANGELOG.md
  extensions/opencode/context-curator/README.md
  extensions/opencode/context-curator/index.ts
  extensions/opencode/context-curator/lib/commands/context.ts
  extensions/opencode/context-curator/lib/commands/index.ts
  extensions/opencode/context-curator/lib/commands/stats.ts
  extensions/opencode/context-curator/lib/config.ts
  extensions/opencode/context-curator/lib/hooks.ts
  extensions/opencode/context-curator/lib/logger.ts
  extensions/opencode/context-curator/lib/mcp-client.ts
  extensions/opencode/context-curator/lib/messages/index.ts
  extensions/opencode/context-curator/lib/messages/inject.ts
  extensions/opencode/context-curator/lib/messages/prune.ts
  extensions/opencode/context-curator/lib/messages/utils.ts
  extensions/opencode/context-curator/lib/prompts/system.ts
  extensions/opencode/context-curator/lib/state/index.ts
  extensions/opencode/context-curator/lib/state/state.ts
  extensions/opencode/context-curator/lib/state/tool-cache.ts
  extensions/opencode/context-curator/lib/state/version.ts
  extensions/opencode/context-curator/lib/strategies/deduplication.ts
  extensions/opencode/context-curator/lib/strategies/index.ts
  extensions/opencode/context-curator/lib/strategies/purge-errors.ts
  extensions/opencode/context-curator/lib/strategies/supersede-writes.ts
  extensions/opencode/context-curator/lib/strategies/utils.ts
  extensions/opencode/context-curator/lib/tools/discard.ts
  extensions/opencode/context-curator/lib/tools/extract.ts
  extensions/opencode/context-curator/lib/tools/index.ts
  extensions/opencode/context-curator/lib/types.ts
  extensions/opencode/context-curator/package-lock.json
  extensions/opencode/context-curator/package.json
  extensions/opencode/context-curator/tests/deduplication.test.ts
  extensions/opencode/context-curator/tests/supersede-writes.test.ts
  extensions/opencode/context-curator/tsconfig.json
  scripts/check_reference_resolution.py
  spellbook/mcp/tools/__init__.py
  spellbook/mcp/tools/curator.py
  tests/mcp/tools/test_curator.py
Due: security-scan-changeset

Make version sync report an unusable manifest instead of swallowing it (#487)
  CHANGELOG.md
  installer/version.py
  tests/installer/test_version_sync.py
Due: security-scan-changeset

Run the generate-docs pre-commit hook in --check mode (#489)
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  docs/reference/contributing.md
Due: security-scan-changeset

Fix three stale records; put the pattern count behind a check (#486)
  CHANGELOG.md
  commands/audit-mirage-report.md
  commands/feature-discover.md
  docs/commands/audit-mirage-report.md
  docs/commands/feature-discover.md
  docs/skills/tooling-discovery.md
  skills/tooling-discovery/SKILL.md
  tests/test_skills/test_audit_mirage_pattern_sync.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Renumber the finish-branch record blocks to the five-option scale (#488)
  CHANGELOG.md
  commands/finish-branch-cleanup.md
  commands/finish-branch-execute.md
  docs/commands/finish-branch-cleanup.md
  docs/commands/finish-branch-execute.md
  docs/commands/index.md
  docs/skills/finishing-a-development-branch.md
  skills/finishing-a-development-branch/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix truncation sweep exit-status check and fetch refspec (BOT-C1, BOT-C2)
  docs/rules/50-git-safety.md
  docs/skills/debugging.md
  docs/skills/merging-worktrees.md
  rules/50-git-safety.md
  skills/debugging/SKILL.md
  skills/merging-worktrees/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fail the release when CHANGELOG has no section for the version (#482)
  .github/workflows/release.yml
  .pre-commit-config.yaml
  extensions/gemini/gemini-extension.json
  scripts/check_version_consistency.py
  tests/scripts/test_check_version_consistency.py
  tests/scripts/test_precommit_hook_entries_resolve.py
Due: none

Gate three destructive procedures behind stated-impact confirmation (#483)
  commands/merge-worktree-verify.md
  docs/commands/merge-worktree-verify.md
  docs/rules/50-git-safety.md
  docs/skills/debugging.md
  docs/skills/merging-worktrees.md
  rules/50-git-safety.md
  skills/debugging/SKILL.md
  skills/merging-worktrees/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Remove dead config_schema_entries from rule module loader (#491)
  CHANGELOG.md
  installer/components/rule_modules.py
  tests/installer/test_rule_modules.py
Due: security-scan-changeset

Add content-density protocol and dispatch survival protocols
  docs/skills/dispatching-parallel-agents.md
  skills/dispatching-parallel-agents/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add CHANGELOG entry for dispatch skill update
  CHANGELOG.md
Due: security-scan-changeset

Add content-density protocol and dispatch survival protocols (#492)
  CHANGELOG.md
  docs/skills/dispatching-parallel-agents.md
  skills/dispatching-parallel-agents/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Forbid doc-content assertions in the testing rule
  CHANGELOG.md
  docs/rules/81-testing.md
  rules/81-testing.md
Due: security-scan-changeset

Release 0.90.0
  .version
  CHANGELOG.md
  extensions/gemini/gemini-extension.json
Due: security-scan-changeset
