Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

test(canvas): deterministic timestamps + CHANGELOG entry for canvas
  CHANGELOG.md
  tests/canvas/test_store.py
Due: security-scan-changeset

fix(canvas): tolerate malformed SPELLBOOK_CANVAS_MAX_PAGE_BYTES
  spellbook/canvas/store.py
  tests/canvas/test_store.py
Due: none

fix(canvas): doc/test mock accuracy + Tabs identification dead code
  skills/canvas/SKILL.md
  spellbook/admin/frontend/src/canvas/shortcodes/Tabs.tsx
  spellbook/admin/frontend/src/pages/__tests__/CanvasDetail.test.tsx
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(changelog): admin security fixes
  CHANGELOG.md
Due: security-scan-changeset

test(worker_llm): inject Host/Origin headers into admin-scoped probe
  tests/test_worker_llm/test_events_publish_route.py
Due: none

docs: add worktree-switching note to AGENTS.md
  AGENTS.md
Due: security-scan-changeset

test(admin): drop dead _exchange_tokens reference in conftest fixture
  tests/admin/conftest.py
Due: none

docs(admin): update handoff token docstrings
  spellbook/admin/auth.py
Due: none

test(admin): convert test_cli/test_auth/test_app to tripwire
  tests/admin/test_app.py
  tests/admin/test_auth.py
  tests/admin/test_cli.py
Due: none

refactor(admin): frozenset allowed_origins + top-level auth import
  spellbook/admin/app.py
  spellbook/admin/middleware.py
Due: none

test(admin): send loopback headers in test_canvas authed_client
  tests/admin/routes/test_canvas.py
Due: none

test(admin): send loopback headers in canvas e2e admin_client
  tests/integration/test_canvas_e2e.py
Due: none

test(admin): convert test_origin_middleware to tripwire
  tests/admin/test_origin_middleware.py
Due: none

chore(ci): switch automatic PR reviewer to gemini-code-assist; keep momus on-demand via /ai-review
  .github/workflows/momus.yml
  AGENTS.md
Due: security-scan-changeset

test(admin): cover HostValidator WebSocket rejection path
  tests/admin/test_ws.py
Due: none

feat(admin): DNS rebinding + opaque handoff URL + WS origin + cookie path (#301)
  CHANGELOG.md
  spellbook/admin/app.py
  spellbook/admin/auth.py
  spellbook/admin/cli.py
  spellbook/admin/middleware.py
  spellbook/admin/routes/auth.py
  spellbook/admin/routes/ws.py
  tests/admin/conftest.py
  tests/admin/routes/test_canvas.py
  tests/admin/test_app.py
  tests/admin/test_auth.py
  tests/admin/test_cli.py
  tests/admin/test_focus_routes.py
  tests/admin/test_hooks_routes.py
  tests/admin/test_host_validator.py
  tests/admin/test_memory.py
  tests/admin/test_origin_middleware.py
  tests/admin/test_worker_llm_routes.py
  tests/admin/test_ws.py
  tests/integration/test_canvas_e2e.py
  tests/test_worker_llm/test_events_publish_route.py
Due: security-scan-changeset

feat(gates): reject unknown top-level keys in tiers.toml
  spellbook/gates/tiers.py
  tests/test_security/test_tiers_schema.py
Due: none

docs(gates): document strict top-level allow-list in tiers.toml header
  spellbook/gates/tiers.toml
Due: none

feat(gates): add spellbook.gates.git_push with ProtectedConfig loader
  spellbook/gates/git_push.py
  tests/test_security/conftest.py
  tests/test_security/test_git_push_classifier.py
Due: none

feat(gates): _resolve_current_branch with HEAD-mtime cache
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

feat(gates): classify_git_push pre-pass for protected-branch detection
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

feat(installer): validate [protected] at install time
  installer/components/permissions.py
  spellbook/gates/git_push.py
  tests/installer/test_l2_derivation.py
  tests/test_security/test_git_push_classifier.py
Due: none

feat(gates): thread cwd through check_tool_input and wire git_push pre-pass
  hooks/spellbook_hook.py
  spellbook/gates/check.py
  spellbook/gates/tiers.py
  tests/test_security/test_check_cwd.py
Due: none

feat(gates): narrow git push T2 to protected branches
  spellbook/gates/tiers.toml
Due: none

feat(gates): forward cwd from MCP wrapper and CLI entry
  spellbook/gates/check.py
  spellbook/mcp/tools/security.py
  tests/test_security/test_check_cli_cwd.py
  tests/test_security/test_check_tool_input_mcp.py
Due: none

test(security): update test_pure_t2_is_ask for new pre-pass
  tests/test_security/test_check.py
Due: none

test(security): update hook tests for git_push pre-pass + MCP fallback
  tests/test_security/test_check.py
  tests/test_security/test_hooks.py
Due: none

test(installer): pin L2 projection after catch-all removal
  tests/installer/test_l2_derivation.py
Due: none

docs(rules): scope Git Safety rule to protected branches
  AGENTS.spellbook.md
Due: security-scan-changeset

docs(changelog): note narrowed git push T2 + new [protected] knobs
  CHANGELOG.md
Due: security-scan-changeset

docs(tiers): document [protected], env-var overlay, sentinel
  spellbook/gates/tiers.toml
Due: none

docs: fix design-doc paraphrases + enumerate AUTONOMOUS env values
  CHANGELOG.md
Due: security-scan-changeset

refactor(gates): hoist stdlib imports + share tiers.toml path
  spellbook/gates/git_push.py
  spellbook/gates/tiers.py
Due: none

test(git_push): harden sentinel-disable tests + clarify test naming
  tests/test_security/test_git_push_classifier.py
Due: none

fix(git_push): resolve worktree gitdir, bound cache, normalize keys
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

chore(release): bump to 0.65.0 and consolidate Unreleased entries
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix(git_push): address Gemini round-2 review feedback
  spellbook/gates/git_push.py
  spellbook/gates/tiers.py
  tests/test_security/test_check_cwd.py
Due: none

fix(git_push): SECURITY classify implicit-remote and dest-+ refspecs
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none
