Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

Make develop a thin entry gate; move the orchestrator body to /develop-configure
  CHANGELOG.md
  README.md
  commands/develop-configure.md
  commands/feature-config.md
  commands/feature-design.md
  commands/feature-implement-execute.md
  docs/commands/develop-configure.md
  docs/commands/feature-config.md
  docs/commands/feature-design.md
  docs/commands/feature-implement-execute.md
  docs/commands/index.md
  docs/contributing/porting-to-your-assistant.md
  docs/rules/30-intent-routing.md
  docs/rules/40-develop-discipline.md
  docs/rules/60-autonomy.md
  docs/rules/index.md
  docs/skills/develop.md
  docs/skills/writing-plans.md
  hooks/spellbook_hook.py
  mkdocs.yml
  rules/30-intent-routing.md
  rules/40-develop-discipline.md
  rules/60-autonomy.md
  scripts/check_reference_resolution.py
  scripts/check_removed_mode_tokens.py
  scripts/develop_gate_ledger.py
  scripts/size_ceilings.json
  scripts/validate_schemas.py
  skills/develop/SKILL.md
  skills/develop/references/ledger-cli.md
  skills/writing-plans/SKILL.md
  tests/scripts/test_develop_amendment_structure.py
  tests/scripts/test_skill_load_path_claims.py
  tests/test_hooks/test_develop_post_compact.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Correct Phase 0's stale ceremony claim and skip the picker on the fast path
  CHANGELOG.md
  commands/feature-config.md
  docs/commands/feature-config.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Correct the operator contract's stale ceremony-selection window
  CHANGELOG.md
  commands/develop-configure.md
  docs/commands/develop-configure.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Make develop a thin entry gate that asks before spending ceremony (#493)
  CHANGELOG.md
  README.md
  commands/develop-configure.md
  commands/feature-config.md
  commands/feature-design.md
  commands/feature-implement-execute.md
  docs/commands/develop-configure.md
  docs/commands/feature-config.md
  docs/commands/feature-design.md
  docs/commands/feature-implement-execute.md
  docs/commands/index.md
  docs/contributing/porting-to-your-assistant.md
  docs/rules/30-intent-routing.md
  docs/rules/40-develop-discipline.md
  docs/rules/60-autonomy.md
  docs/rules/index.md
  docs/skills/develop.md
  docs/skills/writing-plans.md
  hooks/spellbook_hook.py
  mkdocs.yml
  rules/30-intent-routing.md
  rules/40-develop-discipline.md
  rules/60-autonomy.md
  scripts/check_reference_resolution.py
  scripts/check_removed_mode_tokens.py
  scripts/develop_gate_ledger.py
  scripts/size_ceilings.json
  scripts/validate_schemas.py
  skills/develop/SKILL.md
  skills/develop/references/ledger-cli.md
  skills/writing-plans/SKILL.md
  tests/scripts/test_develop_amendment_structure.py
  tests/scripts/test_skill_load_path_claims.py
  tests/test_hooks/test_develop_post_compact.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add the autonomous-mode skill
  README.md
  docs/skills/autonomous-mode.md
  mkdocs.yml
  skills/autonomous-mode/SKILL.md
  tests/test_scripts/test_skill_load_path_claims.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add autonomous session state, completion verification, philosophy enum
  docs/rules/92-core-philosophy.md
  rules/92-core-philosophy.md
  spellbook/core/autonomous.py
  tests/test_reorg/test_core_autonomous.py
Due: security-scan-changeset

Add the Stop hook that refuses a turn-end, and the escape phrase
  hooks/spellbook_hook.py
  tests/test_hooks/test_stop_hook_autonomous.py
Due: none

Register Stop and UserPromptSubmit, retire PreCompact, disable the block cap
  installer/components/hooks.py
  tests/installer/test_hook_phase_registration.py
  tests/installer/test_hooks_atomic_write.py
  tests/test_spellbook_mcp/test_memory_hook_registration.py
  tests/unit/test_upgrade_path.py
Due: none

Ask the autonomy question at develop's entry gate
  CHANGELOG.md
  commands/develop-configure.md
  docs/commands/develop-configure.md
  docs/skills/develop.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Stop the autonomous tests reaching outside their sandbox on Windows
  tests/installer/test_hook_phase_registration.py
  tests/test_hooks/test_stop_hook_autonomous.py
  tests/test_reorg/test_core_autonomous.py
Due: none

Respect an operator-chosen block cap, and say so when one is found
  docs/skills/autonomous-mode.md
  hooks/spellbook_hook.py
  installer/components/hooks.py
  skills/autonomous-mode/SKILL.md
  tests/installer/test_hook_phase_registration.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Use tripwire rather than monkeypatch for function replacement
  tests/test_hooks/test_stop_hook_autonomous.py
Due: none

Derive the Stop hook timeout instead of guessing it
  hooks/spellbook_hook.py
  installer/components/hooks.py
  spellbook/core/path_utils.py
  tests/installer/test_hook_phase_registration.py
  tests/test_hooks/test_stop_hook_budget.py
Due: none

Delete the superseded counter and measure the git budget without stubs
  spellbook/core/autonomous.py
  tests/test_hooks/test_stop_hook_budget.py
  tests/test_reorg/test_core_autonomous.py
Due: none

Convert test_update_config to tripwire, and prove each test can still fail
  CHANGELOG.md
  tests/unit/test_update_config.py
Due: security-scan-changeset

Make the Stop hook kick the session instead of judging the work
  CHANGELOG.md
  commands/develop-configure.md
  docs/commands/develop-configure.md
  docs/skills/autonomous-mode.md
  hooks/spellbook_hook.py
  installer/components/hooks.py
  skills/autonomous-mode/SKILL.md
  spellbook/core/autonomous.py
  spellbook/core/path_utils.py
  tests/installer/test_hook_phase_registration.py
  tests/test_hooks/test_stop_hook_autonomous.py
  tests/test_hooks/test_stop_hook_budget.py
  tests/test_reorg/test_core_autonomous.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Give autonomous mode a handle, and stop the hook trapping the session
  AGENTS.md
  CHANGELOG.md
  commands/develop-configure.md
  docs/commands/develop-configure.md
  docs/skills/autonomous-mode.md
  docs/skills/develop.md
  hooks/spellbook_hook.py
  installer/components/hooks.py
  skills/autonomous-mode/SKILL.md
  skills/autonomous-mode/scripts/autonomous_mode.py
  skills/develop/SKILL.md
  spellbook/core/autonomous.py
  tests/installer/test_hook_phase_registration.py
  tests/installer/test_hooks_atomic_write.py
  tests/test_hooks/test_stop_hook_autonomous.py
  tests/test_reorg/test_core_autonomous.py
  tests/test_scripts/test_skill_load_path_claims.py
  tests/test_skills/test_autonomous_mode_cli.py
  tests/test_spellbook_mcp/test_memory_hook_registration.py
  tests/unit/test_upgrade_path.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Convert test_update_config to tripwire, and prove each test can still fail (#496)
  CHANGELOG.md
  tests/unit/test_update_config.py
Due: security-scan-changeset

Make the state-dir isolation bug loud instead of fixing it a third time
  pyproject.toml
  tests/conftest.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_autonomous_mode_cli.py
  tests/test_state_dir_isolation.py
Due: none

Make autonomous mode bind through a Stop hook (#494)
  AGENTS.md
  CHANGELOG.md
  README.md
  commands/develop-configure.md
  docs/commands/develop-configure.md
  docs/rules/92-core-philosophy.md
  docs/skills/autonomous-mode.md
  docs/skills/develop.md
  hooks/spellbook_hook.py
  installer/components/hooks.py
  mkdocs.yml
  pyproject.toml
  rules/92-core-philosophy.md
  skills/autonomous-mode/SKILL.md
  skills/autonomous-mode/scripts/autonomous_mode.py
  skills/develop/SKILL.md
  spellbook/core/autonomous.py
  tests/conftest.py
  tests/installer/test_hook_phase_registration.py
  tests/installer/test_hooks_atomic_write.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_hooks/test_stop_hook_autonomous.py
  tests/test_reorg/test_core_autonomous.py
  tests/test_skills/test_autonomous_mode_cli.py
  tests/test_spellbook_mcp/test_memory_hook_registration.py
  tests/test_state_dir_isolation.py
  tests/unit/test_upgrade_path.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add research-backing section to README and citations page
  README.md
  docs/reference/citations.md
Due: security-scan-changeset

Add CHANGELOG entry for joint-acceptance rule and research backing
  CHANGELOG.md
Due: security-scan-changeset

Document that doc regeneration is required, not scope creep
  AGENTS.md
Due: security-scan-changeset

Add joint-acceptance work-item granularity rule to plan skills
  commands/review-plan-completeness.md
  docs/commands/review-plan-completeness.md
  docs/skills/writing-plans.md
  skills/writing-plans/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add joint-acceptance work-item granularity rule to plan skills (#495)
  AGENTS.md
  CHANGELOG.md
  README.md
  commands/review-plan-completeness.md
  docs/commands/review-plan-completeness.md
  docs/reference/citations.md
  docs/skills/writing-plans.md
  skills/writing-plans/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

rules: a stated action is executed in the turn that states it
  docs/rules/94-stated-action.md
  docs/rules/index.md
  mkdocs.yml
  rules/94-stated-action.md
Due: security-scan-changeset

hooks: give autonomous mode an on-switch that cannot be skipped
  hooks/spellbook_hook.py
Due: none

hooks: widen the autonomous entry phrases to what the operator actually says
  hooks/spellbook_hook.py
Due: none

fix(installer): deliver Antigravity skills to global ~/.gemini/config/skills root
  installer/platforms/antigravity.py
  tests/integration/test_antigravity_installer.py
  tests/unit/test_antigravity_installer.py
Due: none

test(rules): pin stated-action module in EXPECTED_PREFERENCE_IDS
  tests/installer/test_rule_modules.py
Due: none

fix(installer): deliver Antigravity skills to global ~/.gemini/config/skills root (#500)
  installer/platforms/antigravity.py
  tests/installer/test_rule_modules.py
  tests/integration/test_antigravity_installer.py
  tests/unit/test_antigravity_installer.py
Due: none

release: 0.91.0
  .version
  CHANGELOG.md
  extensions/gemini/gemini-extension.json
Due: security-scan-changeset

chore: remove scripts/audit_fk_orphans.py, which nothing invokes
  scripts/audit_fk_orphans.py
Due: none

chore: remove scripts/audit_fk_orphans.py, which nothing invokes (#501)
  scripts/audit_fk_orphans.py
Due: none

rules: forbid rebuilding removed checkers in the NMG2 repos
  docs/rules/30-intent-routing.md
  rules/30-intent-routing.md
Due: security-scan-changeset

verification: two shapes where a green test proves nothing
  docs/rules/45-verification.md
  rules/45-verification.md
Due: security-scan-changeset

rules: a metacharacter in a search pattern reports a false absence
  docs/rules/82-file-reading.md
  rules/82-file-reading.md
Due: security-scan-changeset
