Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

Fix incorrect slash command references in skill intros
  docs/diagrams/skills/debugging.md
  docs/diagrams/skills/gathering-requirements.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/debugging.md
  docs/skills/gathering-requirements.md
  docs/skills/test-driven-development.md
  skills/debugging/SKILL.md
  skills/gathering-requirements/SKILL.md
  skills/test-driven-development/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Rewrite quickstart: develop-first workflow, linked skill names
  docs/getting-started/quickstart.md
Due: security-scan-changeset

Add events endpoint, version display, and platform docs for admin
  CHANGELOG.md
  docs/admin/index.md
  docs/admin/sessions.md
  spellbook_mcp/admin/app.py
  spellbook_mcp/admin/events.py
  spellbook_mcp/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook_mcp/admin/frontend/src/contexts/WebSocketContext.tsx
  spellbook_mcp/admin/frontend/src/hooks/useEventStream.ts
  spellbook_mcp/admin/routes/events.py
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-2XW8viKs.js
  spellbook_mcp/admin/static/assets/index-DUW1m7sO.js
  spellbook_mcp/admin/static/index.html
  spellbook_mcp/server.py
Due: security-scan-changeset

Address Gemini code review findings
  .claude/skills/spellbook-auditing/SKILL.md
  .pre-commit-config.yaml
  install.py
  installer/version.py
  spellbook_mcp/admin/app.py
Due: security-scan-changeset

Add session detail types, hooks, and frontend test infrastructure
  spellbook_mcp/admin/frontend/package-lock.json
  spellbook_mcp/admin/frontend/package.json
  spellbook_mcp/admin/frontend/src/api/types.ts
  spellbook_mcp/admin/frontend/src/components/fractal/GraphDetailsSidebar.tsx
  spellbook_mcp/admin/frontend/src/components/sessions/MessageBubble.test.tsx
  spellbook_mcp/admin/frontend/src/components/sessions/MessageBubble.tsx
  spellbook_mcp/admin/frontend/src/hooks/useFractalGraph.ts
  spellbook_mcp/admin/frontend/src/hooks/useSessions.test.ts
  spellbook_mcp/admin/frontend/src/hooks/useSessions.ts
  spellbook_mcp/admin/frontend/src/pages/FractalExplorer.tsx
  spellbook_mcp/admin/frontend/src/test-setup.ts
  spellbook_mcp/admin/frontend/vite.config.ts
  spellbook_mcp/admin/routes/fractal.py
  spellbook_mcp/admin/routes/schemas.py
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-2XW8viKs.js
  spellbook_mcp/admin/static/assets/index-C1ubFCnU.js
  spellbook_mcp/admin/static/assets/index-DCXIUmK-.css
  spellbook_mcp/admin/static/assets/index-DsMV20eq.css
  spellbook_mcp/admin/static/index.html
  tests/admin/test_fractal_routes.py
  tests/admin/test_session_detail.py
Due: none

Add session detail and messages endpoint implementations
  spellbook_mcp/admin/routes/sessions.py
Due: none

Add SessionDetailPage and ChatHistoryPage with tests
  spellbook_mcp/admin/frontend/src/pages/ChatHistoryPage.test.tsx
  spellbook_mcp/admin/frontend/src/pages/ChatHistoryPage.tsx
  spellbook_mcp/admin/frontend/src/pages/SessionDetailPage.test.tsx
  spellbook_mcp/admin/frontend/src/pages/SessionDetailPage.tsx
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-BI7NzUKy.css
  spellbook_mcp/admin/static/assets/index-DCXIUmK-.css
  spellbook_mcp/admin/static/assets/index-Dl5jb7tv.js
  spellbook_mcp/admin/static/index.html
Due: none

Wire session detail and chat history routes with drill-down links
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/pages/Sessions.test.tsx
  spellbook_mcp/admin/frontend/src/pages/Sessions.tsx
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-DFTjeegF.js
  spellbook_mcp/admin/static/assets/index-Dl5jb7tv.js
  spellbook_mcp/admin/static/index.html
Due: none

Strengthen test assertions to eliminate green mirage issues
  spellbook_mcp/admin/frontend/src/components/sessions/MessageBubble.test.tsx
  spellbook_mcp/admin/frontend/src/pages/ChatHistoryPage.test.tsx
  spellbook_mcp/admin/frontend/src/pages/SessionDetailPage.test.tsx
  spellbook_mcp/admin/static/.build-hash
  tests/admin/test_session_detail.py
Due: none

Add session detail view and chat history to changelog
  CHANGELOG.md
Due: security-scan-changeset

Address Gemini review: add utf-8 encoding, clarify skill naming convention
  .claude/skills/spellbook-auditing/SKILL.md
  scripts/backfill_fractal_sessions.py
Due: security-scan-changeset

Complete changelog with missing items: login page, docs restructuring, installer features
  CHANGELOG.md
Due: security-scan-changeset

Add extra_meta parameter to insert_memory()
  tests/test_spellbook_mcp/test_memory_store.py
Due: none

Add get_recently_consolidated_events() to memory_store
  spellbook_mcp/memory_store.py
  tests/test_spellbook_mcp/test_memory_store.py
Due: none

Address Gemini review: combine SSH/HTTPS URL parsing regex
  spellbook_mcp/update_tools.py
Due: none

Fix daemon PATH detection, pre-release workflow, and update checker
  spellbook_mcp/update_tools.py
  tests/unit/test_update_tools.py
Due: none

Add 4 heuristic strategy functions with unit tests
  spellbook_mcp/memory_consolidation.py
Due: none

Add MEMORY_STORE_SCHEMA, do_get_unconsolidated(), and do_store_memories() to memory_tools.py
  tests/test_spellbook_mcp/test_memory_tools.py
Due: none

Rewrite consolidate_batch() to use heuristic pipeline instead of LLM calls
  spellbook_mcp/memory_consolidation.py
  tests/test_spellbook_mcp/test_memory_consolidation.py
Due: none

Register memory_get_unconsolidated and memory_store_memories as MCP tools in server.py
  tests/test_spellbook_mcp/test_memory_tools.py
Due: none

Add integration and end-to-end tests for heuristic consolidation pipeline and new MCP tools
  tests/test_spellbook_mcp/test_memory_consolidation.py
  tests/test_spellbook_mcp/test_memory_tools.py
Due: none

Fix namespace bug in consolidate_batch and tighten test assertions
  tests/test_spellbook_mcp/test_memory_consolidation.py
Due: none

Address Gemini review feedback
  spellbook_mcp/memory_consolidation.py
Due: none

Address Gemini review: reuse helper and log unparseable IDs
  spellbook_mcp/memory_consolidation.py
  spellbook_mcp/memory_tools.py
  tests/test_spellbook_mcp/test_memory_consolidation.py
Due: none

Refactor memory consolidation to heuristic pipeline (#122)
  spellbook_mcp/memory_consolidation.py
  spellbook_mcp/memory_store.py
  spellbook_mcp/memory_tools.py
  tests/test_spellbook_mcp/test_memory_store.py
  tests/test_spellbook_mcp/test_memory_tools.py
Due: none

Fix daemon PATH detection and update checker (#123)
  spellbook_mcp/update_tools.py
  tests/unit/test_update_tools.py
Due: none

Fix three failing tests caused by fractal v3 schema changes
  spellbook_mcp/fractal/schema.py
  tests/admin/test_performance.py
  tests/test_fractal/test_schema.py
Due: none

Fix Windows CI failures in test_compaction_detector.py
  tests/admin/test_compaction_detector.py
Due: none

Release 0.32.0: Web admin interface, session detail view, docs restructuring
  .version
  CHANGELOG.md
Due: security-scan-changeset

Fact-check and tone pass across README, docs, and citations
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  README.md
  SECURITY.md
  THIRD-PARTY-NOTICES
  docs/admin/index.md
  docs/contributing/porting-to-your-assistant.md
  docs/getting-started/installation.md
  docs/getting-started/platforms.md
  docs/index.md
  docs/reference/architecture.md
  docs/reference/citations.md
  docs/reference/contributing.md
  docs/security.md
  docs/skills/fun-mode.md
  skills/fun-mode/SKILL.md
  spellbook_mcp/security/scanner.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix security scanner: allowlist instruction tags, fix INJ-003 regex
  docs/contributing/porting-to-your-assistant.md
  spellbook_mcp/security/rules.py
  spellbook_mcp/security/scanner.py
Due: security-scan-changeset

Restore EmotionPrompt content to LLM instruction files
  AGENTS.spellbook.md
  docs/contributing/porting-to-your-assistant.md
Due: security-scan-changeset

feat: create spellbook package scaffold with three-layer architecture
  spellbook/__init__.py
  spellbook/__main__.py
  spellbook/cli/__init__.py
  spellbook/cli/commands/__init__.py
  spellbook/cli/main.py
  spellbook/core/__init__.py
  spellbook/daemon/__init__.py
  spellbook/experiments/__init__.py
  spellbook/health/__init__.py
  spellbook/mcp/__init__.py
  spellbook/mcp/tools/__init__.py
  spellbook/memory/__init__.py
  spellbook/notifications/__init__.py
  spellbook/sessions/__init__.py
  spellbook/updates/__init__.py
  tests/test_reorg/__init__.py
  tests/test_reorg/test_scaffold.py
Due: none

feat: copy auth.py to spellbook.core.auth
  spellbook/core/auth.py
  tests/test_reorg/test_core_auth.py
Due: none

feat: copy db.py to spellbook.core.db
  spellbook/core/db.py
  tests/test_reorg/test_core_db.py
Due: none

feat: create spellbook.core.compat with runtime subset
  spellbook/core/compat.py
  tests/test_reorg/test_core_compat.py
Due: none

feat: copy path_utils.py to spellbook.core.path_utils
  spellbook/core/path_utils.py
  tests/test_reorg/test_core_path_utils.py
Due: none

feat: copy config_tools.py to spellbook.core.config with env var compat
  spellbook/core/config.py
  spellbook/core/db.py
  tests/test_reorg/test_core_config.py
Due: none

feat: copy models.py to spellbook.core.models
  spellbook/core/models.py
  tests/test_reorg/test_core_models.py
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
