Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

feat(planlint): rules/files.py — modify-path-missing, create-path-exists
  spellbook/planlint/registry.py
  spellbook/planlint/rules/files.py
  tests/test_scripts/fixtures/planlint/neg_create_path_exists.md
  tests/test_scripts/fixtures/planlint/neg_modify_path_missing.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

fix(planlint): reject absolute/traversal Files: paths before filesystem checks; cover execution-phase OFF branch
  spellbook/planlint/rules/files.py
  tests/test_scripts/test_planlint_rules.py
Due: none

test(planlint): fix green-mirage traversal-path test to genuinely exercise the is_relative_to guard
  tests/test_scripts/test_planlint_rules.py
Due: none

feat(planlint): rules/ownership.py — shared-path-without-owner
  spellbook/planlint/registry.py
  spellbook/planlint/rules/ownership.py
  tests/test_scripts/fixtures/planlint/neg_shared_path_no_owner.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

fix(planlint): report the specific unordered claimant pair in shared-path-without-owner evidence, not a blanket no-ordering claim
  spellbook/planlint/rules/ownership.py
  tests/test_scripts/test_planlint_rules.py
Due: none

feat(planlint): rules/schema.py — schema-conflict, schema-unknown-version (rule pack complete: 7/7 modules)
  spellbook/planlint/registry.py
  spellbook/planlint/rules/schema.py
  tests/test_scripts/fixtures/planlint/neg_schema_conflict.md
  tests/test_scripts/fixtures/planlint/neg_schema_unknown_version.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

fix(planlint): avoid double-reporting a fallback plan-level Schema and attribute section to the owning task
  spellbook/planlint/rules/schema.py
  tests/test_scripts/fixtures/planlint/neg_schema_conflict_task_section.md
  tests/test_scripts/fixtures/planlint/neg_schema_fallback_unknown_version.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

feat(planlint): api.py — declares_schema gate, lint_text/lint_path, three call-site wrappers, PlanLintReport
  spellbook/planlint/__init__.py
  spellbook/planlint/api.py
  spellbook/planlint/registry.py
  tests/test_scripts/test_planlint_api.py
Due: none

fix(planlint): use tripwire instead of monkeypatch.setattr in test_planlint_api.py; strengthen assertions
  tests/test_scripts/test_planlint_api.py
Due: none

fix(planlint): no-rules-ran false-pass guard, gate/parser line-ending agreement, undecided-aware summary, crashed-rule visibility in decided_claims
  spellbook/planlint/api.py
  spellbook/planlint/document.py
  spellbook/planlint/finding.py
  spellbook/planlint/registry.py
  tests/test_scripts/test_planlint_api.py
Due: none

fix(planlint): pin SCHEMA_FAMILY widening with tests, restrict IGNORECASE to ASCII, tighten 6 assertions to full equality, document gate/rule case-sensitivity split
  spellbook/planlint/api.py
  spellbook/planlint/document.py
  tests/test_scripts/test_planlint_api.py
  tests/test_scripts/test_planlint_document.py
Due: none

docs(planlint): document the crashed-rule case in decided_claims() docstring
  spellbook/planlint/api.py
Due: none

feat(planlint): cli.py — spellbook-planlint entry point
  pyproject.toml
  spellbook/planlint/cli.py
  tests/test_scripts/test_planlint_cli.py
Due: none

fix(planlint): CLI reports skipped-rule state instead of false-clean; structured skip_kind replaces prose-sniffing; validate --repo-root; tighten CLI test assertions to full equality
  spellbook/planlint/api.py
  spellbook/planlint/cli.py
  spellbook/planlint/finding.py
  spellbook/planlint/registry.py
  tests/test_scripts/test_planlint_api.py
  tests/test_scripts/test_planlint_cli.py
Due: none

fix(planlint): de-flake COLUMNS-dependent CLI tests, close skip_kind/report()-skip-branch coverage gaps, fix empty --repo-root bypass, handle findings+skipped coexistence, document exit codes
  spellbook/planlint/cli.py
  spellbook/planlint/finding.py
  tests/test_scripts/test_planlint_api.py
  tests/test_scripts/test_planlint_cli.py
  tests/test_scripts/test_planlint_finding.py
Due: none

test(planlint): computed Schema: gate census, adapted from nmg2-tools test_marker_census.py
  tests/test_scripts/test_planlint_schema_census.py
Due: none

fix(planlint): census now detects ANY added schema-value assignment target, not just removal of the two named ones; document scope boundary; fix accessor_set class-collision risk
  tests/test_scripts/test_planlint_schema_census.py
Due: none

test(planlint): suite hygiene - 4 carried checks + fixture-README reconciliation + parametrize-aware discovery count
  spellbook/planlint/README.md
  tests/test_scripts/test_planlint_suite_integrity.py
Due: security-scan-changeset

test(planlint): legacy-plan zero-invocation proof — the 75 in-flight legacy plans guarantee
  tests/test_scripts/test_planlint_api.py
Due: none

fix(planlint): use stronger never-called assertion for zero-invocation proof; rename mislabeled 'amendment cycle' test; remove inert file-write ceremony
  tests/test_scripts/test_planlint_api.py
Due: none

test(planlint): checkability 9.1/9.2/9.3/9.11 — vocabulary grep, subprocess freedom, packaging, stdlib-only imports
  spellbook/planlint/finding.py
  tests/test_scripts/test_planlint_suite_integrity.py
  tests/test_scripts/test_planlint_vocabulary.py
Due: none

fix(planlint): correct finding.py docstring accuracy, fix vocabulary-test lint errors, guard against vacuous empty-scan passes, document 9.1/9.11 scope limits, strengthen 9.3
  spellbook/planlint/finding.py
  tests/test_scripts/test_planlint_vocabulary.py
Due: none

test(planlint): checkability 9.4/9.5/9.7/9.10 — mutation coverage completeness, rule-ID discipline, RULES-tuple structural check, barrier static check
  tests/test_scripts/test_planlint_vocabulary.py
Due: none

fix(planlint): close 9.5/9.10 evadability gaps found by mutation, fix Full Assertion Principle violation, add vacuous-pass guard, fix ruff regression, document scope limits
  tests/test_scripts/test_planlint_vocabulary.py
Due: none

docs(writing-plans): template Depends:/Check:/Schema: fields, Field Definitions, Plan Lint Self-Check
  skills/writing-plans/SKILL.md
  tests/test_scripts/test_writing_plans_skill_planlint.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs: regenerate writing-plans skill doc mirror for Task 19's SKILL.md edits
  docs/skills/writing-plans.md
Due: security-scan-changeset

fix(planlint): register writing-plans skill test in PLANLINT_TEST_MODULES (was shipping RED), clarify repo_root Path coercion and report.linted check in Plan Lint Self-Check example
  docs/skills/writing-plans.md
  skills/writing-plans/SKILL.md
  tests/test_scripts/test_planlint_suite_integrity.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(reviewing-impl-plans): Phase 0 mechanized pre-pass, Report Assembly block, reflection self-check
  docs/skills/reviewing-impl-plans.md
  skills/reviewing-impl-plans/SKILL.md
  tests/test_scripts/test_planlint_suite_integrity.py
  tests/test_scripts/test_reviewing_impl_plans_skill_planlint.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(reviewing-impl-plans): handle report.linted=False as a distinct UNAVAILABLE state, not silently RAN-with-nothing-to-cover
  docs/skills/reviewing-impl-plans.md
  skills/reviewing-impl-plans/SKILL.md
  tests/test_scripts/test_reviewing_impl_plans_skill_planlint.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(executing-plans): schema-gated disk-write re-lint hook (fail-open)
  docs/skills/executing-plans.md
  skills/executing-plans/SKILL.md
  tests/test_scripts/test_executing_plans_skill_planlint.py
  tests/test_scripts/test_planlint_suite_integrity.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(executing-plans): resolve Stop-Conditions contradiction, add crash-handling and skipped-rule visibility, coerce repo_root to Path, tighten test assertions
  docs/skills/executing-plans.md
  skills/executing-plans/SKILL.md
  tests/test_scripts/test_executing_plans_skill_planlint.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(reviewing-impl-plans): add missing declares_schema import, coerce repo_root to Path, reconcile UNAVAILABLE wording with report template
  docs/skills/reviewing-impl-plans.md
  skills/reviewing-impl-plans/SKILL.md
  tests/test_scripts/test_reviewing_impl_plans_skill_planlint.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

test(planlint): checkability 9.8/9.9 — template self-check via own consistency rule, call-site documentation grep (port complete: 22/22 tasks)
  tests/test_scripts/test_planlint_vocabulary.py
Due: none

fix(planlint): update stale Task-22 module docstring, report full missing-field list instead of short-circuiting
  tests/test_scripts/test_planlint_vocabulary.py
Due: none

fix(planlint): a task-header-shaped line inside an already-open fence is fence content, not a segment boundary
  spellbook/planlint/document.py
  tests/test_scripts/test_planlint_document.py
Due: none

fix(planlint): use fence info-strings (opener vs bare closer) to disambiguate segmentation instead of fragile global parity
  spellbook/planlint/document.py
  tests/test_scripts/test_planlint_document.py
Due: none

docs(planlint): record known limitation — fence pairing is delimiter-length-blind, verified safe for the current repo corpus
  spellbook/planlint/document.py
Due: none

fix(planlint): files.py routes through guard_no_input (was a false-clean on zero Files: entries), fix examined counting, remove forbidden monkeypatch.setattr usage
  spellbook/planlint/rules/files.py
  tests/test_scripts/test_planlint_rules.py
  tests/test_scripts/test_planlint_vocabulary.py
Due: none

test(planlint): cover examined-counting guard exclusion, strengthen no-input test to full LintResult equality
  tests/test_scripts/test_planlint_rules.py
Due: none

test(planlint): close green-mirage gaps — SKILL.md tests now assert exact content instead of tokens, cover untested checks.py/consistency.py/depends.py behaviors
  tests/test_scripts/test_executing_plans_skill_planlint.py
  tests/test_scripts/test_planlint_api.py
  tests/test_scripts/test_planlint_cli.py
  tests/test_scripts/test_planlint_document.py
  tests/test_scripts/test_planlint_rules.py
  tests/test_scripts/test_reviewing_impl_plans_skill_planlint.py
  tests/test_scripts/test_writing_plans_skill_planlint.py
Due: none
