Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

Auto-register messaging at session init (#186)
  CHANGELOG.md
  spellbook/core/path_utils.py
  spellbook/mcp/tools/config.py
  spellbook/mcp/tools/messaging.py
  spellbook/messaging/bus.py
  tests/test_messaging.py
  tests/test_path_utils.py
  tests/test_session_init_messaging.py
Due: security-scan-changeset

Add pr-dance command and PR dance integration option
  .version
  CHANGELOG.md
  README.md
  commands/finish-branch-execute.md
  commands/pr-dance.md
  docs/commands/finish-branch-execute.md
  docs/commands/index.md
  docs/commands/pr-dance.md
  docs/diagrams/commands/finish-branch-execute.md
  docs/skills/finishing-a-development-branch.md
  mkdocs.yml
  scripts/generate_diagrams.py
  skills/finishing-a-development-branch/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix unified SDK wrapper: stream output, add timeout, extract TextBlock
  CHANGELOG.md
  scripts/generate_diagrams.py
  spellbook/sdk/unified.py
Due: security-scan-changeset

Fix PromptSleuth installer: remove dead api_key config, fix description
  .version
  CHANGELOG.md
  installer/components/security.py
  installer/tui.py
Due: security-scan-changeset

Fix pre-release repo name and OpenCode plugin export format
  AGENTS.md
  hooks/opencode-plugin.ts
  tests/test_security/test_opencode_plugin.py
Due: security-scan-changeset

Add OpenCode provider to unified SDK and diagram generator
  scripts/generate_diagrams.py
  spellbook/sdk/unified.py
Due: none

Remove Crush platform support
  .version
  AGENTS.md
  CHANGELOG.md
  README.md
  SECURITY.md
  docs/admin/index.md
  docs/admin/sessions.md
  docs/contributing/porting-to-your-assistant.md
  docs/getting-started/installation.md
  docs/getting-started/platforms.md
  docs/index.md
  docs/security.md
  docs/windows-support-report.md
  installer/config.py
  installer/core.py
  installer/platforms/crush.py
  spellbook/cli/commands/install.py
  spellbook/daemon/service.py
  spellbook/daemon/terminal.py
  tests/docker/conftest.py
  tests/docker/test_platform_install.py
  tests/test_crush_installer.py
  tests/test_daemon_install.py
  tests/test_multi_target_config.py
  tests/test_multi_target_install.py
  tests/test_spellbook_mcp/test_terminal_security.py
Due: security-scan-changeset

Address review feedback: add CHANGELOG date, clarify core.py comment
  CHANGELOG.md
  installer/core.py
Due: security-scan-changeset

feat: add z.AI model registry, concurrency manager, and OpenCode client foundation
  docs/getting-started/platforms.md
  installer/platforms/opencode.py
  scripts/generate_diagrams.py
  spellbook/coordination/stint.py
  spellbook/core/concurrency.py
  spellbook/core/db.py
  spellbook/core/zai_models.py
  spellbook/mcp/tools/coordination.py
  tests/unit/test_opencode_agent_client_on_text.py
  tests/unit/test_stint_tools.py
  tests/unit/test_zai_concurrency.py
  tests/unit/test_zai_models.py
Due: security-scan-changeset

feat: add z.AI configuration access module with typed z.AI config functions
  spellbook/core/zai_config.py
  tests/unit/test_zai_config.py
Due: none

feat: add z.AI MCP tools with bigfoot tests
  spellbook/mcp/tools/__init__.py
  spellbook/mcp/tools/zai_models.py
  tests/unit/test_zai_mcp_tools.py
Due: none

docs: add z.AI model management guide and update platform docs
  README.md
  docs/features/zai-model-management.md
  docs/getting-started/platforms.md
Due: security-scan-changeset

feat: session-scoped stint support, bigfoot test fixes, and z.AI concurrency test cleanup
  extensions/opencode/spellbook-workflow-state/index.ts
  extensions/opencode/spellbook-workflow-state/lib/hooks.ts
  extensions/opencode/spellbook-workflow-state/lib/mcp-client.ts
  extensions/opencode/spellbook-workflow-state/lib/state.ts
  extensions/opencode/spellbook-workflow-state/lib/types.ts
  spellbook/coordination/stint.py
  spellbook/db/spellbook_models.py
  spellbook/mcp/tools/coordination.py
  tests/test_reorg/test_tool_count.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_stint_tools.py
  tests/unit/test_zai_concurrency.py
Due: none

chore: remove test artifact from PR branch
  tests/unit/test_unified_sdk.py
Due: none

Fix OpenCode security plugin: remove dead SPELLBOOK_DIR guard
  hooks/opencode-plugin.ts
Due: none

fix: address PR review feedback for z.AI concurrency and config
  installer/platforms/opencode.py
  spellbook/coordination/stint.py
  spellbook/core/concurrency.py
  spellbook/core/zai_config.py
  spellbook/mcp/tools/zai_models.py
  tests/unit/test_zai_config.py
Due: none

fix: add logging to silent exception handlers, fix stale plugin test
  spellbook/core/concurrency.py
  spellbook/core/zai_models.py
  spellbook/mcp/tools/zai_models.py
  tests/test_security/test_opencode_plugin.py
Due: none

Merge vite 8.0.2 (admin frontend): resolve conflict, take all latest versions
  spellbook/admin/frontend/package-lock.json
  spellbook/admin/frontend/package.json
Due: none

feat: session-scoped stint support, OpenCode extension improvements, and SDK tests
  extensions/opencode/spellbook-workflow-state/index.ts
  extensions/opencode/spellbook-workflow-state/lib/hooks.ts
  extensions/opencode/spellbook-workflow-state/lib/mcp-client.ts
  extensions/opencode/spellbook-workflow-state/lib/state.ts
  extensions/opencode/spellbook-workflow-state/lib/types.ts
  hooks/opencode-plugin.ts
  spellbook/coordination/stint.py
  spellbook/core/db.py
  spellbook/db/spellbook_models.py
  spellbook/mcp/tools/coordination.py
  tests/test_security/test_opencode_plugin.py
  tests/unit/test_opencode_agent_client_on_text.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_stint_tools.py
  tests/unit/test_unified_sdk.py
Due: none

docs: improve feature-research diagram; fix generate_diagrams.py merge
  docs/commands/feature-research.md
  docs/diagrams/commands/feature-research.md
  scripts/generate_diagrams.py
Due: generate-docs, security-scan-changeset

fix: restore unified.py from main (fix bad merge resolution)
  spellbook/sdk/unified.py
Due: none

fix: address PR review feedback, make session_id mandatory for stints
  .version
  CHANGELOG.md
  extensions/opencode/spellbook-workflow-state/lib/hooks.ts
  extensions/opencode/spellbook-workflow-state/lib/mcp-client.ts
  spellbook/coordination/stint.py
  spellbook/core/db.py
  spellbook/db/spellbook_models.py
  spellbook/mcp/tools/coordination.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_stint_tools.py
Due: security-scan-changeset

refactor: consolidate stint migrations, extract session_id helper
  spellbook/core/db.py
  spellbook/mcp/tools/coordination.py
Due: none

fix: log legacy row deletion count during migration, clarify best-effort intent
  spellbook/coordination/stint.py
  spellbook/core/db.py
Due: none

fix: resolve merge test failures and exclude bots from welcome action
  .github/workflows/welcome.yml
  tests/admin/test_analytics_routes_orm.py
  tests/admin/test_compaction_detector.py
  tests/admin/test_config.py
  tests/admin/test_dashboard.py
  tests/admin/test_dashboard_orm.py
  tests/admin/test_db.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_health_routes.py
  tests/admin/test_memory.py
  tests/admin/test_performance.py
  tests/admin/test_session_detail.py
  tests/admin/test_sessions.py
  tests/test_cli/test_events_cmd.py
  tests/test_daemon_install.py
  tests/test_end_to_end_execution_mode.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_tts_hooks.py
  tests/test_spellbook_mcp/test_auth.py
  tests/test_spellbook_mcp/test_health_check.py
  tests/test_spellbook_mcp/test_memory_tools.py
  tests/test_spellbook_mcp/test_server_branch_wiring.py
  tests/test_spellbook_mcp/test_server_integration.py
  tests/test_spellbook_mcp/test_tooling_discovery.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/unit/test_installer_tts.py
  tests/unit/test_sleuth_mcp.py
Due: none

refactor: move get_db_path to top-level import
  spellbook/coordination/stint.py
Due: none

fix: precise UNIQUE constraint check in migration, use INSERT ON CONFLICT for upsert
  spellbook/coordination/stint.py
  spellbook/core/db.py
Due: none

refactor: use PRAGMA for migration schema checks instead of string parsing
  spellbook/core/db.py
Due: none

fix: make hook config path overridable, fix content provenance test failures
  hooks/spellbook_hook.py
  tests/test_security/test_hooks.py
  tests/unit/test_stint_hooks.py
Due: none

fix: migrate legacy NULL session rows to 'legacy', remove redundant indexes, fix mutate_fn type hint
  spellbook/coordination/stint.py
  spellbook/core/db.py
  tests/unit/test_stint_tools.py
Due: none

fix: admin frontend build - align React 19, add @testing-library/dom, revert tailwind v4
  spellbook/admin/frontend/package-lock.json
  spellbook/admin/frontend/package.json
  spellbook/admin/frontend/src/hooks/useWebSocket.ts
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-BHxTwPAW.css
  spellbook/admin/static/assets/index-CN0qBn5s.js
  spellbook/admin/static/assets/index-Ce5DzN6Y.js
  spellbook/admin/static/assets/index-DH0IE3aT.css
  spellbook/admin/static/index.html
Due: none

feat: session-scoped stint support, OpenCode extension improvements, and SDK tests (#189)
  .version
  CHANGELOG.md
  extensions/opencode/spellbook-workflow-state/index.ts
  extensions/opencode/spellbook-workflow-state/lib/hooks.ts
  extensions/opencode/spellbook-workflow-state/lib/mcp-client.ts
  extensions/opencode/spellbook-workflow-state/lib/state.ts
  extensions/opencode/spellbook-workflow-state/lib/types.ts
  hooks/opencode-plugin.ts
  spellbook/coordination/stint.py
  spellbook/core/db.py
  spellbook/db/spellbook_models.py
  spellbook/mcp/tools/coordination.py
  tests/test_security/test_opencode_plugin.py
  tests/unit/test_opencode_agent_client_on_text.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_stint_tools.py
  tests/unit/test_unified_sdk.py
Due: security-scan-changeset

chore: bump version to 0.46.0 and add CHANGELOG entry
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix: address Gemini review findings for TTS, config, and diagrams
  scripts/generate_diagrams.py
  spellbook/core/config.py
  spellbook/notifications/tts.py
Due: none

fix: resolve vite 8 compatibility issues and rebuild frontend
  AGENTS.spellbook.md
  spellbook/admin/frontend/package-lock.json
  spellbook/admin/frontend/package.json
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-CN0qBn5s.js
  spellbook/admin/static/assets/index-Ds0IjVJx.js
  spellbook/admin/static/index.html
Due: security-scan-changeset

fix: include tts dependency group in CI install
  .github/workflows/test.yml
Due: none

fix: install PortAudio system library in CI for sounddevice
  .github/workflows/test.yml
Due: none

fix: use Path() for platform-agnostic WAV path assertions in TTS tests
  tests/test_spellbook_mcp/test_tts_core.py
Due: none

fix: don't block Bash commands on LOW-severity entropy findings
  .version
  CHANGELOG.md
  spellbook/security/check.py
Due: security-scan-changeset

refactor: use all() for safe determination per review feedback
  spellbook/security/check.py
Due: none
