Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

Bump version to 0.27.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

Extend verification hardening to dehallucination, devil's advocate, and implementing-features
  commands/fact-check-verify.md
  docs/commands/fact-check-verify.md
  docs/diagrams/commands/fact-check-verify.md
  docs/diagrams/skills/implementing-features.md
  docs/skills/dehallucination.md
  docs/skills/devils-advocate.md
  docs/skills/fact-checking.md
  docs/skills/implementing-features.md
  skills/dehallucination/SKILL.md
  skills/devils-advocate/SKILL.md
  skills/fact-checking/SKILL.md
  skills/implementing-features/SKILL.md
  skills/shared-references/evidence-hierarchy.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Bump version to 0.28.0
  .version
  AGENTS.md
  AGENTS.spellbook.md
  CHANGELOG.md
Due: security-scan-changeset

Add fractal-thinking integration for roundtable ITERATE path
  commands/reflexion-analyze.md
  docs/commands/reflexion-analyze.md
  docs/diagrams/skills/autonomous-roundtable.md
  docs/skills/autonomous-roundtable.md
  docs/skills/creating-issues-and-pull-requests.md
  skills/autonomous-roundtable/SKILL.md
  spellbook_mcp/forged/__init__.py
  spellbook_mcp/forged/fractal_feedback.py
  spellbook_mcp/forged/roundtable.py
  tests/test_forged/test_fractal_feedback.py
  tests/test_forged/test_fractal_integration.py
  tests/test_forged/test_roundtable.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Remove git-show fallback from update checker
  spellbook_mcp/update_tools.py
  tests/unit/test_update_tools.py
Due: none

Address Gemini Code Assist review findings
  spellbook_mcp/forged/fractal_feedback.py
  spellbook_mcp/forged/iteration_tools.py
  spellbook_mcp/forged/roundtable.py
  spellbook_mcp/server.py
  tests/test_forged/test_iteration_tools.py
  tests/test_forged/test_roundtable.py
Due: none

Add explicit memory_recall and memory_store integration to Tier 1 skills
  docs/skills/advanced-code-review.md
  docs/skills/code-review-diagram.md
  docs/skills/code-review.md
  docs/skills/creating-issues-and-pull-requests.md
  docs/skills/debugging.md
  docs/skills/implementing-features.md
  docs/skills/verifying-hunches.md
  skills/advanced-code-review/SKILL.md
  skills/code-review/SKILL.md
  skills/debugging/SKILL.md
  skills/implementing-features/SKILL.md
  skills/verifying-hunches/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Bump version to 0.28.1
  .version
  CHANGELOG.md
Due: security-scan-changeset

Fix diagram generation inside active Claude Code sessions
  scripts/generate_diagrams.py
Due: none

Bump version to 0.29.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

Add branch-aware memory recall and storage
  docs/skills/implementing-features.md
  hooks/memory-capture.sh
  hooks/memory-inject.sh
  skills/implementing-features/SKILL.md
  spellbook_mcp/branch_ancestry.py
  spellbook_mcp/db.py
  spellbook_mcp/memory_consolidation.py
  spellbook_mcp/memory_store.py
  spellbook_mcp/memory_tools.py
  spellbook_mcp/path_utils.py
  spellbook_mcp/server.py
  tests/test_hooks/test_memory_hooks_branch.py
  tests/test_spellbook_mcp/test_branch_ancestry.py
  tests/test_spellbook_mcp/test_branch_awareness_schema.py
  tests/test_spellbook_mcp/test_consolidation_branch.py
  tests/test_spellbook_mcp/test_memory_capture_hook.py
  tests/test_spellbook_mcp/test_memory_store_branch.py
  tests/test_spellbook_mcp/test_memory_tools.py
  tests/test_spellbook_mcp/test_memory_tools_branch.py
  tests/test_spellbook_mcp/test_namespace_unification.py
  tests/test_spellbook_mcp/test_recall_branch_scoring.py
  tests/test_spellbook_mcp/test_server_branch_wiring.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix hook newline splitting and extract shared branch scoring helper
  hooks/memory-capture.sh
  hooks/memory-inject.sh
  spellbook_mcp/memory_store.py
Due: none

Add base branch detection to feature-config (Phase 0.05)
  commands/feature-config.md
  docs/commands/feature-config.md
  docs/skills/implementing-features.md
  skills/implementing-features/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix git fetch not updating remote tracking ref in CI
  spellbook_mcp/update_tools.py
Due: none

Use bare git fetch for portable remote ref updates
  spellbook_mcp/update_tools.py
  tests/integration/test_update_flow.py
Due: none

Fix update flow integration tests for CI environments
  tests/integration/test_update_flow.py
Due: none

Fix update tests to match API-only version detection
  spellbook_mcp/update_tools.py
  tests/integration/test_update_flow.py
  tests/unit/test_update_tools.py
Due: none

Add memory_purge_topic tool, fix diagram generation
  AGENTS.spellbook.md
  commands/simplify-transform.md
  docs/commands/feature-config.md
  docs/commands/simplify-transform.md
  docs/diagrams/commands/feature-config.md
  docs/diagrams/commands/simplify-transform.md
  docs/diagrams/skills/advanced-code-review.md
  docs/diagrams/skills/code-review.md
  docs/diagrams/skills/debugging.md
  docs/diagrams/skills/generating-diagrams.md
  docs/diagrams/skills/implementing-features.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review.md
  docs/skills/debugging.md
  docs/skills/generating-diagrams.md
  docs/skills/implementing-features.md
  scripts/check-readme-completeness.py
  scripts/generate_diagrams.py
  scripts/validate_schemas.py
  skills/generating-diagrams/SKILL.md
  spellbook_mcp/memory_store.py
  spellbook_mcp/memory_tools.py
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_memory_purge.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix worktree path lookup for paths with spaces
  commands/feature-config.md
  docs/commands/feature-config.md
  docs/diagrams/commands/feature-config.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add memory_purge_topic tool, fix diagram generation, address review feedback
  AGENTS.spellbook.md
  commands/feature-config.md
  commands/simplify-transform.md
  docs/commands/feature-config.md
  docs/commands/simplify-transform.md
  docs/diagrams/commands/feature-config.md
  docs/diagrams/commands/simplify-transform.md
  docs/diagrams/skills/advanced-code-review.md
  docs/diagrams/skills/code-review.md
  docs/diagrams/skills/debugging.md
  docs/diagrams/skills/generating-diagrams.md
  docs/diagrams/skills/implementing-features.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review.md
  docs/skills/debugging.md
  docs/skills/generating-diagrams.md
  docs/skills/implementing-features.md
  scripts/check-readme-completeness.py
  scripts/generate_diagrams.py
  scripts/validate_schemas.py
  skills/generating-diagrams/SKILL.md
  skills/implementing-features/SKILL.md
  spellbook_mcp/memory_store.py
  spellbook_mcp/memory_tools.py
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_memory_purge.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Update quickstart docs with current skills and workflows
  docs/getting-started/quickstart.md
Due: security-scan-changeset

Use book logo instead of star logo in docs site
  docs/index.md
  mkdocs.yml
Due: security-scan-changeset

Fix Windows test failures in namespace and hook tests
  spellbook_mcp/path_utils.py
  tests/test_hooks/test_memory_hooks_branch.py
  tests/test_spellbook_mcp/test_namespace_unification.py
Due: none

Release 0.30.0: branch-aware memory system
  .version
  CHANGELOG.md
Due: security-scan-changeset

Add migration for branch column on existing databases
  spellbook_mcp/db.py
Due: none

Release 0.30.1: fix database migration for branch column
  .version
  CHANGELOG.md
Due: security-scan-changeset

Release 0.30.2: fix MCP auth header missing from installer
  .version
  CHANGELOG.md
  installer/components/mcp.py
  installer/platforms/codex.py
  installer/platforms/crush.py
  installer/platforms/opencode.py
Due: security-scan-changeset

Release 0.30.3: fix MCP registration arg ordering
  .version
  CHANGELOG.md
  installer/components/mcp.py
Due: security-scan-changeset

Release 0.30.4: remove outdated platform support tables
  .version
  README.md
  docs/contributing/porting-to-your-assistant.md
  docs/index.md
Due: security-scan-changeset

Release 0.30.5: stable MCP auth tokens, hook auth, diagram tooling
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  docs/diagrams/skills/advanced-code-review.md
  docs/diagrams/skills/code-review.md
  docs/diagrams/skills/debugging.md
  docs/diagrams/skills/implementing-features.md
  docs/skills/advanced-code-review.md
  docs/skills/dispatching-parallel-agents.md
  hooks/memory-capture.ps1
  hooks/memory-capture.sh
  hooks/memory-inject.ps1
  hooks/memory-inject.sh
  hooks/post-compact-recover.ps1
  hooks/post-compact-recover.sh
  hooks/pre-compact-save.ps1
  hooks/pre-compact-save.sh
  hooks/tts-notify.ps1
  hooks/tts-notify.sh
  installer/components/mcp.py
  installer/platforms/claude_code.py
  scripts/check_diagram_freshness.py
  scripts/generate_diagrams.py
  skills/dispatching-parallel-agents/SKILL.md
  spellbook_mcp/auth.py
  tests/__init__.py
  tests/test_spellbook_mcp/test_auth.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: add stint_stack and stint_correction_events tables to database schema
  spellbook_mcp/db.py
  tests/unit/test_stint_tools.py
Due: none

feat: add stint_tools.py with push/pop/check/replace helpers and correction classification
  spellbook_mcp/stint_tools.py
  tests/unit/test_stint_tools.py
Due: none

feat: register stint_push/pop/check/replace MCP tools in server.py
  spellbook_mcp/server.py
  tests/unit/test_stint_mcp_registration.py
Due: none

test: add concurrent push/pop safety test for stint stack
  spellbook_mcp/stint_tools.py
  tests/unit/test_stint_tools.py
Due: none

feat: create unified hook entrypoint with event dispatch skeleton
  hooks/spellbook_hook.py
  tests/unit/test_stint_hooks.py
Due: none

feat: port shell hook logic into unified Python hook handlers
  hooks/spellbook_hook.py
  tests/unit/test_stint_hooks.py
Due: none

feat: add spellbook_hook.ps1 Windows parity wrapper
  hooks/spellbook_hook.ps1
  tests/unit/test_stint_hooks.py
Due: none

feat: update installer to register unified hook, clean old per-tool entries
  installer/components/hooks.py
  tests/test_security/test_installer_hooks.py
  tests/unit/test_unified_hook_registration.py
Due: none
