Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

fix: check git clone exit code in bootstrap.ps1
  bootstrap.ps1
Due: none

fix: add retry logic to concurrent checkpoint test for CI stability
  tests/test_end_to_end_execution_mode.py
Due: none

fix: fix Windows path assertion and Ubuntu stderr assertion in CI
  tests/test_forged/test_artifacts.py
  tests/test_security/test_hooks.py
Due: none

fix: remove -x from CI pytest to show all failures at once
  .github/workflows/test.yml
Due: none

fix: make ~120 tests cross-platform for Windows CI
  spellbook_mcp/resume.py
  tests/test_forged/test_artifacts.py
  tests/test_implementing_features_execution_mode.py
  tests/test_infrastructure.py
  tests/test_security/conftest.py
  tests/test_security/test_hooks.py
  tests/test_security/test_installer_hooks.py
  tests/test_session_spawner.py
  tests/test_spellbook_mcp/test_pr_distill/test_fetch.py
  tests/test_spellbook_start.py
  tests/unit/test_compat.py
  tests/unit/test_update_tools.py
Due: none

feat: add Windows hook tests and fix last 3 Windows CI failures
  tests/test_security/test_hooks_windows.py
  tests/unit/test_compat.py
  tests/unit/test_update_tools.py
Due: none

fix: read lock data via held fd instead of reopening file
  tests/unit/test_compat.py
  tests/unit/test_update_tools.py
Due: none

chore: bump version to 0.9.12 for Windows support release
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix: stop CLAUDE_CONFIG_DIR from overriding SPELLBOOK_CONFIG_DIR
  CHANGELOG.md
  README.md
  docs/commands/create-issue.md
  docs/commands/create-pr.md
  docs/commands/index.md
  docs/skills/creating-issues-and-pull-requests.md
  installer/components/context_files.py
  installer/config.py
  installer/ui.py
  mkdocs.yml
Due: security-scan-changeset

feat: add creating-issues-and-pull-requests skill, switch all platforms to HTTP daemon
  .version
  CHANGELOG.md
  CLAUDE.md
  README.md
  commands/create-issue.md
  commands/create-pr.md
  docs/getting-started/platforms.md
  docs/windows-support-report.md
  extensions/gemini/gemini-extension.json
  installer/platforms/codex.py
  installer/platforms/crush.py
  installer/platforms/gemini.py
  pyproject.toml
  pytest.ini
  scripts/mcp-health-check.py
  skills/creating-issues-and-pull-requests/SKILL.md
  spellbook_mcp/config_tools.py
  spellbook_mcp/server.py
  spellbook_mcp/update_watcher.py
  tests/conftest.py
  tests/docker/conftest.py
  tests/docker/test_platform_install.py
  tests/integration/test_opencode_installer.py
  tests/test_crush_installer.py
  tests/test_spellbook_mcp/test_health_check.py
  tests/unit/test_update_watcher.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: mock install_daemon in tests to prevent real service installation
  README.md
  docs/assets/book.svg
  tests/test_security/test_gemini_policy.py
  tests/unit/test_compat.py
Due: security-scan-changeset

feat: add Dependabot config and pre-commit coverage check
  .github/dependabot.yml
  .pre-commit-config.yaml
  scripts/check_dependabot_coverage.py
Due: none

chore: bump version to 0.10.1, update changelog
  .version
  CHANGELOG.md
Due: security-scan-changeset

Add creating-issues-and-pull-requests skill, HTTP-only transport, test speedup (#17)
  .github/dependabot.yml
  .pre-commit-config.yaml
  .version
  CHANGELOG.md
  CLAUDE.md
  README.md
  commands/create-issue.md
  commands/create-pr.md
  docs/assets/book.svg
  docs/commands/create-issue.md
  docs/commands/create-pr.md
  docs/commands/index.md
  docs/getting-started/platforms.md
  docs/skills/creating-issues-and-pull-requests.md
  docs/windows-support-report.md
  extensions/gemini/gemini-extension.json
  installer/components/context_files.py
  installer/config.py
  installer/platforms/codex.py
  installer/platforms/crush.py
  installer/platforms/gemini.py
  installer/ui.py
  mkdocs.yml
  pyproject.toml
  pytest.ini
  scripts/check_dependabot_coverage.py
  scripts/mcp-health-check.py
  skills/creating-issues-and-pull-requests/SKILL.md
  spellbook_mcp/config_tools.py
  spellbook_mcp/server.py
  spellbook_mcp/update_watcher.py
  tests/conftest.py
  tests/docker/conftest.py
  tests/docker/test_platform_install.py
  tests/integration/test_opencode_installer.py
  tests/test_crush_installer.py
  tests/test_security/test_gemini_policy.py
  tests/test_spellbook_mcp/test_health_check.py
  tests/unit/test_compat.py
  tests/unit/test_update_watcher.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(tts): add optional [tts] dependency group
  pyproject.toml
Due: none

feat(tts): add core module with availability check and model loading
  spellbook_mcp/tts.py
  tests/test_spellbook_mcp/test_tts_core.py
Due: none

feat(tts): add PreToolUse timer start hook scripts
  hooks/tts-timer-start.py
  hooks/tts-timer-start.sh
Due: none

feat(tts): add PostToolUse TTS notification hook scripts
  hooks/tts-notify.py
  hooks/tts-notify.sh
Due: none

test(tts): add hook script tests for timer-start and tts-notify
  tests/test_security/test_tts_hooks.py
Due: none

feat(tts): add audio generation and playback functions
  spellbook_mcp/tts.py
  tests/test_spellbook_mcp/test_tts_core.py
Due: none

test(tts): add Windows hook wrapper tests
  tests/test_security/test_tts_hooks_windows.py
Due: none

feat(tts): add settings resolution and status reporting
  spellbook_mcp/tts.py
  tests/test_spellbook_mcp/test_tts_core.py
Due: none

feat(tts): add TTS session state, tts_session_set, and tts_session_get to config_tools
  spellbook_mcp/config_tools.py
  tests/test_spellbook_mcp/test_tts_config.py
Due: none

feat(tts): add async speak() and ensure_loaded() entry points
  spellbook_mcp/tts.py
  tests/test_spellbook_mcp/test_tts_core.py
Due: none

feat(tts): add kokoro_speak and kokoro_status MCP tools
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_tts_tools.py
Due: none

feat(tts): add tts_session_set and tts_config_set MCP tools
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_tts_tools.py
Due: none

feat(tts): add /api/speak custom REST endpoint for hook scripts
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_tts_tools.py
Due: none

feat(tts): register TTS hooks in HOOK_DEFINITIONS
  installer/components/hooks.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_tts_hooks.py
Due: none

feat(tts): add TTS detection prompt to installer
  install.py
  tests/unit/test_installer_tts.py
Due: none

docs(tts): add TTS Configuration section to template
  CLAUDE.spellbook.md
  tests/unit/test_template_tts_section.py
Due: update-context-files, security-scan-changeset

fix: eliminate green mirage patterns in TTS test files
  tests/test_security/test_tts_hooks.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/unit/test_installer_tts.py
Due: none

fix: address fact-checking findings in Kokoro TTS implementation
  CLAUDE.spellbook.md
  hooks/tts-notify.py
  install.py
  installer/components/hooks.py
  spellbook_mcp/server.py
  spellbook_mcp/tts.py
  tests/test_spellbook_mcp/test_tts_tools.py
Due: update-context-files, security-scan-changeset

fix: address code review findings across TTS implementation
  hooks/tts-notify.py
  hooks/tts-notify.sh
  hooks/tts-timer-start.sh
  install.py
  spellbook_mcp/server.py
  spellbook_mcp/tts.py
  tests/test_security/test_tts_hooks.py
  tests/test_security/test_tts_hooks_windows.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/unit/test_installer_tts.py
Due: none

feat(code-review): add coverage manifest, security checklist, prior feedback
  commands/code-review-give.md
  docs/commands/code-review-give.md
  docs/diagrams/commands/code-review-give.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: expand $SPELLBOOK_DIR in hook paths at install time
  installer/components/hooks.py
  installer/platforms/claude_code.py
  tests/test_security/test_installer_hooks.py
Due: none

fix: handle Windows JSON backslash escaping in hook path tests
  tests/test_security/test_installer_hooks.py
Due: none

Integrate Kokoro TTS into spellbook MCP server (#34)
  CLAUDE.spellbook.md
  commands/code-review-give.md
  docs/commands/code-review-give.md
  docs/diagrams/commands/code-review-give.md
  hooks/tts-notify.py
  hooks/tts-notify.sh
  hooks/tts-timer-start.py
  hooks/tts-timer-start.sh
  install.py
  installer/components/hooks.py
  installer/platforms/claude_code.py
  pyproject.toml
  spellbook_mcp/config_tools.py
  spellbook_mcp/server.py
  spellbook_mcp/tts.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_tts_hooks.py
  tests/test_security/test_tts_hooks_windows.py
  tests/test_spellbook_mcp/test_tts_config.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/unit/test_installer_tts.py
  tests/unit/test_template_tts_section.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: bump version to 0.11.0 for TTS and dependency updates
  pyproject.toml
Due: none

feat: add FastMCP v3 compatibility
  pyproject.toml
  scripts/check_dependabot_coverage.py
  spellbook_mcp/server.py
  tests/conftest.py
  tests/test_ab_test_mcp.py
  tests/unit/test_update_tools.py
Due: none

feat: add FastMCP v3 compatibility (#36)
  pyproject.toml
  scripts/check_dependabot_coverage.py
  spellbook_mcp/server.py
  tests/conftest.py
  tests/test_ab_test_mcp.py
  tests/unit/test_update_tools.py
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
