Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

fix(rule_modules): use os.scandir for directory-readability probe
  installer/components/rule_modules.py
Due: none

fix(gate_ledger): close CLI lock bypass, honor test conventions
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: none

fix(tests): repair Windows CI — 2 real fixes, 2 honest skips
  tests/installer/test_rule_modules.py
  tests/integration/test_goose_installer.py
  tests/test_scripts/test_branch_context.py
  tests/unit/test_upgrade_path.py
Due: none

feat(models): generic tiers with harness-scoped, runtime-resolved routing
  CHANGELOG.md
  agents/MODEL_ROUTING.md
  agents/chariot-implementer.md
  agents/code-reviewer.md
  agents/emperor-governor.md
  agents/git-committer.md
  agents/git-pusher.md
  agents/hierophant-distiller.md
  agents/implementer.md
  agents/jira-mutator.md
  agents/jira-reader.md
  agents/justice-resolver.md
  agents/lovers-integrator.md
  agents/pr-creator.md
  agents/pr-merger.md
  agents/queen-affective.md
  agents/test-runner.md
  agents/web-researcher.md
  docs/agents/MODEL_ROUTING.md
  docs/agents/index.md
  docs/reference/model-routing.md
  docs/rules/20-orchestration.md
  docs/skills/dispatching-parallel-agents.md
  rules/20-orchestration.md
  scripts/generate_docs.py
  skills/dispatching-parallel-agents/SKILL.md
  spellbook/core/model_tiers.py
  spellbook/mcp/tools/__init__.py
  spellbook/mcp/tools/model_tiers.py
  tests/test_reorg/test_model_tiers.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

test(models): cover the MCP tier tools' error mapping
  tests/test_spellbook_mcp/test_model_tier_tools.py
Due: none

fix(prime_agent, gate_ledger): survive a broken rule symlink; warn on clobber
  extensions/prime-agent/spellbook-rules.ts
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
  tests/unit/spellbook-rules.test.ts
Due: none

fix(hooks): drop the unreachable post-compact recovery path
  hooks/spellbook_hook.py
  tests/test_hooks/test_agent2agent_hook.py
Due: none

test(docs): unit-test fence_for
  tests/scripts/test_generate_docs_fences.py
Due: none

feat(gate_ledger): implement the documented wave-discipline reason field
  docs/skills/develop.md
  scripts/develop_gate_ledger.py
  skills/develop/SKILL.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(prime_agent): resolve the rules dir via os.homedir(), not a literal "~"
  extensions/prime-agent/spellbook-rules.ts
  tests/unit/spellbook-rules.test.ts
Due: none

fix(tests): redirect APPDATA so model-tier tests isolate on Windows
  tests/test_reorg/test_model_tiers.py
  tests/test_spellbook_mcp/test_model_tier_tools.py
Due: none

fix(tests): make the real-config guard watch the right path on Windows
  tests/conftest.py
  tests/test_conftest_real_config_guard.py
Due: none

release: 0.86.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

docs(changelog): restore descending version order
  CHANGELOG.md
Due: security-scan-changeset

feat(planlint): port finding.py — Finding, LintResult, guard_no_input
  spellbook/planlint/__init__.py
  spellbook/planlint/finding.py
  tests/test_scripts/test_planlint_finding.py
Due: none

test(planlint): strengthen finding.py test assertions per code review
  tests/test_scripts/test_planlint_finding.py
Due: none

test(planlint): fix ordering test to exercise full sort key, not severity alone
  tests/test_scripts/test_planlint_finding.py
Due: none

feat(planlint): document.py parser, backtick scanner, Schema/Files/Depends/Check fields (declared_dependencies test deselected until graph.py lands)
  spellbook/planlint/document.py
  tests/test_scripts/fixtures/planlint/clean_plan.md
  tests/test_scripts/fixtures/planlint/legacy_plan.md
  tests/test_scripts/fixtures/planlint/opted_out_plan.md
  tests/test_scripts/test_planlint_document.py
Due: security-scan-changeset

fix(planlint): full-assertion FilesEntry checks, fence-aware Files: block, run_command whole-span check; add Step/owner coverage
  spellbook/planlint/document.py
  tests/test_scripts/test_planlint_document.py
Due: none

docs(planlint): correct _resolve_plan_schema docstring and fence-test comment accuracy per fact-check
  spellbook/planlint/document.py
  tests/test_scripts/test_planlint_document.py
Due: none

feat(planlint): graph.py — tarjan (verbatim) + parameterized GraphSpec/build_edges
  spellbook/planlint/graph.py
  tests/test_scripts/test_planlint_graph.py
Due: none

fix(planlint): report reversed Depends: ranges instead of silently dropping them; strengthen graph.py test assertions; type GraphSpec fields precisely
  spellbook/planlint/graph.py
  tests/test_scripts/test_planlint_graph.py
Due: none

docs(planlint): correct tarjan() docstring — components are completion-ordered, not discovery-ordered
  spellbook/planlint/graph.py
Due: none

feat(planlint): registry.py — Rule/RuleContext/RULES stub, run_rules() error barrier
  spellbook/planlint/registry.py
  tests/test_scripts/test_planlint_registry.py
Due: none

fix(planlint): use Tripwire instead of forbidden monkeypatch.setattr; precise-type Rule.run/emits and RuleContext.doc; strengthen registry test assertions
  spellbook/planlint/registry.py
  tests/test_scripts/test_planlint_registry.py
Due: none

docs(planlint): precision-fix Rule/RuleContext docstring claims per fact-check
  spellbook/planlint/registry.py
Due: none

feat(planlint): rules/structure.py — unmatched-backtick, unclosed-fence
  spellbook/planlint/registry.py
  spellbook/planlint/rules/__init__.py
  spellbook/planlint/rules/structure.py
  tests/test_scripts/fixtures/planlint/neg_unclosed_fence.md
  tests/test_scripts/fixtures/planlint/neg_unmatched_backtick.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

fix(planlint): correct fence-region pairing in document.py (unpaired fence no longer corrupts later paired fences); strengthen rule test assertions and fixture coverage
  spellbook/planlint/document.py
  spellbook/planlint/rules/structure.py
  tests/test_scripts/fixtures/planlint/neg_unclosed_fence.md
  tests/test_scripts/test_planlint_document.py
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

fix(planlint): resolve fence-pairing ambiguity generally (same-task-body case), not just at task-header boundaries
  spellbook/planlint/document.py
  spellbook/planlint/rules/structure.py
  tests/test_scripts/test_planlint_document.py
Due: none

fix(planlint): fail safe on ambiguous odd-count fence segments instead of guessing a pairing
  spellbook/planlint/document.py
  spellbook/planlint/rules/structure.py
  tests/test_scripts/test_planlint_document.py
Due: none

fix(planlint): decouple fence content-scanning protection (permissive) from diagnostic pair-reporting (conservative)
  spellbook/planlint/document.py
  tests/test_scripts/test_planlint_document.py
  tests/test_scripts/test_planlint_rules.py
Due: none

fix(planlint): protect full span of ambiguous fence segments — provably eliminates content-leak, accepts documented field-drop tradeoff
  spellbook/planlint/document.py
  tests/test_scripts/test_planlint_document.py
Due: none

docs(planlint): correct iteration numbering in fence-leak test comment per fact-check
  tests/test_scripts/test_planlint_document.py
Due: none

feat(planlint): rules/depends.py — depends-prose, self/unknown-dependency, dependency-cycle
  spellbook/planlint/registry.py
  spellbook/planlint/rules/depends.py
  tests/test_scripts/fixtures/planlint/neg_depends_cycle.md
  tests/test_scripts/fixtures/planlint/neg_depends_prose.md
  tests/test_scripts/fixtures/planlint/neg_depends_self.md
  tests/test_scripts/fixtures/planlint/neg_depends_unknown.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

feat(planlint): rules/checks.py — check-empty/not-a-command/placeholder/not-runnable
  spellbook/planlint/registry.py
  spellbook/planlint/rules/checks.py
  tests/test_scripts/fixtures/planlint/neg_check_empty.md
  tests/test_scripts/fixtures/planlint/neg_check_not_a_command.md
  tests/test_scripts/fixtures/planlint/neg_check_not_runnable.md
  tests/test_scripts/fixtures/planlint/neg_check_placeholder.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

fix(planlint): narrow check-placeholder patterns to avoid false positives on real command syntax
  spellbook/planlint/rules/checks.py
  tests/test_scripts/test_planlint_rules.py
Due: none

fix(planlint): narrow check-placeholder to avoid flagging hyphen/underscore-joined real content as a placeholder
  spellbook/planlint/rules/checks.py
  tests/test_scripts/test_planlint_rules.py
Due: none

feat(planlint): rules/consistency.py — check-verify-pass-consistency
  spellbook/planlint/registry.py
  spellbook/planlint/rules/consistency.py
  tests/test_scripts/fixtures/planlint/neg_check_verify_drift.md
  tests/test_scripts/test_planlint_rules.py
Due: security-scan-changeset

test(planlint): cover first-match Verify-pass-step selection and no-Verify-pass-step path
  tests/test_scripts/test_planlint_rules.py
Due: none
