Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

fix(agent2agent): rename stale listen references in hook + test comment
  hooks/spellbook_hook.py
  tests/test_skills/test_agent2agent_helper.py
Due: none

feat(agent2agent): add pending/ staging dir + cmd_drain subcommand
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(agent2agent): add cmd_watch skeleton (lockfile + RECOVER + recycle)
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

fix(agent2agent): close cmd_watch flock race + harden RECOVER + tests
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Add scope-explosion guardrails to develop skill
  AGENTS.spellbook.md
  commands/feature-design.md
  commands/feature-discover.md
  commands/feature-implement.md
  skills/develop/SKILL.md
  skills/devils-advocate/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(agent2agent): add fswatch + polling backstop to cmd_watch
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Bump version to 0.63.1 and add CHANGELOG entry
  .version
  CHANGELOG.md
Due: security-scan-changeset

feat(agent2agent): add cmd__open_state for watch-chain bookkeeping
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(agent2agent): add hook backstop for orphaned watch-chain detection
  hooks/spellbook_hook.py
  tests/test_hooks/test_agent2agent_hook.py
Due: none

Prevent scope explosion in develop skill (#286)
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  commands/feature-design.md
  commands/feature-discover.md
  commands/feature-implement.md
  skills/develop/SKILL.md
  skills/devils-advocate/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(agent2agent): add /a2a slash command dispatcher
  commands/a2a.md
  tests/test_skills/test_a2a_command.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(agent2agent): correct WATCH_LOCKED pid + close stdout
  commands/a2a.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(gates): route block messages to stderr per Claude Code hook protocol
  hooks/spellbook_hook.py
  spellbook/gates/check.py
  tests/test_security/test_hooks.py
  tests/test_security/test_hooks_windows.py
Due: none

feat(gates): allow benign compound commands; broaden EXF-007 to plug pipe-to-nc gap
  spellbook/gates/bash_parser.py
  spellbook/gates/rules.py
  tests/gates/test_bash_parser.py
  tests/test_security/test_check.py
Due: none

chore(release): 0.63.2
  .version
  CHANGELOG.md
Due: security-scan-changeset

docs(agent2agent): T8 prose pass — architecture sections + doc reconciliation
  commands/a2a.md
  hooks/spellbook_hook.py
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_a2a_command.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(agent2agent): fix fswatch invocation drift + soften _open_state overclaim
  skills/agent2agent/SKILL.md
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(a2a): consolidate orphan_hint fallback + align gate test with stderr
  hooks/spellbook_hook.py
  tests/unit/test_stint_hooks.py
Due: none

fix(a2a): address gemini PR-#287 follow-ups (Windows skip + tripwire + version)
  .version
  CHANGELOG.md
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_agent2agent_helper.py
Due: security-scan-changeset

test(a2a): skip Windows-incompatible hook integration tests
  tests/test_hooks/test_agent2agent_hook.py
Due: none

fix(a2a): guard fcntl import for Windows compatibility
  skills/agent2agent/scripts/agent2agent.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

fix(a2a): bump liveness threshold 90s → 600s + fix non-bash one-liner in /a2a
  commands/a2a.md
  hooks/spellbook_hook.py
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(a2a): harden cmd_drain + fswatch read against concurrent-IO races
  skills/agent2agent/scripts/agent2agent.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(gates): opt-in to re-enable BASH-PARSER-COMPOUND deny
  CHANGELOG.md
  spellbook/gates/bash_parser.py
  tests/gates/test_bash_parser.py
Due: security-scan-changeset

feat(agent2agent): add /a2a slash command + self-respawning watch chain (#287)
  .version
  CHANGELOG.md
  commands/a2a.md
  hooks/spellbook_hook.py
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_a2a_command.py
  tests/test_skills/test_agent2agent_helper.py
  tests/unit/test_stint_hooks.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(gates): apply gemini-code-assist suggestions from PR #285
  hooks/spellbook_hook.py
  spellbook/gates/check.py
Due: none

fix(a2a): substitute SPELLBOOK_DIR absolute path before bg watch dispatch
  .version
  CHANGELOG.md
  commands/a2a.md
  tests/test_skills/test_a2a_command.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(tests): route stint-hook gate-error read to stderr; fix stale docstring
  hooks/spellbook_hook.py
  tests/unit/test_stint_hooks.py
Due: none

fix(tests): reconcile fix-t2-ask-prompt verdict tests with compound-allow default
  tests/test_security/test_check.py
  tests/test_security/test_hooks.py
  tests/test_security/test_hooks_windows.py
Due: none

fix(gates): address gemini-code-assist review of PR #288
  hooks/spellbook_hook.py
  spellbook/gates/bash_parser.py
  tests/gates/test_bash_parser.py
Due: none

docs(agents): add Bash Gate navigation guide to AGENTS.spellbook.md
  AGENTS.spellbook.md
Due: security-scan-changeset

fix(hooks): filter LOW-severity findings from gate error reasons
  hooks/spellbook_hook.py
Due: none

feat(gates): opt-in to re-enable BASH-PARSER-COMPOUND deny (#288)
  AGENTS.spellbook.md
  CHANGELOG.md
  hooks/spellbook_hook.py
  spellbook/gates/bash_parser.py
  spellbook/gates/check.py
  tests/gates/test_bash_parser.py
  tests/test_security/test_check.py
  tests/test_security/test_hooks.py
  tests/test_security/test_hooks_windows.py
Due: security-scan-changeset

fix(develop): prevent Phase 4 gate bypass via implicit instructions
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

review: address Momus BOT-A1 + Gemini feedback
  CHANGELOG.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(develop): prevent Phase 4 gate bypass via implicit instructions (#289)
  CHANGELOG.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(daemon): launch MCP via spellbook.mcp package, not server shim
  spellbook/daemon/manager.py
Due: none

Update spellbook/daemon/manager.py
  spellbook/daemon/manager.py
Due: none

fix(daemon): launch MCP via spellbook.mcp package, not server shim (#290)
  spellbook/daemon/manager.py
Due: none

fix(docs): require source verification of symbol names in plan + write
  commands/docs-plan.md
  commands/docs-write.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset
