Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

chore: address Gemini MEDIUMs (round 3) — DEBUG logs + shared bearer loader
  hooks/spellbook_hook.py
  spellbook/mcp/routes.py
  spellbook/worker_llm/auth.py
  spellbook/worker_llm/events.py
  spellbook/worker_llm/tasks/tool_safety.py
  tests/test_worker_llm/test_event_transport_integration.py
  tests/test_worker_llm/test_events.py
Due: none

fix: address 4 findings from Gemini review of 5f079568
  spellbook/admin/frontend/src/pages/ConfigEditor.tsx
  spellbook/admin/static/assets/index-CH9AGCgE.js
  spellbook/admin/static/index.html
  spellbook/worker_llm/client.py
  spellbook/worker_llm/tasks/tool_safety.py
  tests/test_worker_llm/test_client.py
  tests/test_worker_llm/test_queue.py
  tests/test_worker_llm/test_tool_safety.py
Due: none

fix: address Gemini review of 337b672c (3 fixes, 1 dismissed)
  installer/wizards/defaults.py
  spellbook/admin/routes/config.py
  spellbook/admin/routes/hooks.py
  spellbook/admin/routes/list_helpers.py
  spellbook/admin/routes/worker_llm.py
  spellbook/core/config.py
  spellbook/worker_llm/client.py
Due: none

fix: numeric config range validation + IPv6 host URL bracketing
  spellbook/admin/routes/config.py
  spellbook/cli/commands/worker_llm.py
  spellbook/cli/daemon_client.py
  spellbook/worker_llm/events.py
  spellbook/worker_llm/net.py
  spellbook/worker_llm/tasks/tool_safety.py
  tests/admin/test_config.py
  tests/test_worker_llm/test_net.py
Due: none

fix: address Gemini round-7 MEDIUMs (4 findings on 7735a6e3)
  hooks/spellbook_hook.py
  spellbook/admin/routes/hooks.py
  spellbook/admin/routes/worker_llm.py
  spellbook/worker_llm/observability.py
  spellbook/worker_llm/tasks/tool_safety.py
  tests/test_hooks/test_emitter_drain.py
  tests/test_worker_llm/test_observability.py
  tests/test_worker_llm/test_tool_safety.py
Due: none

fix: Windows PermissionError retry for os.replace in observability caches
  spellbook/hooks/observability.py
  spellbook/worker_llm/observability.py
Due: none

fix: move Windows os.replace retry into shared core helper
  spellbook/core/command_utils.py
  spellbook/hooks/observability.py
  spellbook/worker_llm/observability.py
Due: none

fix: address four pending worker-llm review items
  installer/wizards/worker_llm.py
  spellbook/admin/routes/hooks.py
  spellbook/worker_llm/tasks/memory_rerank.py
  spellbook/worker_llm/tasks/tool_safety.py
  tests/test_worker_llm/test_memory_rerank.py
Due: none

fix: use atomic_replace at remaining os.replace sites for Windows
  spellbook/core/state.py
  spellbook/worker_llm/safety_cache.py
Due: none

fix: defer Stop hook transcript_harvest import; LRU safety cache
  hooks/spellbook_hook.py
  spellbook/worker_llm/safety_cache.py
  tests/test_worker_llm/test_safety_cache.py
Due: none

fix: fetch purge victim ids in Python, DELETE by explicit list
  spellbook/hooks/observability.py
  spellbook/worker_llm/observability.py
Due: none

AGENTS.md updates
  AGENTS.md
Due: security-scan-changeset

Subagent skill dispatch: prohibit silent fallback, codify phase discipline
  AGENTS.spellbook.md
  commands/feature-implement.md
  docs/skills/develop.md
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Release 0.54.1
  .version
  CHANGELOG.md
Due: security-scan-changeset

Bump installer daemon health-check window; cap pure renames at STANDARD
  commands/feature-config.md
  installer/components/mcp.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Develop phase non-fungibility: Pre-Dispatch Ritual, banned phrasings, thoroughness contract
  AGENTS.spellbook.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Crystallize: lossless Rules / synthesizable General split
  AGENTS.spellbook.md
  commands/crystallize-consolidate.md
  commands/crystallize-verify.md
  commands/crystallize.md
  skills/optimizing-instructions/SKILL.md
  tests/crystallize-fixtures/README.md
  tests/crystallize-fixtures/byte-drift/corrupted.md
  tests/crystallize-fixtures/byte-drift/input.md
  tests/crystallize-fixtures/byte-drift/metadata.yaml
  tests/crystallize-fixtures/mixed-format/expected_rules.md
  tests/crystallize-fixtures/mixed-format/input.md
  tests/crystallize-fixtures/mixed-format/metadata.yaml
  tests/crystallize-fixtures/mixed-tag-block/expected_general.md
  tests/crystallize-fixtures/mixed-tag-block/expected_rules.md
  tests/crystallize-fixtures/mixed-tag-block/input.md
  tests/crystallize-fixtures/mixed-tag-block/metadata.yaml
  tests/crystallize-fixtures/no-rules/expected_rules.md
  tests/crystallize-fixtures/no-rules/input.md
  tests/crystallize-fixtures/no-rules/metadata.yaml
  tests/crystallize-fixtures/re-crystallize/expected_rules.md
  tests/crystallize-fixtures/re-crystallize/input.md
  tests/crystallize-fixtures/re-crystallize/metadata.yaml
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review: floor-logic dedup, merged-from in verifier, CHANGELOG
  CHANGELOG.md
  commands/crystallize-verify.md
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 2: version bump, self-contained refs, two-pass spec
  .version
  CHANGELOG.md
  commands/crystallize-consolidate.md
  commands/crystallize-verify.md
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 3: meta-tag protection, merge pass init, dangling refs
  commands/crystallize-consolidate.md
  commands/crystallize-verify.md
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 4: meta-tag interaction with empty Rules + read discipline
  commands/crystallize-verify.md
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 5: deprecation removable-after-pass off-by-one
  commands/crystallize-consolidate.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 6: spec consistency in crystallize.md
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 7: merged-from ADVISORY exclusion, tag-split rationale, mid-pass rule init
  commands/crystallize-verify.md
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 8: untouchable_bytes baseline, empty-inventory ADVISORY
  commands/crystallize-verify.md
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 9: interleaved rule/rationale, no double-subtraction
  commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review round 10: severity table phrasing for missing rule
  commands/crystallize-verify.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Crystallize: lossless Rules / synthesizable General split (#251)
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  commands/crystallize-consolidate.md
  commands/crystallize-verify.md
  commands/crystallize.md
  skills/develop/SKILL.md
  skills/optimizing-instructions/SKILL.md
  tests/crystallize-fixtures/README.md
  tests/crystallize-fixtures/byte-drift/corrupted.md
  tests/crystallize-fixtures/byte-drift/input.md
  tests/crystallize-fixtures/byte-drift/metadata.yaml
  tests/crystallize-fixtures/mixed-format/expected_rules.md
  tests/crystallize-fixtures/mixed-format/input.md
  tests/crystallize-fixtures/mixed-format/metadata.yaml
  tests/crystallize-fixtures/mixed-tag-block/expected_general.md
  tests/crystallize-fixtures/mixed-tag-block/expected_rules.md
  tests/crystallize-fixtures/mixed-tag-block/input.md
  tests/crystallize-fixtures/mixed-tag-block/metadata.yaml
  tests/crystallize-fixtures/no-rules/expected_rules.md
  tests/crystallize-fixtures/no-rules/input.md
  tests/crystallize-fixtures/no-rules/metadata.yaml
  tests/crystallize-fixtures/re-crystallize/expected_rules.md
  tests/crystallize-fixtures/re-crystallize/input.md
  tests/crystallize-fixtures/re-crystallize/metadata.yaml
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Docs: position spellbook as a harness-augmentation layer
  AGENTS.spellbook.md
  README.md
  docs/getting-started/platforms.md
  docs/getting-started/quickstart.md
  docs/index.md
  pyproject.toml
Due: security-scan-changeset

Docs: add changelog entry and PR review bot config
  AGENTS.md
  CHANGELOG.md
Due: security-scan-changeset

Address review: version bump + README clarity
  .version
  CHANGELOG.md
  README.md
Due: security-scan-changeset

Address review: patch bump and CHANGELOG fixes
  .version
  CHANGELOG.md
Due: security-scan-changeset

Restore minor version bump (0.56.0)
  .version
  CHANGELOG.md
Due: security-scan-changeset

CHANGELOG: split Added and Changed sections
  CHANGELOG.md
Due: security-scan-changeset

AGENTS.spellbook.md: nest positioning preamble inside CRITICAL
  AGENTS.spellbook.md
Due: security-scan-changeset

pyproject: shorten description for registry compatibility
  pyproject.toml
Due: none

chore: rename [tool.bigfoot] to [tool.tripwire] in pyproject.toml
  pyproject.toml
Due: none

feat(installer,mcp): register forgecode as 5th supported harness
  installer/config.py
  spellbook/core/config.py
  spellbook/mcp/tools/config.py
  tests/test_multi_target_config.py
Due: none

feat(installer): add ForgeCodeInstaller for ForgeCode harness support
  installer/core.py
  installer/platforms/forgecode.py
Due: none
