Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

chore(instructions): crystallize AGENTS.spellbook.md, add scope isolation guidance
  AGENTS.spellbook.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/writing-skills.md
  skills/dispatching-parallel-agents/SKILL.md
  spellbook/security/scanner.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(installer): fully modernize dependency management via pyproject.toml groups
  daemon/requirements-tts.in
  daemon/requirements-tts.txt
  daemon/requirements.in
  daemon/requirements.txt
  install.py
  installer/components/mcp.py
  installer/platforms/claude_code.py
  pyproject.toml
  scripts/update-daemon-deps.sh
  skills/writing-skills/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

refactor(instructions): offload AGENTS.spellbook.md to lazy-loaded skills
  AGENTS.spellbook.md
  README.md
  docs/skills/audio-notifications.md
  docs/skills/branch-context.md
  docs/skills/opportunity-awareness.md
  docs/skills/security-trust-tiers.md
  docs/skills/session-mode-init.md
  docs/skills/session-resume.md
  docs/skills/testing-strategy.md
  mkdocs.yml
  skills/audio-notifications/SKILL.md
  skills/branch-context/SKILL.md
  skills/opportunity-awareness/SKILL.md
  skills/security-trust-tiers/SKILL.md
  skills/session-mode-init/SKILL.md
  skills/session-resume/SKILL.md
  skills/testing-strategy/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(diagrams): remove timeouts, pipe stderr, fix diff display
  scripts/generate_diagrams.py
Due: none

chore(skills): add mermaid rule, async pipeline, cross-ref, regen diagrams
  docs/commands/feature-research.md
  docs/diagrams/commands/feature-research.md
  docs/diagrams/skills/generating-diagrams.md
  docs/skills/async-await-patterns.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/generating-diagrams.md
  skills/async-await-patterns/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/generating-diagrams/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(ci): add fastmcp and pyyaml to dev dependencies
  pyproject.toml
Due: none

fix(ci): add fastapi to dev dependencies
  pyproject.toml
Due: none

fix(ci): fix docker, Windows, and dependency group issues
  .github/workflows/integration-test.yml
  .github/workflows/test.yml
  installer/tui.py
  spellbook/db/engines.py
  spellbook/security/crypto.py
  spellbook/tooling/discovery.py
  spellbook/tooling/index_registry.py
  tests/docker/Dockerfile
  tests/test_spellbook_mcp/test_tooling_discovery.py
  tests/unit/test_crypto.py
Due: none

fix(docs): enable mermaid diagram rendering in mkdocs
  mkdocs.yml
Due: none

fix(tests): fix TestClient hang, Windows event loop, alembic imports
  tests/admin/conftest.py
  tests/admin/test_alembic.py
  tests/conftest.py
Due: none

fix(tests): restore socket/sqlite3 patches for TestClient compat
  tests/admin/conftest.py
Due: none

refactor(fun-mode): curate personas, contexts, and undertows for quality
  skills/fun-mode/contexts.txt
  skills/fun-mode/personas.txt
  skills/fun-mode/undertows.txt
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

fix: address Gemini Code Assist review findings
  install.py
  installer/renderer.py
  installer/utils.py
  spellbook/core/command_utils.py
Due: none

chore: upgrade bigfoot to 0.18.0
  pyproject.toml
  tests/admin/conftest.py
Due: none

fix(tests): replace _restore_io_patches hack with bigfoot.allow()
  tests/admin/conftest.py
Due: none

refactor(tests): scope bigfoot.allow() to files that need it
  tests/admin/conftest.py
  tests/admin/test_analytics_routes_orm.py
  tests/admin/test_auth.py
  tests/admin/test_config.py
  tests/admin/test_dashboard.py
  tests/admin/test_db.py
  tests/admin/test_db_engines.py
  tests/admin/test_events.py
  tests/admin/test_focus_routes.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_health_routes.py
  tests/admin/test_memory.py
  tests/admin/test_security.py
  tests/admin/test_session_detail.py
  tests/admin/test_sessions.py
  tests/admin/test_spellbook_models.py
  tests/admin/test_ws.py
Due: none

fix(ci): add bigfoot guard_allow config, fix welcome workflow, fix Windows tests
  .github/workflows/welcome.yml
  pyproject.toml
  tests/admin/test_alembic.py
  tests/admin/test_analytics_routes_orm.py
  tests/admin/test_auth.py
  tests/admin/test_config.py
  tests/admin/test_dashboard.py
  tests/admin/test_db.py
  tests/admin/test_db_engines.py
  tests/admin/test_events.py
  tests/admin/test_focus_routes.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_health_routes.py
  tests/admin/test_memory.py
  tests/admin/test_security.py
  tests/admin/test_session_detail.py
  tests/admin/test_sessions.py
  tests/admin/test_spellbook_models.py
  tests/admin/test_ws.py
  tests/integration/test_distill_session_e2e.py
  tests/test_ab_test_integration.py
  tests/test_cli/test_events_cmd.py
  tests/test_daemon_install.py
  tests/test_distill_session_cli.py
  tests/test_forged/test_integration.py
  tests/test_fractal/test_integration.py
  tests/test_fractal/test_models.py
  tests/unit/test_unified_sdk.py
Due: none

chore: bump bigfoot to >=0.18.1 for guard_allow config support
  pyproject.toml
Due: none

fix(tests): fix 35 test failures across stint hooks, templates, SDK, and diagrams
  hooks/spellbook_hook.py
  pyproject.toml
  tests/test_spellbook_mcp/test_auth.py
  tests/unit/test_diagram_update.py
  tests/unit/test_template_tts_section.py
  tests/unit/test_unified_sdk.py
Due: none

fix(ci): exclude external-marked tests from CI runs
  .github/workflows/test.yml
Due: none

refactor: replace direct anthropic dep with unified SDK in sleuth
  pyproject.toml
  spellbook/mcp/tools/security.py
  spellbook/security/sleuth.py
  tests/unit/test_new_deps.py
  tests/unit/test_sleuth_mcp.py
Due: none

docs: document bigfoot as canonical mocking framework in AGENTS.md
  AGENTS.md
Due: security-scan-changeset

refactor(tests): migrate tests/unit/ from unittest.mock to bigfoot
  pyproject.toml
  tests/unit/test_compat.py
  tests/unit/test_installer_core_security.py
  tests/unit/test_installer_security.py
  tests/unit/test_installer_tts.py
  tests/unit/test_sleuth.py
  tests/unit/test_sleuth_async.py
  tests/unit/test_sleuth_mcp.py
  tests/unit/test_spotlight_config.py
  tests/unit/test_spotlight_integration.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_tui_dryrun.py
  tests/unit/test_tui_integration.py
  tests/unit/test_unified_sdk.py
  tests/unit/test_update_config.py
  tests/unit/test_update_notifications.py
  tests/unit/test_update_tools.py
  tests/unit/test_update_watcher.py
Due: none

refactor(tests): migrate tests/test_spellbook_mcp/ from unittest.mock to bigfoot
  tests/test_spellbook_mcp/test_auth.py
  tests/test_spellbook_mcp/test_config_orm_migration.py
  tests/test_spellbook_mcp/test_config_tools.py
  tests/test_spellbook_mcp/test_db_security.py
  tests/test_spellbook_mcp/test_health_check.py
  tests/test_spellbook_mcp/test_memory_bootstrap.py
  tests/test_spellbook_mcp/test_memory_bridge_endpoint.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
  tests/test_spellbook_mcp/test_memory_bridge_integration.py
  tests/test_spellbook_mcp/test_memory_consolidation.py
  tests/test_spellbook_mcp/test_memory_scope.py
  tests/test_spellbook_mcp/test_memory_session_init.py
  tests/test_spellbook_mcp/test_memory_tools.py
  tests/test_spellbook_mcp/test_notify_config.py
  tests/test_spellbook_mcp/test_notify_core.py
  tests/test_spellbook_mcp/test_notify_tools.py
  tests/test_spellbook_mcp/test_path_utils.py
  tests/test_spellbook_mcp/test_pr_distill/test_bless.py
  tests/test_spellbook_mcp/test_pr_distill/test_config.py
  tests/test_spellbook_mcp/test_pr_distill/test_fetch.py
  tests/test_spellbook_mcp/test_pr_distill/test_mcp_tools.py
  tests/test_spellbook_mcp/test_server_branch_wiring.py
  tests/test_spellbook_mcp/test_server_integration.py
  tests/test_spellbook_mcp/test_spawn_session.py
  tests/test_spellbook_mcp/test_terminal_security.py
  tests/test_spellbook_mcp/test_tooling_discovery.py
  tests/test_spellbook_mcp/test_tts_config.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/test_spellbook_mcp/test_workflow_state_security.py
Due: none

refactor(tests): migrate tests/test_cli/ from unittest.mock to bigfoot
  tests/test_cli/test_doctor.py
  tests/test_cli/test_events_cmd.py
Due: none

refactor(tests): migrate tests/admin/ from unittest.mock to bigfoot
  tests/admin/conftest.py
  tests/admin/test_alembic.py
  tests/admin/test_analytics_routes_orm.py
  tests/admin/test_auth.py
  tests/admin/test_cli.py
  tests/admin/test_compaction_detector.py
  tests/admin/test_config.py
  tests/admin/test_dashboard.py
  tests/admin/test_dashboard_orm.py
  tests/admin/test_db.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_health_routes.py
  tests/admin/test_memory.py
  tests/admin/test_performance.py
  tests/admin/test_security.py
  tests/admin/test_session_detail.py
  tests/admin/test_sessions.py
Due: none

refactor(tests): migrate tests/test_forged/ and tests/test_fractal/ from unittest.mock to bigfoot
  tests/test_forged/test_integration.py
  tests/test_forged/test_project_tools.py
  tests/test_forged/test_roundtable.py
  tests/test_fractal/test_server_integration.py
Due: none

refactor(tests): migrate remaining test files from unittest.mock to bigfoot
  tests/docker/test_auto_update.py
  tests/integration/test_injection_defense_pipeline.py
  tests/integration/test_stint_compact.py
  tests/integration/test_update_flow.py
  tests/test_coordination_backend_mcp_http.py
  tests/test_daemon_install.py
  tests/test_end_to_end_execution_mode.py
  tests/test_installer_integration.py
  tests/test_installer_renderer.py
  tests/test_mcp_server_integration.py
  tests/test_mcp_swarm_tools.py
  tests/test_multi_target_config.py
  tests/test_multi_target_install.py
  tests/test_security/test_event_logging.py
  tests/test_security/test_gemini_policy.py
  tests/test_security/test_installer_gate.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_notify_hooks.py
  tests/test_security/test_opencode_plugin.py
  tests/test_security/test_scan_changeset.py
  tests/test_security/test_security_modes.py
  tests/test_security/test_spawn_guard.py
  tests/test_security/test_trust_registry.py
  tests/test_security/test_tts_hooks.py
  tests/test_session_spawner.py
  tests/test_skill_analytics_integration.py
  tests/test_worker.py
  tests/test_workflow_state_tools.py
Due: none

chore: replace kokoro TTS deps with wyoming, numpy, sounddevice
  pyproject.toml
Due: none

refactor: update TTS config defaults and repairs for Wyoming protocol
  spellbook/core/config.py
  tests/test_spellbook_mcp/test_tts_config.py
Due: none

chore: bump version to 0.37.1, update changelog for bigfoot migration
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix(tests): pin sys.platform to darwin for AppleScript spawn tests
  tests/test_end_to_end_execution_mode.py
Due: none

refactor: rewrite tts.py as Wyoming protocol client
  spellbook/notifications/tts.py
  tests/test_spellbook_mcp/test_tts_core.py
Due: none

refactor: rename kokoro_speak/kokoro_status to tts_speak/tts_status
  spellbook/mcp/tools/notifications.py
  tests/test_spellbook_mcp/test_tts_tools.py
Due: none

fix(tests): use dynamic creationflags for Windows terminal tests
  tests/test_spellbook_mcp/test_spawn_session.py
  tests/test_spellbook_mcp/test_terminal_security.py
Due: none

docs: update audio-notifications and session-resume skills for Wyoming TTS
  docs/skills/audio-notifications.md
  docs/skills/session-resume.md
  skills/audio-notifications/SKILL.md
  skills/session-resume/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

refactor: update installer TTS wizard for Wyoming protocol
  installer/renderer.py
  installer/utils.py
Due: none

refactor: simplify install.py TTS setup for Wyoming protocol
  install.py
Due: none

test: update all TTS tests and AGENTS.md for Wyoming protocol migration
  AGENTS.spellbook.md
  tests/test_daemon_install.py
  tests/test_reorg/test_notifications.py
  tests/test_reorg/test_tool_count.py
  tests/test_spellbook_mcp/test_tts_config.py
  tests/unit/test_installer_tts.py
  tests/unit/test_template_tts_section.py
Due: security-scan-changeset

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
