Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

feat(develop): add project_standards schema to DesignContext
  docs/skills/develop.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): add §1.2.5 project-standards sweep to feature-research
  commands/feature-research.md
  docs/commands/feature-research.md
  docs/diagrams/commands/feature-research.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): add §2.0.1 project-standards fallback sweep
  commands/feature-design.md
  docs/commands/feature-design.md
  docs/diagrams/commands/feature-design.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): add Project Standards section to understanding-doc template
  commands/feature-discover.md
  docs/commands/feature-discover.md
  docs/diagrams/commands/feature-discover.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): add §1.5.2.6 cross-check and 13th validation function
  commands/feature-discover.md
  docs/commands/feature-discover.md
  docs/diagrams/commands/feature-discover.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): bump validation-function denominator 12 to 13
  commands/feature-discover.md
  docs/commands/feature-discover.md
  docs/diagrams/commands/feature-discover.md
  docs/skills/develop.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): add Binding Project Standards consumer blocks
  commands/feature-design.md
  commands/feature-implement.md
  docs/commands/feature-design.md
  docs/commands/feature-implement.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): enforce binding standards at §4.6.1 audit with adjudication escape valve
  commands/code-review-give.md
  commands/feature-implement.md
  docs/commands/code-review-give.md
  docs/commands/feature-implement.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): waive project-standards discovery on fast path
  docs/skills/develop.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(develop): wire binding_rules into §4.6.1 audit + address code review
  commands/feature-design.md
  commands/feature-implement.md
  commands/feature-research.md
  docs/commands/feature-design.md
  docs/commands/feature-implement.md
  docs/commands/feature-research.md
  docs/diagrams/commands/feature-design.md
  tests/test_develop_gates.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(develop): refresh workflow diagrams for project-standards feature
  docs/commands/feature-discover.md
  docs/commands/feature-research.md
  docs/diagrams/commands/feature-discover.md
  docs/diagrams/commands/feature-research.md
  docs/diagrams/skills/develop.md
  docs/skills/develop.md
Due: generate-docs, security-scan-changeset

test(security): update exfil-rule tests for intentional EXF-005 removal
  tests/test_security/test_rules.py
Due: none

refactor(develop): lazy-load test fixtures + optional-chaining in standards_discovered (review)
  commands/feature-discover.md
  docs/commands/feature-discover.md
  tests/test_develop_gates.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(ci): allowlist estimating tier vocab, utf-8 test reads, version bump + review fixes
  .version
  CHANGELOG.md
  docs/commands/feature-discover.md
  docs/diagrams/commands/feature-discover.md
  scripts/check_removed_mode_tokens.py
  tests/test_develop_gates.py
Due: generate-docs, security-scan-changeset

fix(ci): npx wrapper no longer auto-flagged + type hint on rule helper
  tests/gates/test_bash_parser.py
  tests/test_security/test_rules.py
Due: none

chore(release): minor version bump to 0.77.0 for feature (styleguide)
  .version
Due: none

fix(review): concrete byte cap + estimating defaults (weekends, single REVIEW_THROUGHPUT)
  commands/feature-research.md
  docs/commands/feature-research.md
  skills/estimating-tickets/fleet-calendar.md
  skills/estimating-tickets/fleet-effort.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(review): simplify _rule_by_id return hint to tuple (resolvable by type checkers)
  tests/test_security/test_rules.py
Due: none

style(tests): lowercase lru_cache reader function names (PEP 8)
  tests/test_develop_gates.py
Due: none

style(tests): hoist gates.rules imports to module top-level
  tests/test_security/test_rules.py
Due: none

fix(review): correct none_found guard, clarify design rule-paste, ruff-sort imports
  commands/feature-design.md
  commands/feature-implement.md
  docs/commands/feature-design.md
  docs/commands/feature-implement.md
  tests/test_security/test_rules.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): generic project-standards discovery and enforcement (#369)
  .version
  CHANGELOG.md
  commands/code-review-give.md
  commands/feature-design.md
  commands/feature-discover.md
  commands/feature-implement.md
  commands/feature-research.md
  docs/commands/code-review-give.md
  docs/commands/feature-design.md
  docs/commands/feature-discover.md
  docs/commands/feature-implement.md
  docs/commands/feature-research.md
  docs/diagrams/commands/feature-design.md
  docs/diagrams/commands/feature-discover.md
  docs/diagrams/commands/feature-research.md
  docs/diagrams/skills/develop.md
  docs/skills/develop.md
  hooks/bash-policy.toml
  scripts/check_removed_mode_tokens.py
  skills/develop/SKILL.md
  skills/estimating-tickets/complexity-rubric.md
  skills/estimating-tickets/fleet-calendar.md
  skills/estimating-tickets/fleet-effort.md
  spellbook/gates/bash_parser.py
  spellbook/gates/rules.py
  tests/gates/test_bash_parser.py
  tests/test_develop_gates.py
  tests/test_security/test_rules.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

backup: WIP before laptop return 2026-06-25
  commands/advanced-code-review-plan.md
  commands/advanced-code-review-review.md
  docs/commands/advanced-code-review-plan.md
  docs/commands/advanced-code-review-review.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review.md
  skills/advanced-code-review/SKILL.md
  skills/code-review/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(agents): cognitive-load-based model and effort routing for subagents
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  agents/chariot-implementer.md
  agents/code-reviewer.md
  agents/emperor-governor.md
  agents/git-committer.md
  agents/git-pusher.md
  agents/hierophant-distiller.md
  agents/implementer.md
  agents/jira-mutator.md
  agents/jira-reader.md
  agents/justice-resolver.md
  agents/lovers-integrator.md
  agents/pr-creator.md
  agents/pr-merger.md
  agents/queen-affective.md
  agents/test-runner.md
  agents/web-researcher.md
  commands/a2a.md
  hooks/spellbook_hook.py
  skills/dispatching-parallel-agents/SKILL.md
  skills/writing-copy/SKILL.md
  tests/test_hooks/test_detect_platform.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(changelog): fix stale Unreleased compare link (v0.9.11 -> v0.77.0)
  CHANGELOG.md
Due: security-scan-changeset

fix(agents): route thinking-class subagents to fable and repair frontmatter model tests
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  agents/code-reviewer.md
  agents/hierophant-distiller.md
  agents/justice-resolver.md
  agents/lovers-integrator.md
  agents/web-researcher.md
  skills/dispatching-parallel-agents/SKILL.md
  tests/test_security/agent_snapshots.json
  tests/test_security/test_agent_frontmatter.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(installer): register MCP server in the config file Claude Code reads
  .version
  CHANGELOG.md
  installer/components/mcp.py
  tests/installer/test_mcp_config_dir_override.py
Due: security-scan-changeset

feat(gates): make security gates opt-in with an install-time prompt
  .version
  CHANGELOG.md
  hooks/spellbook_hook.py
  installer/wizards/defaults.py
  pyproject.toml
  spellbook/admin/routes/config.py
  spellbook/core/config.py
  tests/conftest.py
  tests/test_cli/test_install_wizard_coverage.py
  tests/test_hooks/test_gates_killswitch.py
Due: security-scan-changeset

fix(agents): route thinking-class subagents back to opus, make fable opt-in
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  agents/code-reviewer.md
  agents/hierophant-distiller.md
  agents/justice-resolver.md
  agents/lovers-integrator.md
  agents/web-researcher.md
  skills/dispatching-parallel-agents/SKILL.md
  tests/test_security/agent_snapshots.json
  tests/test_security/test_agent_frontmatter.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(installer): add Antigravity support, static rule sidecars, XDG machine config, and TUI improvements
  .version
  AGENTS.md
  AGENTS.spellbook.md
  CHANGELOG.md
  README.md
  commands/a2a.md
  commands/feature-design.md
  commands/feature-discover.md
  commands/feature-research.md
  docs/getting-started/platforms.md
  docs/index.md
  install.py
  installer/components/context_files.py
  installer/config.py
  installer/core.py
  installer/platforms/antigravity.py
  installer/renderer.py
  installer/tui.py
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  skills/develop/SKILL.md
  skills/writing-copy/SKILL.md
  tests/integration/test_antigravity_installer.py
  tests/unit/test_antigravity_installer.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(installer): strip legacy demarcated sections and enforce rule sidecar symlinks across all platform installers
  installer/components/context_files.py
  installer/config.py
  installer/platforms/claude_code.py
  installer/platforms/codex.py
  installer/platforms/forgecode.py
  installer/platforms/opencode.py
  installer/platforms/pi.py
  tests/installer/test_claude_code_registers_mcp_per_config_dir.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_l2_derivation.py
  tests/test_skills/test_agent2agent_helper.py
Due: none

fix(installer): update platform detect() version handling and integration tests for rule sidecars
  installer/platforms/claude_code.py
  installer/platforms/codex.py
  installer/platforms/forgecode.py
  installer/platforms/opencode.py
  installer/platforms/pi.py
  tests/integration/test_forgecode_installer.py
  tests/integration/test_opencode_installer.py
Due: none

fix(tests): update platform count from 6 to 7 for antigravity addition
  tests/test_multi_target_config.py
Due: none

fix(tests): remove stale generate_codex_context tripwire mock from test_opencode_plugin.py
  tests/test_security/test_opencode_plugin.py
Due: none

release: 0.82.1
  .version
  CHANGELOG.md
Due: security-scan-changeset

feat(develop): checkability, review-round convergence, author/judge separation
  AGENTS.spellbook.md
  CHANGELOG.md
  README.md
  commands/feature-config.md
  commands/feature-design.md
  commands/feature-implement-execute.md
  commands/feature-implement.md
  docs/commands/a2a.md
  docs/commands/feature-config.md
  docs/commands/feature-design.md
  docs/commands/feature-discover.md
  docs/commands/feature-implement-execute.md
  docs/commands/feature-implement.md
  docs/commands/feature-research.md
  docs/commands/index.md
  docs/diagrams/commands/feature-design.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/skills/develop.md
  docs/skills/agent2agent.md
  docs/skills/auditing-green-mirage.md
  docs/skills/develop.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/writing-copy.md
  mkdocs.yml
  scripts/check_removed_mode_tokens.py
  skills/auditing-green-mirage/SKILL.md
  skills/develop/SKILL.md
  tests/test_develop_gates.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(rules): reference feature-implement-execute in develop discipline
  docs/rules/40-develop-discipline.md
  rules/40-develop-discipline.md
Due: security-scan-changeset
