Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

feat(fractal): add fractal-thinking skill with MCP tools and tests
  README.md
  commands/fractal-think-explore.md
  commands/fractal-think-init.md
  commands/fractal-think-synthesize.md
  docs/commands/fractal-think-explore.md
  docs/commands/fractal-think-init.md
  docs/commands/fractal-think-synthesize.md
  docs/commands/index.md
  docs/skills/fractal-thinking.md
  mkdocs.yml
  skills/fractal-thinking/SKILL.md
  spellbook_mcp/fractal/__init__.py
  spellbook_mcp/fractal/graph_ops.py
  spellbook_mcp/fractal/models.py
  spellbook_mcp/fractal/node_ops.py
  spellbook_mcp/fractal/query_ops.py
  spellbook_mcp/fractal/schema.py
  spellbook_mcp/server.py
  tests/test_fractal/__init__.py
  tests/test_fractal/conftest.py
  tests/test_fractal/test_graph_ops.py
  tests/test_fractal/test_integration.py
  tests/test_fractal/test_models.py
  tests/test_fractal/test_node_ops.py
  tests/test_fractal/test_query_ops.py
  tests/test_fractal/test_schema.py
  tests/test_fractal/test_server_integration.py
  tests/test_spellbook_mcp/test_config_tools.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(fractal): add depth budget enforcement, strengthen test assertions
  spellbook_mcp/fractal/models.py
  spellbook_mcp/fractal/node_ops.py
  tests/test_fractal/test_graph_ops.py
  tests/test_fractal/test_models.py
  tests/test_fractal/test_node_ops.py
  tests/test_fractal/test_query_ops.py
Due: none

feat: improve test performance and prevent test hangs
  pyproject.toml
  pytest.ini
  tests/integration/test_distill_session_e2e.py
  tests/integration/test_update_flow.py
  tests/test_bootstrap_ps1.py
  tests/test_claude_fact_extraction.py
  tests/test_distill_session_cli.py
  tests/test_security/test_check.py
  tests/test_security/test_hooks.py
  tests/test_security/test_hooks_windows.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_scan_changeset.py
  tests/test_security/test_scan_mcp_tools.py
  tests/test_security/test_scanner.py
  tests/test_security/test_supply_chain.py
  tests/test_security/test_tts_hooks.py
  tests/test_spellbook_mcp/test_recovery_e2e.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/test_spellbook_start.py
Due: none

chore: bump version to 0.11.1, add changelog for 0.11.0 and 0.11.1
  CHANGELOG.md
  pyproject.toml
Due: security-scan-changeset

feat: improve test performance and prevent test hangs (#37)
  CHANGELOG.md
  pyproject.toml
  pytest.ini
  tests/integration/test_distill_session_e2e.py
  tests/integration/test_update_flow.py
  tests/test_bootstrap_ps1.py
  tests/test_claude_fact_extraction.py
  tests/test_distill_session_cli.py
  tests/test_security/test_check.py
  tests/test_security/test_hooks.py
  tests/test_security/test_hooks_windows.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_scan_changeset.py
  tests/test_security/test_scan_mcp_tools.py
  tests/test_security/test_scanner.py
  tests/test_security/test_supply_chain.py
  tests/test_security/test_tts_hooks.py
  tests/test_spellbook_mcp/test_recovery_e2e.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/test_spellbook_start.py
Due: security-scan-changeset

chore: bump version to 0.12.0, update CHANGELOG, fix test depth budget
  CHANGELOG.md
  pyproject.toml
  tests/test_fractal/test_node_ops.py
Due: security-scan-changeset

feat: add fractal-thinking skill with persistent recursive exploration (#38)
  CHANGELOG.md
  README.md
  commands/fractal-think-explore.md
  commands/fractal-think-init.md
  commands/fractal-think-synthesize.md
  docs/commands/fractal-think-explore.md
  docs/commands/fractal-think-init.md
  docs/commands/fractal-think-synthesize.md
  docs/commands/index.md
  docs/skills/fractal-thinking.md
  mkdocs.yml
  pyproject.toml
  skills/fractal-thinking/SKILL.md
  spellbook_mcp/fractal/__init__.py
  spellbook_mcp/fractal/graph_ops.py
  spellbook_mcp/fractal/models.py
  spellbook_mcp/fractal/node_ops.py
  spellbook_mcp/fractal/query_ops.py
  spellbook_mcp/fractal/schema.py
  spellbook_mcp/server.py
  tests/test_fractal/__init__.py
  tests/test_fractal/conftest.py
  tests/test_fractal/test_graph_ops.py
  tests/test_fractal/test_integration.py
  tests/test_fractal/test_models.py
  tests/test_fractal/test_node_ops.py
  tests/test_fractal/test_query_ops.py
  tests/test_fractal/test_schema.py
  tests/test_fractal/test_server_integration.py
  tests/test_spellbook_mcp/test_config_tools.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: integrate fractal-thinking into 14 existing skills/commands/agents
  CHANGELOG.md
  agents/hierophant-distiller.md
  commands/crystallize.md
  commands/deep-research-investigate.md
  commands/fact-check-verify.md
  commands/feature-discover.md
  commands/reflexion-analyze.md
  commands/review-design-verify.md
  commands/write-skill-test.md
  docs/agents/hierophant-distiller.md
  docs/commands/crystallize.md
  docs/commands/deep-research-investigate.md
  docs/commands/fact-check-verify.md
  docs/commands/feature-discover.md
  docs/commands/reflexion-analyze.md
  docs/commands/review-design-verify.md
  docs/commands/write-skill-test.md
  docs/diagrams/agents/hierophant-distiller.md
  docs/diagrams/commands/deep-research-investigate.md
  docs/diagrams/commands/fact-check-verify.md
  docs/diagrams/commands/feature-discover.md
  docs/diagrams/commands/review-design-verify.md
  docs/diagrams/skills/analyzing-domains.md
  docs/diagrams/skills/brainstorming.md
  docs/diagrams/skills/debugging.md
  docs/diagrams/skills/gathering-requirements.md
  docs/diagrams/skills/security-auditing.md
  docs/skills/analyzing-domains.md
  docs/skills/brainstorming.md
  docs/skills/debugging.md
  docs/skills/devils-advocate.md
  docs/skills/gathering-requirements.md
  docs/skills/security-auditing.md
  pyproject.toml
  skills/analyzing-domains/SKILL.md
  skills/brainstorming/SKILL.md
  skills/debugging/SKILL.md
  skills/devils-advocate/SKILL.md
  skills/gathering-requirements/SKILL.md
  skills/security-auditing/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: TTS debugging and installer improvements
  CLAUDE.spellbook.md
  install.py
  spellbook_mcp/config_tools.py
  spellbook_mcp/tts.py
  tests/unit/test_installer_tts.py
Due: update-context-files, security-scan-changeset

fix: add garbage collection and resource cleanup to MCP server
  CHANGELOG.md
  spellbook_mcp/health.py
  spellbook_mcp/security/check.py
  spellbook_mcp/security/tools.py
  spellbook_mcp/server.py
  spellbook_mcp/watcher.py
  tests/test_spellbook_mcp/test_server_integration.py
  tests/test_spellbook_mcp/test_watcher.py
Due: security-scan-changeset

feat: add test execution strategy to CLAUDE.spellbook.md and test-writing skills
  CHANGELOG.md
  CLAUDE.spellbook.md
  docs/diagrams/skills/fixing-tests.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/fixing-tests.md
  docs/skills/test-driven-development.md
  skills/fixing-tests/SKILL.md
  skills/test-driven-development/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: centralize MCP daemon install, add health check endpoint
  .github/dependabot.yml
  daemon/requirements-tts.in
  daemon/requirements-tts.txt
  daemon/requirements.in
  daemon/requirements.txt
  hooks/tts-notify.py
  hooks/tts-notify.sh
  install.py
  installer/components/mcp.py
  installer/core.py
  installer/platforms/base.py
  installer/platforms/claude_code.py
  installer/platforms/codex.py
  installer/platforms/crush.py
  installer/platforms/gemini.py
  installer/platforms/opencode.py
  installer/ui.py
  scripts/spellbook-server.py
  scripts/update-daemon-deps.sh
  spellbook_mcp/config_tools.py
  spellbook_mcp/server.py
  tests/test_security/test_gemini_policy.py
  tests/test_security/test_installer_hooks.py
  tests/unit/test_installer_tts.py
Due: none

fix: use venv Python path without resolving symlinks in daemon plist
  scripts/spellbook-server.py
Due: none

fix: TTS survives daemon venv rebuilds, install spacy model during setup
  CHANGELOG.md
  install.py
  installer/components/mcp.py
  tests/test_daemon_install.py
Due: security-scan-changeset

feat: redesign fractal-thinking as recursive primitive with worker-based execution
  CHANGELOG.md
  README.md
  commands/fractal-think-explore.md
  commands/fractal-think-harvest.md
  commands/fractal-think-seed.md
  commands/fractal-think-synthesize.md
  commands/fractal-think-work.md
  docs/commands/fractal-think-explore.md
  docs/commands/fractal-think-harvest.md
  docs/commands/fractal-think-seed.md
  docs/commands/fractal-think-synthesize.md
  docs/commands/fractal-think-work.md
  docs/commands/index.md
  docs/skills/fractal-thinking.md
  mkdocs.yml
  skills/fractal-thinking/SKILL.md
  spellbook_mcp/fractal/graph_ops.py
  spellbook_mcp/fractal/models.py
  spellbook_mcp/fractal/node_ops.py
  spellbook_mcp/fractal/query_ops.py
  spellbook_mcp/fractal/schema.py
  spellbook_mcp/server.py
  tests/test_fractal/test_graph_ops.py
  tests/test_fractal/test_models.py
  tests/test_fractal/test_node_ops.py
  tests/test_fractal/test_query_ops.py
  tests/test_fractal/test_schema.py
  tests/test_fractal/test_server_integration.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: preload TTS model at daemon startup
  CHANGELOG.md
  spellbook_mcp/server.py
  spellbook_mcp/tts.py
Due: security-scan-changeset

fix: TTS hook announcements never firing due to catch-all matcher
  CHANGELOG.md
  README.md
  installer/components/hooks.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_tts_hooks.py
Due: security-scan-changeset

fix: daemon install test timeout from unmocked subprocess calls
  tests/test_daemon_install.py
Due: none

fix: seed pip into daemon venv to prevent TTS hangs
  CHANGELOG.md
  CLAUDE.spellbook.md
  docs/diagrams/skills/implementing-features.md
  docs/skills/implementing-features.md
  installer/components/mcp.py
  skills/implementing-features/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: post-compaction context recovery via PreCompact and SessionStart hooks
  CHANGELOG.md
  hooks/post-compact-recover.sh
  hooks/pre-compact-save.sh
  installer/components/hooks.py
  spellbook_mcp/resume.py
  spellbook_mcp/server.py
  tests/test_hooks/__init__.py
  tests/test_hooks/test_compaction_hooks.py
  tests/test_resume.py
  tests/test_workflow_state_tools.py
Due: security-scan-changeset

feat: add test execution strategy to CLAUDE.spellbook.md and test-writing skills (#40)
  CHANGELOG.md
  CLAUDE.spellbook.md
  docs/diagrams/skills/fixing-tests.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/fixing-tests.md
  docs/skills/test-driven-development.md
  skills/fixing-tests/SKILL.md
  skills/test-driven-development/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: bump version to 0.13.0 for release
  .version
  CHANGELOG.md
  pyproject.toml
Due: security-scan-changeset

fix: address 15 unresolved Gemini code review findings across PRs #34-#40
  .version
  CHANGELOG.md
  CLAUDE.spellbook.md
  commands/deep-research-investigate.md
  commands/fractal-think-harvest.md
  docs/commands/deep-research-investigate.md
  docs/commands/fractal-think-harvest.md
  docs/diagrams/commands/deep-research-investigate.md
  extensions/opencode/context-curator/package-lock.json
  extensions/opencode/context-curator/package.json
  extensions/opencode/spellbook-forged/package.json
  extensions/opencode/spellbook-workflow-state/package.json
  hooks/tts-notify.py
  hooks/tts-notify.sh
  pyproject.toml
  spellbook_mcp/config_tools.py
  spellbook_mcp/fractal/models.py
  spellbook_mcp/server.py
  tests/docker/Dockerfile
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: address Gemini follow-up feedback on PR #50
  hooks/tts-notify.py
  hooks/tts-notify.sh
  spellbook_mcp/config_tools.py
Due: none

fix: address unresolved Gemini review feedback, bump to v0.13.1 (#50)
  .version
  CHANGELOG.md
  CLAUDE.spellbook.md
  commands/deep-research-investigate.md
  commands/fractal-think-harvest.md
  docs/commands/deep-research-investigate.md
  docs/commands/fractal-think-harvest.md
  docs/diagrams/commands/deep-research-investigate.md
  extensions/opencode/context-curator/package-lock.json
  extensions/opencode/context-curator/package.json
  extensions/opencode/spellbook-forged/package.json
  extensions/opencode/spellbook-workflow-state/package.json
  hooks/tts-notify.py
  hooks/tts-notify.sh
  pyproject.toml
  spellbook_mcp/config_tools.py
  spellbook_mcp/fractal/models.py
  spellbook_mcp/server.py
  tests/docker/Dockerfile
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: rename CLAUDE.md to AGENTS.md, fix hook format and settings path
  .claude/skills/spellbook-auditing/SKILL.md
  AGENTS.md
  AGENTS.spellbook.md
  CHANGELOG.md
  CLAUDE.md
  commands/create-issue.md
  commands/create-pr.md
  docs/commands/create-issue.md
  docs/commands/create-pr.md
  docs/getting-started/installation.md
  docs/skills/creating-issues-and-pull-requests.md
  docs/skills/project-encyclopedia.md
  docs/windows-support-report.md
  extensions/gemini/GEMINI.md
  install.py
  installer/components/context_files.py
  installer/components/hooks.py
  installer/platforms/claude_code.py
  pyproject.toml
  scripts/update_context_files.py
  skills/creating-issues-and-pull-requests/SKILL.md
  skills/project-encyclopedia/SKILL.md
  spellbook_mcp/config_tools.py
  spellbook_mcp/security/scanner.py
  tests/docker/conftest.py
  tests/docker/test_platform_install.py
  tests/test_resume.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_opencode_plugin.py
  tests/unit/test_template_tts_section.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: remove duplicate AGENTS.spellbook.md line in spellbook-auditing skill
  .claude/skills/spellbook-auditing/SKILL.md
Due: security-scan-changeset

feat: rename CLAUDE.md to AGENTS.md, fix hook format and settings path (#51)
  .claude/skills/spellbook-auditing/SKILL.md
  AGENTS.md
  AGENTS.spellbook.md
  CHANGELOG.md
  CLAUDE.md
  commands/create-issue.md
  commands/create-pr.md
  docs/commands/create-issue.md
  docs/commands/create-pr.md
  docs/getting-started/installation.md
  docs/skills/creating-issues-and-pull-requests.md
  docs/skills/project-encyclopedia.md
  docs/windows-support-report.md
  extensions/gemini/GEMINI.md
  install.py
  installer/components/context_files.py
  installer/components/hooks.py
  installer/platforms/claude_code.py
  pyproject.toml
  scripts/update_context_files.py
  skills/creating-issues-and-pull-requests/SKILL.md
  skills/project-encyclopedia/SKILL.md
  spellbook_mcp/config_tools.py
  spellbook_mcp/security/scanner.py
  tests/docker/conftest.py
  tests/docker/test_platform_install.py
  tests/test_resume.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_opencode_plugin.py
  tests/unit/test_template_tts_section.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: add compiled Nim hooks with shell fallbacks, bump to v0.15.0
  .gitignore
  AGENTS.spellbook.md
  CHANGELOG.md
  commands/audit-green-mirage.md
  commands/audit-mirage-analyze.md
  commands/audit-mirage-cross.md
  commands/audit-mirage-report.md
  docs/commands/audit-green-mirage.md
  docs/commands/audit-mirage-analyze.md
  docs/commands/audit-mirage-cross.md
  docs/commands/audit-mirage-report.md
  docs/commands/index.md
  docs/diagrams/commands/audit-green-mirage.md
  docs/diagrams/commands/audit-mirage-analyze.md
  docs/diagrams/commands/audit-mirage-cross.md
  docs/diagrams/commands/audit-mirage-report.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/skills/auditing-green-mirage.md
  hooks/nim/generate_patterns.py
  hooks/nim/hooks.nimble
  hooks/nim/src/audit_log.nim
  hooks/nim/src/bash_gate.nim
  hooks/nim/src/canary_check.nim
  hooks/nim/src/hooklib.nim
  hooks/nim/src/post_compact_recover.nim
  hooks/nim/src/pre_compact_save.nim
  hooks/nim/src/spawn_guard.nim
  hooks/nim/src/state_sanitize.nim
  hooks/nim/src/tts_notify.nim
  hooks/nim/src/tts_timer_start.nim
  installer/components/hooks.py
  installer/platforms/claude_code.py
  pyproject.toml
  skills/auditing-green-mirage/SKILL.md
  spellbook_mcp/server.py
  tests/test_security/test_check_tool_input_mcp.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_nim_codegen.py
  tests/test_security/test_nim_hook_binaries.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: address Gemini review feedback and Windows path handling
  hooks/nim/src/bash_gate.nim
  hooks/nim/src/hooklib.nim
  hooks/nim/src/spawn_guard.nim
  hooks/nim/src/state_sanitize.nim
  installer/components/hooks.py
  installer/platforms/claude_code.py
  tests/test_security/test_installer_hooks.py
Due: none

feat: add compiled Nim hooks with shell fallbacks (#52)
  .gitignore
  AGENTS.spellbook.md
  CHANGELOG.md
  commands/audit-green-mirage.md
  commands/audit-mirage-analyze.md
  commands/audit-mirage-cross.md
  commands/audit-mirage-report.md
  docs/commands/audit-green-mirage.md
  docs/commands/audit-mirage-analyze.md
  docs/commands/audit-mirage-cross.md
  docs/commands/audit-mirage-report.md
  docs/commands/index.md
  docs/diagrams/commands/audit-green-mirage.md
  docs/diagrams/commands/audit-mirage-analyze.md
  docs/diagrams/commands/audit-mirage-cross.md
  docs/diagrams/commands/audit-mirage-report.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/skills/auditing-green-mirage.md
  hooks/nim/generate_patterns.py
  hooks/nim/hooks.nimble
  hooks/nim/src/audit_log.nim
  hooks/nim/src/bash_gate.nim
  hooks/nim/src/canary_check.nim
  hooks/nim/src/hooklib.nim
  hooks/nim/src/post_compact_recover.nim
  hooks/nim/src/pre_compact_save.nim
  hooks/nim/src/spawn_guard.nim
  hooks/nim/src/state_sanitize.nim
  hooks/nim/src/tts_notify.nim
  hooks/nim/src/tts_timer_start.nim
  installer/components/hooks.py
  installer/platforms/claude_code.py
  pyproject.toml
  skills/auditing-green-mirage/SKILL.md
  spellbook_mcp/server.py
  tests/test_security/test_check_tool_input_mcp.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_nim_codegen.py
  tests/test_security/test_nim_hook_binaries.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: bump version to 0.15.1 for release
  CHANGELOG.md
  pyproject.toml
Due: security-scan-changeset

fix: TTS plays to current default audio device, not stale one
  spellbook_mcp/tts.py
Due: none

chore: bump version to 0.15.2 for release
  CHANGELOG.md
  pyproject.toml
Due: security-scan-changeset

feat: enforce assertion quality across TDD and green mirage skills
  CHANGELOG.md
  commands/audit-mirage-analyze.md
  docs/commands/audit-mirage-analyze.md
  docs/diagrams/commands/audit-mirage-analyze.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/diagrams/skills/implementing-features.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/auditing-green-mirage.md
  docs/skills/implementing-features.md
  docs/skills/test-driven-development.md
  pyproject.toml
  skills/auditing-green-mirage/SKILL.md
  skills/implementing-features/SKILL.md
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/testing-anti-patterns.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: add .exists() to assertion quality red flags and rules table
  docs/diagrams/skills/test-driven-development.md
  docs/skills/test-driven-development.md
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/testing-anti-patterns.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: enforce assertion quality across TDD and green mirage skills (#53)
  CHANGELOG.md
  commands/audit-mirage-analyze.md
  docs/commands/audit-mirage-analyze.md
  docs/diagrams/commands/audit-mirage-analyze.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/diagrams/skills/implementing-features.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/auditing-green-mirage.md
  docs/skills/implementing-features.md
  docs/skills/test-driven-development.md
  pyproject.toml
  skills/auditing-green-mirage/SKILL.md
  skills/implementing-features/SKILL.md
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/testing-anti-patterns.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Read version from .version
  .gitignore
  .version
  GEMINI.md
  hooks/nim/src/tts_notify.nim
  hooks/nim/src/tts_timer_start.nim
  pyproject.toml
Due: security-scan-changeset
