Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

feat(a2a): enrich orphan hint with pending count + heartbeat age
  hooks/spellbook_hook.py
  tests/test_hooks/test_agent2agent_hook.py
Due: none

test(a2a): notify floor fires independent of watcher liveness
  tests/test_hooks/test_agent2agent_hook.py
Due: none

fix(a2a-hook): guard non-string output_file and clamp negative heartbeat age
  hooks/spellbook_hook.py
  tests/test_hooks/test_agent2agent_hook.py
Due: none

fix(a2a): correct orphan-hint location claim and stale Task-agent docstring
  hooks/spellbook_hook.py
  tests/test_hooks/test_agent2agent_hook.py
Due: none

docs(a2a): SKILL.md immortal-watcher architecture + cost model + capability matrix
  docs/skills/agent2agent.md
  skills/agent2agent/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(a2a): CHANGELOG entry for immortal bg-Bash watcher
  CHANGELOG.md
Due: security-scan-changeset

docs(a2a): rewrite command for immortal bg-Bash watcher + platform ladder
  commands/a2a.md
  docs/commands/a2a.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(a2a): Tier-0 no-watcher sentinel + correct heartbeat path token
  commands/a2a.md
  docs/commands/a2a.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(a2a): widen Phase F WATCH_LOCKED matcher to cover 'unknown' pid
  commands/a2a.md
  docs/commands/a2a.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

test(a2a): replace green-mirage substring assertions with exact equality
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_agent2agent_helper.py
Due: none

fix(a2a): correct stale "transcript path" comment on orphan-chain call site
  hooks/spellbook_hook.py
Due: none

fix(a2a): genericize SPELLBOOK_DIR example path in a2a command docs
  commands/a2a.md
  docs/commands/a2a.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

test(a2a): retune a2a command spec pins to immortal bg-watcher architecture
  tests/test_skills/test_a2a_command.py
Due: none

chore: bump version to 0.72.0 for immortal bg-watcher feature
  .version
Due: none

test(a2a): mock time.time via tripwire, not monkeypatch.setattr
  tests/test_hooks/test_agent2agent_hook.py
Due: none

fix(a2a): catch ValueError in fswatch stray sweep ps decode
  skills/agent2agent/scripts/agent2agent.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(a2a): replace Task-recycle watch chain with immortal background-Bash watcher (#353)
  .version
  CHANGELOG.md
  commands/a2a.md
  docs/commands/a2a.md
  docs/skills/agent2agent.md
  hooks/spellbook_hook.py
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_a2a_command.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Register/unregister MCP server per Claude config dir
  installer/components/mcp.py
  installer/platforms/claude_code.py
  tests/installer/test_claude_code_registers_mcp_per_config_dir.py
  tests/installer/test_claude_code_unregisters_mcp_per_config_dir.py
Due: none

chore: bump version to 0.73.0, add changelog entry for per-config-dir MCP registration
  .version
  CHANGELOG.md
Due: security-scan-changeset

test: update l2-derivation installer test to per-config-dir MCP contract
  tests/installer/test_l2_derivation.py
Due: none

test: fix Windows-only mock expectation in per-config-dir uninstall test
  tests/installer/test_claude_code_unregisters_mcp_per_config_dir.py
Due: none

fix: scope old-variant MCP unregistration to config dir; patch version bump per styleguide
  .version
  installer/platforms/claude_code.py
  tests/installer/test_claude_code_registers_mcp_per_config_dir.py
Due: none

refactor: accept config_dir instead of raw env in MCP registration helpers
  installer/components/mcp.py
Due: none

fix(installer): register/unregister MCP server per Claude config dir (#354)
  .version
  CHANGELOG.md
  installer/components/mcp.py
  installer/platforms/claude_code.py
  tests/installer/test_claude_code_registers_mcp_per_config_dir.py
  tests/installer/test_claude_code_unregisters_mcp_per_config_dir.py
  tests/installer/test_l2_derivation.py
Due: security-scan-changeset

feat(installer): build admin SPA at install time
  .pre-commit-config.yaml
  installer/components/admin_build.py
  installer/core.py
  spellbook/admin/app.py
  tests/admin/test_app.py
  tests/installer/test_admin_build.py
  tests/test_daemon_install.py
Due: none

fix(canvas): bind decision await by token, not ephemeral session id
  .version
  CHANGELOG.md
  docs/skills/canvas-decision.md
  skills/canvas-decision/SKILL.md
  spellbook/mcp/tools/canvas.py
  tests/mcp/tools/test_canvas.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(canvas): bind decision await by token, not ephemeral session id (#356)
  .version
  CHANGELOG.md
  docs/skills/canvas-decision.md
  skills/canvas-decision/SKILL.md
  spellbook/mcp/tools/canvas.py
  tests/mcp/tools/test_canvas.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(admin): persist admin session for a year
  .version
  CHANGELOG.md
  spellbook/admin/auth.py
  spellbook/admin/routes/auth.py
  tests/admin/test_auth.py
Due: security-scan-changeset

fix(admin): persist admin session for a year (#357)
  .version
  CHANGELOG.md
  spellbook/admin/auth.py
  spellbook/admin/routes/auth.py
  tests/admin/test_auth.py
Due: security-scan-changeset

fix(canvas): normalize accent-yellow to accent-amber across SPA
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Approve.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Callout.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Choice.tsx
  spellbook/admin/frontend/src/pages/CanvasDetail.tsx
  spellbook/admin/frontend/src/pages/ConfigEditor.tsx
Due: none

refactor(canvas): hoist components dispatch map to break import cycle
  spellbook/admin/frontend/src/canvas/components.tsx
  spellbook/admin/frontend/src/canvas/render.tsx
Due: none

feat(canvas): add prose theme opt-outs for override-owned elements
  spellbook/admin/frontend/tailwind.config.js
Due: none

feat(canvas): declare @tailwindcss/typography dependency
  spellbook/admin/frontend/package-lock.json
  spellbook/admin/frontend/package.json
Due: none

feat(canvas): carry Collapsible shortcode prototype (refined in later tasks)
  spellbook/admin/frontend/src/canvas/shortcodes/Collapsible.tsx
Due: none

docs(canvas): correct stale design-doc section references in renderer comments
  spellbook/admin/frontend/src/canvas/components.tsx
  spellbook/admin/frontend/src/canvas/render.tsx
Due: none

refactor(canvas): remove h2 specificity probe
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/components.tsx
Due: none
