Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

test(installer): cover ForgeCodeInstaller install/uninstall edge cases
  tests/integration/test_forgecode_installer.py
Due: none

feat(scripts): add forgecode health-check support to mcp-health-check.py
  scripts/mcp-health-check.py
Due: none

feat(installer,daemon,hooks): wire forgecode through routing surfaces
  hooks/spellbook_hook.py
  install.py
  installer/tui.py
  spellbook/cli/commands/install.py
  spellbook/daemon/service.py
Due: none

test(docker): add forgecode to docker test enumeration
  tests/docker/conftest.py
  tests/docker/test_platform_install.py
Due: none

docs: enumerate forgecode as 5th supported harness
  AGENTS.spellbook.md
  README.md
  docs/getting-started/platforms.md
Due: security-scan-changeset

fix: correct platforms.md ForgeCode section + display name
  docs/getting-started/platforms.md
  installer/config.py
Due: security-scan-changeset

fix(tests): migrate bigfoot.{log,subprocess,db}_mock to renamed proxies
  tests/admin/test_worker_llm_routes.py
  tests/installer/test_service_config.py
  tests/test_memory_qmd.py
  tests/test_path_utils.py
  tests/test_spellbook_mcp/test_notify_core.py
  tests/test_spellbook_mcp/test_terminal_security.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/test_spellbook_mcp/test_workflow_state_security.py
  tests/test_worker_llm/conftest.py
  tests/test_worker_llm/test_events.py
  tests/test_worker_llm/test_observability.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_update_watcher.py
Due: none

style(tests): replace em-dash in forgecode test comment
  tests/integration/test_forgecode_installer.py
Due: none

fix(scripts): correct mcp-health-check forge daemon_url port 5173 to 8765
  scripts/mcp-health-check.py
Due: none

fix(deps): require python-tripwire[http] explicitly for tripwire.http imports
  pyproject.toml
Due: none

docs(styleguide): update .gemini/styleguide.md for tripwire 0.20+ rebrand
  .gemini/styleguide.md
Due: security-scan-changeset

test(installer): rewrite forgecode tests to use bigfoot sandbox per styleguide
  tests/integration/test_forgecode_installer.py
Due: none

fix(installer): create forgecode .mcp.json with 0600 permissions atomically (close TOCTOU)
  installer/platforms/forgecode.py
Due: none

fix(installer): validate forgecode config JSON is dict and log decode errors
  installer/platforms/forgecode.py
Due: none

test(installer): replace forgecode home() drain loop with explicit call-count assertions
  tests/integration/test_forgecode_installer.py
Due: none

chore: bump version to 0.56.0 and add CHANGELOG entry for forgecode harness
  .version
  CHANGELOG.md
Due: security-scan-changeset

refactor(installer,scripts): extract resolve_forgecode_config_dir into shared helper
  installer/platforms/forgecode.py
  scripts/mcp-health-check.py
Due: none

test(installer): cover ForgeCodeInstaller.detect across config-dir states
  tests/integration/test_forgecode_installer.py
Due: none

fix(installer): explicitly fchmod forgecode .mcp.json fd to harden against pre-existing modes
  installer/platforms/forgecode.py
Due: none

test(installer): cover forgecode install tightening existing 0o644 .mcp.json
  tests/integration/test_forgecode_installer.py
Due: none

style(tests): simplify forgecode home() mock to direct .returns() per styleguide
  tests/integration/test_forgecode_installer.py
Due: none

fix(installer): close forgecode fd on os.fdopen failure
  installer/platforms/forgecode.py
Due: none

fix(scripts): guard mcp-health-check Authorization header against non-string values
  scripts/mcp-health-check.py
Due: none

style(tests): hoist generate_codex_context import to top of forgecode tests
  tests/integration/test_forgecode_installer.py
Due: none

fix(scripts): source forgecode daemon URL from installer constants
  scripts/mcp-health-check.py
Due: none

Add ForgeCode as 5th supported harness (basic tier) (#258)
  .gemini/styleguide.md
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  README.md
  docs/getting-started/platforms.md
  hooks/spellbook_hook.py
  install.py
  installer/config.py
  installer/core.py
  installer/platforms/forgecode.py
  installer/tui.py
  pyproject.toml
  scripts/mcp-health-check.py
  spellbook/cli/commands/install.py
  spellbook/core/config.py
  spellbook/daemon/service.py
  spellbook/mcp/tools/config.py
  tests/admin/test_worker_llm_routes.py
  tests/docker/conftest.py
  tests/docker/test_platform_install.py
  tests/installer/test_service_config.py
  tests/integration/test_forgecode_installer.py
  tests/test_memory_qmd.py
  tests/test_multi_target_config.py
  tests/test_path_utils.py
  tests/test_spellbook_mcp/test_notify_core.py
  tests/test_spellbook_mcp/test_terminal_security.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/test_spellbook_mcp/test_workflow_state_security.py
  tests/test_worker_llm/conftest.py
  tests/test_worker_llm/test_events.py
  tests/test_worker_llm/test_observability.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_update_watcher.py
Due: security-scan-changeset

Bump to 0.57.0 and sync docs/index.md harness list
  .version
  CHANGELOG.md
  docs/index.md
Due: security-scan-changeset

Address review: split CHANGELOG releases, fix _mock comments
  CHANGELOG.md
  tests/test_worker_llm/test_observability.py
Due: security-scan-changeset

Add dispatching-sub-orchestrators skill for COMPLEX feature execution
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Register dispatching-sub-orchestrators skill in README and mkdocs nav
  README.md
  docs/skills/dispatching-sub-orchestrators.md
  mkdocs.yml
Due: security-scan-changeset

Add sub_orchestrators execution mode to feature-implement Phase 3.4.5 / 4
  commands/feature-implement.md
  docs/commands/feature-implement.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Wire sub_orchestrators mode into develop and dispatching-parallel-agents
  docs/skills/develop.md
  docs/skills/dispatching-parallel-agents.md
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix Phase 4.2 -> 4.0 reference in feature-implement sub_orchestrators routing
  commands/feature-implement.md
  docs/commands/feature-implement.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Bump version to 0.57.0 and add CHANGELOG entry for sub_orchestrators mode
  .version
  CHANGELOG.md
Due: security-scan-changeset

Decouple execution_mode routing from complexity_tier
  CHANGELOG.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/skills/develop.md
  docs/skills/dispatching-sub-orchestrators.md
  skills/develop/SKILL.md
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address gemini re-review: drop bigfoot refs, include 4.6.5 in gate range
  CHANGELOG.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/skills/dispatching-sub-orchestrators.md
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address gemini cycle-3: fix routing shadow, add Pre-Dispatch Ritual refs
  CHANGELOG.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/dispatching-sub-orchestrators.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Tighten mocking guidance to match repo style guide
  docs/skills/dispatching-sub-orchestrators.md
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
