Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

Fix Windows CI test failures across TTS and installer tests
  tests/installer/test_service_config.py
  tests/tts/test_lock.py
  tests/tts/test_status.py
  tests/tts/test_venv.py
Due: none

Fix remaining Windows path assertion in test_custom_data_dir
  tests/installer/test_service_config.py
Due: none

Address second round of review feedback
  .version
  CHANGELOG.md
  tests/tts/test_lock.py
  tests/tts/test_venv.py
Due: security-scan-changeset

Fix tautological path assertions in test_lock and test_venv
  tests/tts/test_lock.py
  tests/tts/test_venv.py
Due: none

Replace anti-ai-tone with comprehensive writing guide (#207)
  .version
  CHANGELOG.md
  README.md
  commands/docs-review.md
  commands/docs-write.md
  commands/write-readme.md
  docs/commands/docs-review.md
  docs/commands/docs-write.md
  docs/commands/write-readme.md
  docs/skills/documenting-projects.md
  skills/documenting-projects/SKILL.md
  skills/documenting-projects/anti-ai-tone.md
  skills/documenting-projects/writing-guide.md
  tests/installer/test_service_config.py
  tests/tts/test_lock.py
  tests/tts/test_status.py
  tests/tts/test_venv.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add platform self-identification to session_init
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  spellbook/core/config.py
  spellbook/mcp/tools/config.py
  tests/test_spellbook_mcp/test_config_tools.py
Due: security-scan-changeset

Fix tests: add platform=None to session_init kwargs assertions
  tests/test_session_init_messaging.py
  tests/test_spellbook_mcp/test_memory_session_init.py
Due: none

Return persisted platform from session state in session_init
  spellbook/core/config.py
  tests/test_spellbook_mcp/test_config_tools.py
Due: none

Add platform self-identification to session_init (#208)
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  spellbook/core/config.py
  spellbook/mcp/tools/config.py
  tests/test_session_init_messaging.py
  tests/test_spellbook_mcp/test_config_tools.py
  tests/test_spellbook_mcp/test_memory_session_init.py
Due: security-scan-changeset

Clean stale security references from README, docs, and architecture
  README.md
  docs/reference/architecture.md
  docs/security.md
  docs/windows-support-report.md
Due: security-scan-changeset

Fix watcher SecurityEvent import, remove stale admin schemas
  spellbook/admin/routes/schemas.py
  spellbook/sessions/watcher.py
Due: none

Add cco sandbox launcher for Claude Code / OpenCode under YOLO
  CHANGELOG.md
  docs/security.md
  installer/tui.py
  scripts/spellbook-sandbox
Due: security-scan-changeset

Route hook filesystem writes through daemon HTTP API
  docs/security.md
  hooks/spellbook_hook.py
  scripts/spellbook-sandbox
  spellbook/mcp/routes.py
  tests/test_hook_api_routes.py
  tests/test_messaging_hook.py
Due: security-scan-changeset

Fix docs: daemon is launchd, not sandboxed; hooks are what need writes
  docs/security.md
Due: security-scan-changeset

Default to --safe mode: hide $HOME reads from sandbox
  docs/security.md
  scripts/spellbook-sandbox
Due: security-scan-changeset

Bump version to 0.51.0 (0.50.0 taken by main)
  .version
Due: none

Add README sandbox section, installer alias setup, OpenCode desktop docs
  README.md
  docs/security.md
  install.py
  installer/components/aliases.py
  installer/core.py
  installer/tui.py
  tests/test_aliases.py
Due: security-scan-changeset

Fix CI: remove sys.modules poisoning from test_hook_api_routes
  tests/test_hook_api_routes.py
Due: none

Fix memory bridge hook tests for path-based _http_post signature
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
Due: none

Address bot review: async I/O, dead code removal, CHANGELOG fix
  CHANGELOG.md
  installer/components/aliases.py
  spellbook/mcp/routes.py
  tests/test_aliases.py
Due: security-scan-changeset

Convert test_hook_api_routes and test_messaging_hook to bigfoot
  tests/test_hook_api_routes.py
  tests/test_messaging_hook.py
Due: none

Deduplicate wrapper arg handling with set --
  scripts/spellbook-sandbox
Due: none

Always mount ~/.local/spellbook for hardcoded .mcp-token path
  scripts/spellbook-sandbox
Due: none

Address bot review: IPv6 URL brackets, Windows-safe replace, rc newline
  hooks/spellbook_hook.py
  installer/components/aliases.py
  spellbook/mcp/routes.py
Due: none

Mount all config directories, not just the first match
  scripts/spellbook-sandbox
Due: none

Add cco sandbox launcher with daemon-routed hooks and installer aliases
  .version
  CHANGELOG.md
  README.md
  docs/security.md
  hooks/spellbook_hook.py
  install.py
  installer/components/aliases.py
  installer/core.py
  installer/tui.py
  scripts/spellbook-sandbox
  spellbook/mcp/routes.py
  tests/test_aliases.py
  tests/test_hook_api_routes.py
  tests/test_messaging_hook.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
Due: security-scan-changeset

Add MCP events reference server integration for cross-session messaging
  pyproject.toml
  spellbook/mcp/tools/messaging.py
  tests/test_event_integration.py
  tests/test_spellbook_mcp/test_auth.py
Due: none

Use git references for fork deps, version bump, test improvements
  CHANGELOG.md
  pyproject.toml
  tests/test_event_integration.py
Due: security-scan-changeset

Fix _active_sessions dict access in event integration tests
  tests/test_event_integration.py
Due: none

Minor version bump to 0.48.0, remove unused imports and deps
  pyproject.toml
  tests/test_event_integration.py
Due: none

Upgrade event emission failure log from debug to warning
  spellbook/mcp/tools/messaging.py
Due: none

Tighten test assertions in test_messaging_tools.py
  tests/test_messaging_tools.py
Due: none

Add event emission to messaging_broadcast and messaging_reply
  spellbook/mcp/tools/messaging.py
  spellbook/messaging/bus.py
  tests/test_messaging_tools.py
Due: none

Add MCP event topics reference documentation
  docs/reference/mcp-events.md
  mkdocs.yml
Due: security-scan-changeset

Wire alias-to-UUID mapping, real event round-trip integration tests
  docs/reference/mcp-events.md
  spellbook/mcp/tools/messaging.py
  spellbook/messaging/bus.py
  spellbook/sessions/parser.py
  tests/test_event_integration.py
  tests/test_messaging_tools.py
Due: security-scan-changeset

Add type hints to event integration tests, document test approach
  tests/test_event_integration.py
Due: none

Address bot review: fix CHANGELOG version, parallel broadcast events, stable test polling
  CHANGELOG.md
  hooks/spellbook_hook.py
  spellbook/mcp/tools/messaging.py
  tests/test_event_integration.py
Due: security-scan-changeset

Un-skip event integration tests now that fastmcp has all features
  tests/test_event_integration.py
Due: none
