Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

test: add upgrade-path tests for shell-to-unified hook migration
  tests/unit/test_upgrade_path.py
Due: none

feat: implement depth reminder in PostToolUse handler
  hooks/spellbook_hook.py
  tests/unit/test_stint_hooks.py
Due: none

feat: implement auto-push for Skill invocations in PreToolUse handler
  hooks/spellbook_hook.py
  tests/unit/test_stint_hooks.py
Due: none

feat: implement stint stack save/restore in compaction handlers
  hooks/spellbook_hook.py
  tests/integration/test_stint_compact.py
Due: none

feat: remove individual shell hooks, unified hook is sole entrypoint
  hooks/audit-log.ps1
  hooks/audit-log.sh
  hooks/bash-gate.ps1
  hooks/bash-gate.sh
  hooks/canary-check.ps1
  hooks/canary-check.sh
  hooks/memory-capture.ps1
  hooks/memory-capture.sh
  hooks/memory-inject.ps1
  hooks/memory-inject.sh
  hooks/notify-on-complete.ps1
  hooks/notify-on-complete.sh
  hooks/post-compact-recover.ps1
  hooks/post-compact-recover.sh
  hooks/pre-compact-save.ps1
  hooks/pre-compact-save.sh
  hooks/spawn-guard.ps1
  hooks/spawn-guard.sh
  hooks/state-sanitize.ps1
  hooks/state-sanitize.sh
  hooks/tts-notify.ps1
  hooks/tts-notify.sh
  hooks/tts-timer-start.ps1
  hooks/tts-timer-start.sh
  tests/test_hooks/test_compaction_hooks.py
  tests/test_hooks/test_memory_hooks_branch.py
  tests/test_security/test_hooks.py
  tests/test_security/test_hooks_windows.py
  tests/test_security/test_notify_hooks.py
  tests/test_security/test_ps1_hooks.py
  tests/test_security/test_tts_hooks.py
  tests/test_security/test_tts_hooks_windows.py
  tests/test_spellbook_mcp/test_memory_capture_hook.py
  tests/test_spellbook_mcp/test_memory_hook_registration.py
  tests/test_spellbook_mcp/test_memory_inject_hook.py
  tests/unit/test_hook_cleanup.py
Due: none

Fix green mirage issues: upgrade all assertions to Level 4+ full equality
  tests/integration/test_stint_compact.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_stint_tools.py
Due: none

Add dashboard, memory browser, security log, sessions, config editor (Tracks 1-4)
  spellbook_mcp/admin/app.py
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/hooks/useConfig.ts
  spellbook_mcp/admin/frontend/src/hooks/useDashboard.ts
  spellbook_mcp/admin/frontend/src/hooks/useMemories.ts
  spellbook_mcp/admin/frontend/src/hooks/useSecurity.ts
  spellbook_mcp/admin/frontend/src/hooks/useSessions.ts
  spellbook_mcp/admin/frontend/src/pages/ConfigEditor.tsx
  spellbook_mcp/admin/frontend/src/pages/Dashboard.tsx
  spellbook_mcp/admin/frontend/src/pages/MemoryBrowser.tsx
  spellbook_mcp/admin/frontend/src/pages/SecurityLog.tsx
  spellbook_mcp/admin/frontend/src/pages/Sessions.tsx
  spellbook_mcp/admin/routes/config.py
  spellbook_mcp/admin/routes/dashboard.py
  spellbook_mcp/admin/routes/memory.py
  spellbook_mcp/admin/routes/security.py
  spellbook_mcp/admin/routes/sessions.py
  spellbook_mcp/admin/static/assets/index-ChlP9fmi.css
  spellbook_mcp/admin/static/assets/index-DfZHe_tz.css
  spellbook_mcp/admin/static/assets/index-Ou8J75GD.js
  spellbook_mcp/admin/static/assets/index-P7cFkIYy.js
  spellbook_mcp/admin/static/index.html
  tests/admin/test_config.py
  tests/admin/test_dashboard.py
  tests/admin/test_memory.py
  tests/admin/test_security.py
  tests/admin/test_sessions.py
Due: none

Add WebSocket event bus, fractal explorer, notifications, CLI (Track 5)
  spellbook_mcp/admin/app.py
  spellbook_mcp/admin/cli.py
  spellbook_mcp/admin/events.py
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/components/dashboard/ActivityFeed.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/GraphCanvas.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/GraphControls.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/GraphList.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/NodeDetail.tsx
  spellbook_mcp/admin/frontend/src/components/layout/Header.tsx
  spellbook_mcp/admin/frontend/src/components/shared/Toast.tsx
  spellbook_mcp/admin/frontend/src/hooks/useEventStream.ts
  spellbook_mcp/admin/frontend/src/hooks/useFractalGraph.ts
  spellbook_mcp/admin/frontend/src/hooks/useWebSocket.ts
  spellbook_mcp/admin/frontend/src/main.tsx
  spellbook_mcp/admin/frontend/src/pages/Dashboard.tsx
  spellbook_mcp/admin/frontend/src/pages/FractalExplorer.tsx
  spellbook_mcp/admin/routes/fractal.py
  spellbook_mcp/admin/routes/ws.py
  spellbook_mcp/server.py
  tests/admin/test_cli.py
  tests/admin/test_events.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_notifications.py
  tests/admin/test_performance.py
  tests/admin/test_ws.py
Due: none

Fix WebSocket multiple connections and window property anti-pattern
  spellbook_mcp/admin/frontend/src/components/dashboard/ActivityFeed.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/NodeDetail.tsx
  spellbook_mcp/admin/frontend/src/components/layout/Header.tsx
  spellbook_mcp/admin/frontend/src/contexts/WebSocketContext.tsx
  spellbook_mcp/admin/frontend/src/main.tsx
  spellbook_mcp/admin/frontend/src/pages/Dashboard.tsx
  spellbook_mcp/admin/frontend/src/pages/FractalExplorer.tsx
  spellbook_mcp/admin/static/assets/index-5jvNDpip.css
  spellbook_mcp/admin/static/assets/index-BwAAF4sq.js
  spellbook_mcp/admin/static/assets/index-DfZHe_tz.css
  spellbook_mcp/admin/static/assets/index-Ou8J75GD.js
  spellbook_mcp/admin/static/index.html
Due: none

Fix broken import in test_check_tool_input_mcp.py
  tests/test_security/test_check_tool_input_mcp.py
Due: none

Fix code review findings: security, logic, and error handling
  hooks/spellbook_hook.py
  spellbook_mcp/stint_tools.py
  tests/unit/test_stint_tools.py
Due: none

Add web admin interface to changelog
  CHANGELOG.md
Due: security-scan-changeset

Add changelog entry for Zeigarnik focus-tracking system
  CHANGELOG.md
Due: security-scan-changeset

Fix Gemini review feedback and CI failure
  hooks/spellbook_hook.ps1
  hooks/spellbook_hook.py
  tests/test_security/test_check_tool_input_mcp.py
  tests/unit/test_stint_hooks.py
Due: none

Fix 22 Windows CI failures
  hooks/spellbook_hook.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_notify_hooks.py
  tests/test_security/test_tts_hooks.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_upgrade_path.py
Due: none

Add --no-admin installer flag and frontend build staleness check
  .pre-commit-config.yaml
  install.py
  scripts/check_admin_build.py
  spellbook_mcp/admin/static/.build-hash
Due: none

Add upgrade WHAT'S NEW display and admin info section to installer
  install.py
  installer/version.py
Due: none

Add login page with MCP token authentication
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/api/client.ts
  spellbook_mcp/admin/frontend/src/components/layout/Header.tsx
  spellbook_mcp/admin/frontend/src/contexts/AuthContext.tsx
  spellbook_mcp/admin/frontend/src/pages/Login.tsx
  spellbook_mcp/admin/routes/auth.py
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-5jvNDpip.css
  spellbook_mcp/admin/static/assets/index-BhGN-Vpn.css
  spellbook_mcp/admin/static/assets/index-BwAAF4sq.js
  spellbook_mcp/admin/static/assets/index-wvcch8s8.js
  spellbook_mcp/admin/static/index.html
  tests/admin/conftest.py
  tests/admin/test_auth.py
Due: none

Fix code review findings
  hooks/spellbook_hook.py
  tests/integration/test_stint_compact.py
Due: none

Fix admin serving: bearer auth bypass, SPA routing, db row_factory, contrast
  spellbook_mcp/admin/app.py
  spellbook_mcp/admin/db.py
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/main.tsx
  spellbook_mcp/admin/frontend/src/pages/Login.tsx
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-BhGN-Vpn.css
  spellbook_mcp/admin/static/assets/index-CH_E1hsN.css
  spellbook_mcp/admin/static/assets/index-DO57NNNf.js
  spellbook_mcp/admin/static/index.html
  spellbook_mcp/auth.py
  tests/test_spellbook_mcp/test_auth.py
Due: none

Increase contrast across entire admin theme
  spellbook_mcp/admin/frontend/tailwind.config.js
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-CH_E1hsN.css
  spellbook_mcp/admin/static/assets/index-CtWtXb8_.js
  spellbook_mcp/admin/static/assets/index-IVeCUuAL.css
  spellbook_mcp/admin/static/index.html
Due: none

Add behavioral_mode field to stint entries for compaction survival
  docs/diagrams/skills/implementing-features.md
  docs/skills/implementing-features.md
  hooks/spellbook_hook.py
  skills/implementing-features/SKILL.md
  spellbook_mcp/server.py
  spellbook_mcp/stint_tools.py
  tests/integration/test_stint_compact.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_stint_tools.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add smart update mode to diagram generation
  CHANGELOG.md
  docs/diagrams/skills/generating-diagrams.md
  docs/skills/generating-diagrams.md
  scripts/generate_diagrams.py
  skills/generating-diagrams/SKILL.md
  tests/unit/test_diagram_update.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix Gemini review: AppleScript injection and PS1 stderr suppression
  hooks/spellbook_hook.ps1
  hooks/spellbook_hook.py
  tests/unit/test_stint_hooks.py
Due: none

Fix Windows CI: use platform-aware hook path in installer tests
  tests/test_security/test_installer_hooks.py
Due: none

Release 0.31.0: Zeigarnik focus-tracking, unified hooks, smart diagrams
  .version
  CHANGELOG.md
Due: security-scan-changeset

Fix admin UI: zoom persistence, depth slider, config defaults, sessions, fractal explorer
  scripts/backfill_fractal_sessions.py
  scripts/check_dependabot_coverage.py
  spellbook_mcp/admin/frontend/eslint.config.js
  spellbook_mcp/admin/frontend/package-lock.json
  spellbook_mcp/admin/frontend/package.json
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/api/types.ts
  spellbook_mcp/admin/frontend/src/components/fractal/ChatLogPanel.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/GraphCanvas.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/GraphControls.tsx
  spellbook_mcp/admin/frontend/src/components/fractal/NodeDetail.tsx
  spellbook_mcp/admin/frontend/src/hooks/useFractalGraph.ts
  spellbook_mcp/admin/frontend/src/hooks/useSessions.ts
  spellbook_mcp/admin/frontend/src/hooks/useWebSocket.ts
  spellbook_mcp/admin/frontend/src/pages/FractalExplorer.tsx
  spellbook_mcp/admin/frontend/src/pages/MemoryBrowser.tsx
  spellbook_mcp/admin/frontend/src/pages/Sessions.tsx
  spellbook_mcp/admin/routes/config.py
  spellbook_mcp/admin/routes/fractal.py
  spellbook_mcp/admin/routes/sessions.py
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-CtWtXb8_.js
  spellbook_mcp/admin/static/assets/index-DofiiVrL.js
  spellbook_mcp/admin/static/assets/index-DzGVJkRH.css
  spellbook_mcp/admin/static/assets/index-IVeCUuAL.css
  spellbook_mcp/admin/static/index.html
  spellbook_mcp/fractal/models.py
  spellbook_mcp/fractal/node_ops.py
  spellbook_mcp/fractal/schema.py
  spellbook_mcp/server.py
  tests/admin/test_config.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_sessions.py
Due: none

Add admin observability: tool analytics, health matrix, compaction fix, event monitor
  spellbook_mcp/admin/app.py
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/api/types.ts
  spellbook_mcp/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook_mcp/admin/frontend/src/hooks/useAnalytics.ts
  spellbook_mcp/admin/frontend/src/hooks/useEventStream.ts
  spellbook_mcp/admin/frontend/src/hooks/useHealth.ts
  spellbook_mcp/admin/frontend/src/pages/AnalyticsPage.tsx
  spellbook_mcp/admin/frontend/src/pages/EventMonitorPage.tsx
  spellbook_mcp/admin/frontend/src/pages/HealthPage.tsx
  spellbook_mcp/admin/routes/analytics.py
  spellbook_mcp/admin/routes/health.py
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-0TJGuPML.js
  spellbook_mcp/admin/static/assets/index-CfmnvEw-.css
  spellbook_mcp/admin/static/assets/index-DofiiVrL.js
  spellbook_mcp/admin/static/assets/index-DzGVJkRH.css
  spellbook_mcp/admin/static/index.html
  spellbook_mcp/compaction_detector.py
  tests/admin/test_analytics_routes.py
  tests/admin/test_compaction_detector.py
  tests/admin/test_health_routes.py
Due: none

Update changelog with observability features and compaction fix
  CHANGELOG.md
Due: security-scan-changeset

Sessions multi-select filter + search, spellbook branding
  spellbook_mcp/admin/frontend/index.html
  spellbook_mcp/admin/frontend/public/favicon.svg
  spellbook_mcp/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook_mcp/admin/frontend/src/components/shared/EmptyState.tsx
  spellbook_mcp/admin/frontend/src/components/shared/LoadingSpinner.tsx
  spellbook_mcp/admin/frontend/src/hooks/useSessions.ts
  spellbook_mcp/admin/frontend/src/pages/Login.tsx
  spellbook_mcp/admin/frontend/src/pages/Sessions.tsx
  spellbook_mcp/admin/routes/sessions.py
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-0TJGuPML.js
  spellbook_mcp/admin/static/assets/index-CfmnvEw-.css
  spellbook_mcp/admin/static/assets/index-Cl_1qQnz.js
  spellbook_mcp/admin/static/assets/index-ClqjW2_k.css
  spellbook_mcp/admin/static/favicon.svg
  spellbook_mcp/admin/static/index.html
Due: none

Add Zeigarnik focus-tracking admin page and dashboard card
  spellbook_mcp/admin/app.py
  spellbook_mcp/admin/frontend/src/App.tsx
  spellbook_mcp/admin/frontend/src/api/types.ts
  spellbook_mcp/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook_mcp/admin/frontend/src/hooks/useFocus.ts
  spellbook_mcp/admin/frontend/src/pages/Dashboard.tsx
  spellbook_mcp/admin/frontend/src/pages/FocusPage.tsx
  spellbook_mcp/admin/routes/focus.py
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/assets/index-Cl_1qQnz.js
  spellbook_mcp/admin/static/assets/index-ClqjW2_k.css
  spellbook_mcp/admin/static/assets/index-DUW1m7sO.js
  spellbook_mcp/admin/static/assets/index-DsMV20eq.css
  spellbook_mcp/admin/static/index.html
Due: none

Add admin interface documentation with screenshots
  README.md
  docs/admin/analytics.md
  docs/admin/config.md
  docs/admin/dashboard.md
  docs/admin/events.md
  docs/admin/focus.md
  docs/admin/fractal.md
  docs/admin/health.md
  docs/admin/index.md
  docs/admin/memory.md
  docs/admin/screenshots/analytics.png
  docs/admin/screenshots/config.png
  docs/admin/screenshots/dashboard.png
  docs/admin/screenshots/events.png
  docs/admin/screenshots/focus.png
  docs/admin/screenshots/fractal.png
  docs/admin/screenshots/health.png
  docs/admin/screenshots/login.png
  docs/admin/screenshots/memory.png
  docs/admin/screenshots/security.png
  docs/admin/screenshots/sessions.png
  docs/admin/security.md
  docs/admin/sessions.md
Due: security-scan-changeset

Retake screenshots at 1280x800, add color-scheme: dark, add admin to mkdocs nav
  docs/admin/screenshots/analytics.png
  docs/admin/screenshots/config.png
  docs/admin/screenshots/dashboard.png
  docs/admin/screenshots/events.png
  docs/admin/screenshots/focus.png
  docs/admin/screenshots/fractal.png
  docs/admin/screenshots/health.png
  docs/admin/screenshots/login.png
  docs/admin/screenshots/memory.png
  docs/admin/screenshots/security.png
  docs/admin/screenshots/sessions.png
  mkdocs.yml
  spellbook_mcp/admin/frontend/index.html
  spellbook_mcp/admin/static/.build-hash
  spellbook_mcp/admin/static/index.html
Due: none

Add [docs] optional extra for mkdocs-material, update changelog
  CHANGELOG.md
  README.md
  pyproject.toml
Due: security-scan-changeset

Restructure docs nav: add task-oriented Guide, flatten reference lists
  mkdocs.yml
Due: none
