Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

fix(hook): recovery directive reads decisions_binding, renders remaining gates, drops dead next_action
  hooks/spellbook_hook.py
  tests/test_hooks/test_recovery_directive.py
Due: none

feat(hook): develop accountability nudge on UserPromptSubmit + marker debounce + SessionStart cleanup
  hooks/spellbook_hook.py
  tests/test_hooks/test_develop_nudge.py
Due: none

feat(develop-gates): pure remaining_gates derivation + IMP-6 test
  spellbook/sessions/develop_gates.py
  tests/test_develop_gates.py
Due: none

feat(session_init): report open Follow-up Tasks count
  spellbook/core/config.py
  tests/test_session_init_followups.py
Due: none

feat(dedupe): add dedupe.py skeleton with argparse and corpus resolver
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

test(dedupe): assert dedupe.py imports only stdlib
  tests/test_skills/test_dedupe_helper.py
Due: none

feat(dedupe): add inline Jaccard similarity and text normalization
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(dedupe): add two-signal pair scoring with drift detection
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

fix(develop): address code-review findings on the rework PR
  .version
  CHANGELOG.md
  spellbook/core/config.py
  tests/test_hooks/test_develop_nudge.py
  tests/test_session_init_followups.py
  tests/test_workflow_state_tools.py
Due: security-scan-changeset

feat(dedupe): add multi-granularity markdown segmentation
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/fixtures/dedupe/seg_sample.md
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

test(develop): convert recovery-directive test to tripwire
  tests/test_hooks/test_recovery_directive.py
Due: none

feat(dedupe): add cross-file pairing and union-find clustering
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/fixtures/dedupe/file_a.md
  tests/test_skills/fixtures/dedupe/file_b.md
  tests/test_skills/fixtures/dedupe/file_c.md
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

perf(develop): prune stale nudge markers only at SessionStart
  hooks/spellbook_hook.py
Due: none

refactor(develop): simplify redundant gate condition and guard cwd default
  hooks/spellbook_hook.py
  spellbook/sessions/develop_gates.py
Due: none

refactor(workflow-state): hoist function-level imports to module top
  spellbook/mcp/tools/misc.py
  tests/test_workflow_state_tools.py
Due: none

feat(dedupe): add INLINE-MANDATORY safety detection and danger denylist
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(dedupe): add group expansion with name/path seed resolution
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/fixtures/dedupe/group/skills/analyzer/SKILL.md
  tests/test_skills/fixtures/dedupe/group/skills/helper/SKILL.md
  tests/test_skills/fixtures/dedupe/group/skills/orchestrator/SKILL.md
  tests/test_skills/fixtures/dedupe/group/skills/seed/SKILL.md
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(develop): hoist config imports, guard null ledger/source_hash, repair session_init test regression
  hooks/spellbook_hook.py
  scripts/generate_diagrams.py
  spellbook/core/config.py
  tests/test_session_init_followups.py
  tests/test_spellbook_mcp/test_memory_session_init.py
Due: none

feat(dedupe): detect + external-callers subcommands + cost ceiling (C5, §3.9)
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/fixtures/dedupe/external/ingroup_a.md
  tests/test_skills/fixtures/dedupe/external/ingroup_b.md
  tests/test_skills/fixtures/dedupe/external/outsider.md
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(develop): harden classifier, honest follow-up count cap, document txn ownership
  scripts/generate_diagrams.py
  spellbook/core/config.py
  spellbook/mcp/tools/misc.py
  tests/test_scripts/test_generate_diagrams.py
Due: none

feat(dedupe): verify subcommand + journal schema + zero-auto-edit test (C3, §9.4)
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(dedupe): SKILL orchestrator + 4 command phases + canonical references (M6)
  commands/dedupe-analyze.md
  commands/dedupe-apply.md
  commands/dedupe-report.md
  commands/dedupe-setup.md
  skills/dedupe/SKILL.md
  skills/dedupe/references/counterfactual-prompt.md
  skills/dedupe/references/verdict-taxonomy.md
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(diagrams): regenerate test-driven-development skill diagram
  docs/diagrams/skills/test-driven-development.md
  docs/skills/test-driven-development.md
Due: generate-docs, security-scan-changeset

perf(develop): check nudge marker before workflow_state_load
  hooks/spellbook_hook.py
  tests/test_hooks/test_develop_nudge.py
Due: none

feat(dedupe): follow backticked .md-path references in group expansion
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

test(dedupe): prove zero-auto-edit for all read-only subcommands (green-mirage M1)
  tests/test_skills/test_dedupe_helper.py
Due: none

docs(dedupe): correct expand_group docstrings to five reference shapes
  skills/dedupe/scripts/dedupe.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

docs(changelog): record /dedupe instruction-deduplication skill under Unreleased
  CHANGELOG.md
Due: security-scan-changeset

fix(develop): resolve full-suite CI failures missed by scoped test runs
  spellbook/core/config.py
  spellbook/mcp/tools/misc.py
  tests/test_scripts/test_generate_diagrams.py
  tests/test_session_init_followups.py
  tests/test_spellbook_mcp/test_memory_session_init.py
  tests/test_spellbook_mcp/test_workflow_state_security.py
  tests/unit/test_stint_hooks.py
Due: none

fix(pr-dance): non-blocking CI poll for concurrent gates; bump 0.68.0
  .version
  CHANGELOG.md
  commands/pr-dance.md
  docs/commands/pr-dance.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(diagrams): use as_posix for OS-independent item labels
  scripts/generate_diagrams.py
Due: none

fix(pr-dance): move round-delay sleep out of the CI poll block
  commands/pr-dance.md
  docs/commands/pr-dance.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(pr-dance): sleep when any gate pending, not only when both pend
  commands/pr-dance.md
  docs/commands/pr-dance.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

refactor(skills): strip memory references from skills and AGENTS.spellbook.md
  AGENTS.spellbook.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review.md
  docs/skills/debugging.md
  docs/skills/develop.md
  docs/skills/verifying-hunches.md
  skills/advanced-code-review/SKILL.md
  skills/code-review/SKILL.md
  skills/debugging/SKILL.md
  skills/develop/SKILL.md
  skills/verifying-hunches/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

refactor(hooks): excise memory calls and stop-harvester from spellbook_hook
  hooks/spellbook_hook.py
Due: none

refactor(worker_llm): remove memory_rerank + transcript_harvest tasks
  installer/wizards/worker_llm.py
  spellbook/cli/commands/worker_llm.py
  spellbook/mcp/routes.py
  spellbook/worker_llm/client.py
  spellbook/worker_llm/config.py
  spellbook/worker_llm/default_prompts/memory_rerank.md
  spellbook/worker_llm/default_prompts/transcript_harvest.md
  spellbook/worker_llm/events.py
  spellbook/worker_llm/observability.py
  spellbook/worker_llm/prompts.py
  spellbook/worker_llm/queue.py
  spellbook/worker_llm/tasks/memory_rerank.py
  spellbook/worker_llm/tasks/transcript_harvest.py
  tests/test_worker_llm/conftest.py
  tests/test_worker_llm/test_config.py
  tests/test_worker_llm/test_default_prompts.py
  tests/test_worker_llm/test_doctor_cli.py
  tests/test_worker_llm/test_enqueue_route.py
  tests/test_worker_llm/test_fixtures_smoke.py
  tests/test_worker_llm/test_hook_xml_escape.py
  tests/test_worker_llm/test_installer_wizard.py
  tests/test_worker_llm/test_pre_tool_use_integration.py
  tests/test_worker_llm/test_prompts.py
  tests/test_worker_llm/test_stop_hook_integration.py
  tests/test_worker_llm/test_transcript_harvest.py
Due: security-scan-changeset

refactor(cli): delete memory subcommand + un-wire _COMMAND_MODULES
  spellbook/cli/commands/memory.py
  spellbook/cli/main.py
  tests/test_cli/test_install_wizard_coverage.py
Due: none

refactor(admin): un-wire memory route, enum, schemas, and config keys
  spellbook/admin/app.py
  spellbook/admin/events.py
  spellbook/admin/notifications.py
  spellbook/admin/routes/config.py
  spellbook/admin/routes/dashboard.py
  spellbook/admin/routes/memory.py
  spellbook/admin/routes/schemas.py
  tests/admin/test_config.py
  tests/admin/test_events.py
  tests/admin/test_notifications.py
  tests/admin/test_performance.py
  tests/admin/test_ws.py
  tests/test_worker_llm/test_config_schema.py
Due: none
