Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

Fix markdown lint: replace tilde code fences with quadruple backticks
  commands/feature-implement.md
  docs/commands/feature-implement.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix test imports for spellbook package rename and update tool count
  tests/test_forged/test_iteration_tools.py
  tests/test_forged/test_project_tools.py
  tests/test_forged/test_roundtable.py
  tests/test_forged/test_schema.py
  tests/test_reorg/test_tool_count.py
Due: none

Fix doctor test: patch run_checks in command module, not source module
  tests/test_cli/test_doctor.py
Due: none

Fix installer crash: handle missing package metadata in spellbook/__init__.py
  spellbook/__init__.py
Due: none

Remove deprecated spellbook-server.py, call daemon manager directly
  docs/admin/index.md
  docs/getting-started/installation.md
  docs/windows-support-report.md
  installer/compat.py
  installer/components/mcp.py
  installer/platforms/opencode.py
  scripts/spellbook-server.py
  spellbook/admin/cli.py
  spellbook/daemon/manager.py
  tests/docker/test_platform_install.py
  tests/test_daemon_install.py
Due: security-scan-changeset

Suppress install_service stdout to match installer output formatting
  installer/compat.py
  installer/components/mcp.py
Due: none

Add MCP server entry point and fix daemon module path
  spellbook/daemon/service.py
  spellbook/mcp/__main__.py
Due: none

Fix Windows test failures in CLI tests
  tests/test_cli/test_daemon_client.py
  tests/test_cli/test_formatting.py
  tests/test_cli/test_main.py
Due: none

Release 0.33.0: Execution model redesign, scope drift detection, dispatch enforcement
  .version
  CHANGELOG.md
Due: security-scan-changeset

Release 0.34.0: Fractal explorer redesign, shared page layout, dashboard improvements
  .version
  CHANGELOG.md
  spellbook/admin/frontend/src/api/types.ts
  spellbook/admin/frontend/src/components/fractal/Breadcrumb.tsx
  spellbook/admin/frontend/src/components/fractal/GraphTable.tsx
  spellbook/admin/frontend/src/components/layout/PageHeader.tsx
  spellbook/admin/frontend/src/components/layout/PageLayout.tsx
  spellbook/admin/frontend/src/hooks/useFractalGraph.ts
  spellbook/admin/frontend/src/pages/AnalyticsPage.tsx
  spellbook/admin/frontend/src/pages/ChatHistoryPage.tsx
  spellbook/admin/frontend/src/pages/ConfigEditor.tsx
  spellbook/admin/frontend/src/pages/Dashboard.tsx
  spellbook/admin/frontend/src/pages/EventMonitorPage.tsx
  spellbook/admin/frontend/src/pages/FocusPage.tsx
  spellbook/admin/frontend/src/pages/FractalExplorer.tsx
  spellbook/admin/frontend/src/pages/HealthPage.tsx
  spellbook/admin/frontend/src/pages/MemoryBrowser.tsx
  spellbook/admin/frontend/src/pages/SecurityLog.tsx
  spellbook/admin/frontend/src/pages/SessionDetailPage.tsx
  spellbook/admin/frontend/src/pages/Sessions.tsx
  spellbook/admin/routes/dashboard.py
  spellbook/admin/routes/fractal.py
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-B8rCkZtc.js
  spellbook/admin/static/assets/index-BI7NzUKy.css
  spellbook/admin/static/assets/index-CQnROFUl.css
  spellbook/admin/static/assets/index-DFTjeegF.js
  spellbook/admin/static/index.html
  spellbook/fractal/graph_ops.py
  spellbook/fractal/models.py
  spellbook/fractal/schema.py
  tests/admin/test_dashboard.py
Due: security-scan-changeset

Fix focus page: unwrap API response wrappers in frontend hooks
  spellbook/admin/frontend/src/hooks/useFocus.ts
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-GG8O3e7U.js
  spellbook/admin/static/index.html
Due: none

Fix fractal schema tests for v4 migration
  tests/test_fractal/test_models.py
  tests/test_fractal/test_schema.py
Due: none

Bump version to 0.34.1
  .version
Due: none

feat: add SQLAlchemy DB layer, session factories, and FK orphan audit
  .claude/prompts/admin-standardization-chunk-1.md
  .claude/prompts/admin-standardization-chunk-2.md
  .claude/prompts/admin-standardization-chunk-3.md
  .claude/prompts/admin-standardization-chunk-4.md
  .claude/prompts/admin-standardization-chunk-5.md
  .claude/prompts/admin-standardization-chunk-6.md
  .claude/prompts/admin-standardization-chunk-7.md
  .claude/prompts/admin-standardization-chunk-8.md
  .github/dependabot.yml
  commands/feature-implement.md
  docs/commands/feature-implement.md
  pyproject.toml
  scripts/audit_fk_orphans.py
  spellbook/db/__init__.py
  spellbook/db/base.py
  spellbook/db/engines.py
  spellbook/db/helpers.py
  tests/admin/test_db_engines.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: add explicit skill invocation enforcement to work item chunks
  .claude/prompts/admin-standardization-chunk-2.md
  .claude/prompts/admin-standardization-chunk-3.md
  .claude/prompts/admin-standardization-chunk-4.md
  .claude/prompts/admin-standardization-chunk-5.md
  .claude/prompts/admin-standardization-chunk-6.md
  .claude/prompts/admin-standardization-chunk-7.md
  .claude/prompts/admin-standardization-chunk-8.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/skills/security-auditing.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: add SQLAlchemy ORM models for all 4 databases
  spellbook/db/coordination_models.py
  spellbook/db/forged_models.py
  spellbook/db/fractal_models.py
  spellbook/db/spellbook_models.py
  tests/admin/test_coordination_models.py
  tests/admin/test_forged_models.py
  tests/admin/test_fractal_models.py
  tests/admin/test_spellbook_models.py
Due: none

feat: add Alembic multi-DB migrations, list helpers, and ListResponse schema
  spellbook/admin/routes/list_helpers.py
  spellbook/admin/routes/schemas.py
  spellbook/db/migrations/alembic.ini
  spellbook/db/migrations/env.py
  spellbook/db/migrations/script.py.mako
  spellbook/db/migrations/versions/coordination/.gitkeep
  spellbook/db/migrations/versions/forged/.gitkeep
  spellbook/db/migrations/versions/fractal/.gitkeep
  spellbook/db/migrations/versions/spellbook/.gitkeep
  tests/admin/test_alembic.py
  tests/admin/test_list_helpers.py
  tests/admin/test_list_response_schema.py
Due: none

feat: migrate all 8 admin route files from raw SQL to SQLAlchemy ORM
  spellbook/admin/routes/analytics.py
  spellbook/admin/routes/dashboard.py
  spellbook/admin/routes/focus.py
  spellbook/admin/routes/fractal.py
  spellbook/admin/routes/health.py
  spellbook/admin/routes/memory.py
  spellbook/admin/routes/security.py
  spellbook/admin/routes/sessions.py
  tests/admin/test_analytics_routes.py
  tests/admin/test_analytics_routes_orm.py
  tests/admin/test_dashboard.py
  tests/admin/test_dashboard_orm.py
  tests/admin/test_focus_routes.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_health_routes.py
  tests/admin/test_memory.py
  tests/admin/test_performance.py
  tests/admin/test_security.py
  tests/admin/test_sessions.py
Due: none

feat: add frontend shared components and useListPage hook
  spellbook/admin/frontend/src/api/types.ts
  spellbook/admin/frontend/src/components/shared/DataTable.test.tsx
  spellbook/admin/frontend/src/components/shared/DataTable.tsx
  spellbook/admin/frontend/src/components/shared/FilterBar.test.tsx
  spellbook/admin/frontend/src/components/shared/FilterBar.tsx
  spellbook/admin/frontend/src/components/shared/Pagination.test.tsx
  spellbook/admin/frontend/src/components/shared/Pagination.tsx
  spellbook/admin/frontend/src/components/shared/SearchBar.test.tsx
  spellbook/admin/frontend/src/components/shared/SearchBar.tsx
  spellbook/admin/frontend/src/hooks/useListPage.test.ts
  spellbook/admin/frontend/src/hooks/useListPage.ts
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-CQnROFUl.css
  spellbook/admin/static/assets/index-Ctq_mKGv.js
  spellbook/admin/static/assets/index-D0fq80V_.css
  spellbook/admin/static/assets/index-GG8O3e7U.js
  spellbook/admin/static/index.html
Due: none

feat: migrate all 6 list pages to DataTable + useListPage
  spellbook/admin/frontend/src/api/types.ts
  spellbook/admin/frontend/src/components/fractal/GraphTable.test.tsx
  spellbook/admin/frontend/src/components/fractal/GraphTable.tsx
  spellbook/admin/frontend/src/hooks/useFractalGraph.ts
  spellbook/admin/frontend/src/hooks/useMemories.ts
  spellbook/admin/frontend/src/hooks/useSecurity.ts
  spellbook/admin/frontend/src/hooks/useSessions.ts
  spellbook/admin/frontend/src/pages/CorrectionsPage.test.tsx
  spellbook/admin/frontend/src/pages/CorrectionsPage.tsx
  spellbook/admin/frontend/src/pages/MemoryBrowser.test.tsx
  spellbook/admin/frontend/src/pages/MemoryBrowser.tsx
  spellbook/admin/frontend/src/pages/SecurityLog.test.tsx
  spellbook/admin/frontend/src/pages/SecurityLog.tsx
  spellbook/admin/frontend/src/pages/Sessions.test.tsx
  spellbook/admin/frontend/src/pages/Sessions.tsx
  spellbook/admin/frontend/src/pages/StacksPage.test.tsx
  spellbook/admin/frontend/src/pages/StacksPage.tsx
  spellbook/admin/routes/fractal.py
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-C2vl8A4E.js
  spellbook/admin/static/assets/index-Ctq_mKGv.js
  spellbook/admin/static/assets/index-D0fq80V_.css
  spellbook/admin/static/assets/index-NxgfNui2.css
  spellbook/admin/static/index.html
  tests/admin/test_fractal_routes.py
Due: none

feat: finalize admin UI standardization
  spellbook/admin/db.py
  spellbook/admin/frontend/src/App.test.tsx
  spellbook/admin/frontend/src/App.tsx
  spellbook/admin/frontend/src/components/layout/Sidebar.test.tsx
  spellbook/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook/admin/frontend/src/pages/ChatHistoryPage.test.tsx
  spellbook/admin/frontend/src/pages/SessionDetailPage.test.tsx
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-BWSsXcgy.js
  spellbook/admin/static/assets/index-C2vl8A4E.js
  spellbook/admin/static/index.html
  tests/admin/test_db.py
Due: none

fix: address PR feedback and CI failures
  commands/feature-implement.md
  docs/commands/feature-implement.md
  spellbook/admin/frontend/src/api/types.ts
  spellbook/admin/static/.build-hash
  tests/admin/test_performance.py
  tests/test_forged/test_integration.py
  tests/test_forged/test_roundtable.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: remove work item prompt files from branch
  .claude/prompts/admin-standardization-chunk-1.md
  .claude/prompts/admin-standardization-chunk-2.md
  .claude/prompts/admin-standardization-chunk-3.md
  .claude/prompts/admin-standardization-chunk-4.md
  .claude/prompts/admin-standardization-chunk-5.md
  .claude/prompts/admin-standardization-chunk-6.md
  .claude/prompts/admin-standardization-chunk-7.md
  .claude/prompts/admin-standardization-chunk-8.md
Due: security-scan-changeset

docs: add CHANGELOG entry for admin UI standardization
  CHANGELOG.md
Due: security-scan-changeset

test: add integration tests for memory bridge end-to-end flow
  tests/test_spellbook_mcp/test_memory_bridge_integration.py
Due: none

feat: add auto-memory bridge hook for path detection and write capture
  hooks/spellbook_hook.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
Due: none

docs: add Memory System section to AGENTS.spellbook.md
  AGENTS.spellbook.md
Due: security-scan-changeset

feat: integrate MEMORY.md regeneration into session init
  spellbook/core/config.py
  tests/test_spellbook_mcp/test_memory_session_init.py
Due: none

feat: add bridge content endpoint and MEMORY.md regenerator
  spellbook/mcp/routes.py
  spellbook/memory/bootstrap.py
  tests/test_spellbook_mcp/test_memory_bootstrap.py
  tests/test_spellbook_mcp/test_memory_bridge_endpoint.py
Due: none

refactor: simplify MEMORY.md to static redirect template
  hooks/spellbook_hook.py
  spellbook/memory/bootstrap.py
  tests/test_spellbook_mcp/test_memory_bootstrap.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
  tests/test_spellbook_mcp/test_memory_bridge_integration.py
Due: none

fix: enforce explicit worktree/branch instructions in subagent dispatch
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/skills/executing-plans.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/executing-plans.md
  scripts/generate_diagrams.py
  skills/dispatching-parallel-agents/SKILL.md
  skills/executing-plans/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: admin UI stacks rendering, nav order, header consistency, error handling
  spellbook/admin/frontend/src/App.tsx
  spellbook/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook/admin/frontend/src/components/shared/ErrorBoundary.tsx
  spellbook/admin/frontend/src/components/shared/ErrorDisplay.tsx
  spellbook/admin/frontend/src/hooks/useFocus.ts
  spellbook/admin/frontend/src/pages/CorrectionsPage.tsx
  spellbook/admin/frontend/src/pages/SecurityLog.tsx
  spellbook/admin/frontend/src/pages/Sessions.tsx
  spellbook/admin/frontend/src/pages/StacksPage.tsx
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-BWSsXcgy.js
  spellbook/admin/static/assets/index-DH0IE3aT.css
  spellbook/admin/static/assets/index-DiWaG8E_.js
  spellbook/admin/static/assets/index-NxgfNui2.css
  spellbook/admin/static/index.html
Due: none

docs: update CHANGELOG with memory synthesis and admin UI fixes
  CHANGELOG.md
Due: security-scan-changeset

Synthesize Claude Code auto-memory with spellbook MCP memory system (#143)
  AGENTS.spellbook.md
  CHANGELOG.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/skills/executing-plans.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/executing-plans.md
  hooks/spellbook_hook.py
  scripts/generate_diagrams.py
  skills/dispatching-parallel-agents/SKILL.md
  skills/executing-plans/SKILL.md
  spellbook/admin/frontend/src/App.tsx
  spellbook/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook/admin/frontend/src/components/shared/ErrorBoundary.tsx
  spellbook/admin/frontend/src/components/shared/ErrorDisplay.tsx
  spellbook/admin/frontend/src/hooks/useFocus.ts
  spellbook/admin/frontend/src/pages/CorrectionsPage.tsx
  spellbook/admin/frontend/src/pages/SecurityLog.tsx
  spellbook/admin/frontend/src/pages/Sessions.tsx
  spellbook/admin/frontend/src/pages/StacksPage.tsx
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index-BWSsXcgy.js
  spellbook/admin/static/assets/index-DH0IE3aT.css
  spellbook/admin/static/assets/index-DiWaG8E_.js
  spellbook/admin/static/assets/index-NxgfNui2.css
  spellbook/admin/static/index.html
  spellbook/core/config.py
  spellbook/mcp/routes.py
  spellbook/memory/bootstrap.py
  tests/test_spellbook_mcp/test_memory_bootstrap.py
  tests/test_spellbook_mcp/test_memory_bridge_endpoint.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
  tests/test_spellbook_mcp/test_memory_bridge_integration.py
  tests/test_spellbook_mcp/test_memory_session_init.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Bump version to 0.35.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

Redesign stint system: pure LLM ownership
  AGENTS.spellbook.md
  hooks/spellbook_hook.py
  scripts/reset_bloated_stints.py
  spellbook/admin/frontend/src/api/types.ts
  spellbook/admin/frontend/src/pages/CorrectionsPage.test.tsx
  spellbook/admin/frontend/src/pages/FocusPage.tsx
  spellbook/admin/frontend/src/pages/StacksPage.test.tsx
  spellbook/admin/frontend/src/pages/StacksPage.tsx
  spellbook/admin/static/.build-hash
  spellbook/admin/static/assets/index--jEb6wpC.js
  spellbook/admin/static/assets/index-DiWaG8E_.js
  spellbook/admin/static/index.html
  spellbook/coordination/stint.py
  spellbook/mcp/tools/coordination.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_stint_mcp_registration.py
  tests/unit/test_stint_tools.py
Due: security-scan-changeset

Wrap cleanup script DB connection in try/finally
  scripts/reset_bloated_stints.py
Due: none

Bump version to 0.35.1
  .version
  CHANGELOG.md
Due: security-scan-changeset

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
