Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

Point mocking guidance at AGENTS.md (matches CHANGELOG entry)
  docs/skills/dispatching-sub-orchestrators.md
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add sub_orchestrators execution mode for COMPLEX features (#259)
  .version
  CHANGELOG.md
  README.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/skills/develop.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/dispatching-sub-orchestrators.md
  mkdocs.yml
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Restore peerDependencies @opencode-ai/plugin to >=1.0.0
  extensions/opencode/context-curator/package.json
  extensions/opencode/spellbook-workflow-state/package.json
Due: none

chore: rename python-tripwire dependency to pytest-tripwire 0.21.0
  .gemini/styleguide.md
  AGENTS.md
  CHANGELOG.md
  docs/skills/dispatching-sub-orchestrators.md
  pyproject.toml
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Bump version to 0.58.1 and add CHANGELOG entry for dependabot batch
  .version
  CHANGELOG.md
Due: security-scan-changeset

chore: bump version to 0.58.1 for pytest-tripwire rebrand
  .version
  CHANGELOG.md
Due: security-scan-changeset

Fix python-tripwire[http] -> pytest-tripwire[http] dep rename
  CHANGELOG.md
  pyproject.toml
Due: security-scan-changeset

chore: rename python-tripwire dependency to pytest-tripwire 0.21.0 (#257)
  .gemini/styleguide.md
  .version
  AGENTS.md
  CHANGELOG.md
  docs/skills/dispatching-sub-orchestrators.md
  pyproject.toml
  skills/dispatching-sub-orchestrators/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address gemini findings: resolve lockfile conflict, fix peerDeps, bump to 0.59.0
  .version
  CHANGELOG.md
  extensions/opencode/context-curator/package-lock.json
  extensions/opencode/spellbook-workflow-state/package-lock.json
  spellbook/admin/frontend/package-lock.json
Due: security-scan-changeset

Bump to 0.58.2 (patch), align requirements-docs.txt mkdocs-material
  .version
  CHANGELOG.md
  requirements-docs.txt
Due: security-scan-changeset

Bump to 0.59.0 (minor) and reorder CHANGELOG
  .version
  CHANGELOG.md
Due: security-scan-changeset

Batch dependabot bumps: 23 dependency updates (#260)
  .version
  CHANGELOG.md
  extensions/opencode/context-curator/package-lock.json
  extensions/opencode/context-curator/package.json
  extensions/opencode/spellbook-workflow-state/package-lock.json
  extensions/opencode/spellbook-workflow-state/package.json
  pyproject.toml
  requirements-docs.txt
  spellbook/admin/frontend/package-lock.json
  spellbook/admin/frontend/package.json
  tests/unit/package-lock.json
  tests/unit/package.json
Due: security-scan-changeset

Add PR Agent workflow
  .github/workflows/pr-agent.yml
Due: none

Replace PR-Agent with Momus (axiomantic/momus)
  .github/workflows/momus.yml
  .github/workflows/pr-agent.yml
Due: none

Add windows_only / posix_only pytest markers
  pyproject.toml
  tests/conftest.py
Due: none

Add managed permissions state file
  installer/components/managed_permissions_state.py
  tests/installer/test_managed_permissions_state.py
Due: none

Warn-and-skip cross-bucket permission conflicts
  installer/components/permissions.py
  tests/installer/test_install_permissions.py
Due: none

Wire install_default_mode and install_permissions into ClaudeCodeInstaller
  installer/platforms/claude_code.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
Due: none

Validate defaultMode against Claude Code allowlist
  installer/components/default_mode.py
  tests/installer/test_install_default_mode.py
Due: none

Add install_permissions component
  installer/components/permissions.py
  tests/installer/test_install_permissions.py
Due: none

Tighten install-hooks atomic-write assertions
  tests/installer/test_hooks_atomic_write.py
Due: none

Add install_default_mode component
  installer/components/default_mode.py
  tests/installer/test_install_default_mode.py
Due: none

Switch hooks.py settings writes to atomic_write_json
  installer/components/hooks.py
  tests/installer/test_hooks_atomic_write.py
Due: none

Add symmetric uninstall for default_mode and permissions
  installer/components/default_mode.py
  installer/components/managed_permissions_state.py
  installer/components/permissions.py
  installer/platforms/claude_code.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_install_default_mode.py
  tests/installer/test_install_permissions.py
  tests/installer/test_managed_permissions_state.py
Due: none

Rewrite hooks atomic-write test using tripwire
  tests/installer/test_hooks_atomic_write.py
Due: none

Replace monkeypatch with tripwire in install_default_mode test
  tests/installer/test_install_default_mode.py
Due: none

Bump version to 0.60.0 + CHANGELOG entry
  .version
  CHANGELOG.md
Due: security-scan-changeset

Update PR Review Bot config to Momus
  AGENTS.md
Due: security-scan-changeset

Log warning when reading corrupt state file
  installer/components/managed_permissions_state.py
  tests/installer/test_managed_permissions_state.py
Due: none

Fix ownership theft in install_permissions managed-set tracking
  installer/components/permissions.py
  tests/installer/test_install_permissions.py
Due: none

Replace monkeypatch with tripwire for atomic_write_json mocks
  tests/installer/test_install_permissions.py
  tests/installer/test_managed_permissions_state.py
Due: none

Replace monkeypatch with tripwire in claude_code_wires test
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
Due: none

Mock shutil.which("powershell") in tripwire-sandboxed install tests
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_hooks_atomic_write.py
Due: none

Fix BOT-A1/A2/A3: ownership theft, dup helper, misleading comment
  installer/components/_settings_io.py
  installer/components/default_mode.py
  installer/components/permissions.py
  installer/platforms/claude_code.py
  tests/installer/test_install_default_mode.py
Due: none

Phase 0: extend installer to manage defaultMode and permissions (#261)
  .version
  AGENTS.md
  CHANGELOG.md
  installer/components/_settings_io.py
  installer/components/default_mode.py
  installer/components/hooks.py
  installer/components/managed_permissions_state.py
  installer/components/permissions.py
  installer/platforms/claude_code.py
  pyproject.toml
  tests/conftest.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_hooks_atomic_write.py
  tests/installer/test_install_default_mode.py
  tests/installer/test_install_permissions.py
  tests/installer/test_managed_permissions_state.py
Due: security-scan-changeset

ci(momus): only auto-review on PR opened
  .github/workflows/momus.yml
Due: none

feat(scripts): YOLO transcript analyzer for permissions.allow seeding
  .version
  CHANGELOG.md
  scripts/analyze_yolo_transcripts.py
  tests/test_scripts/__init__.py
  tests/test_scripts/fixtures/yolo_transcripts/-Users-fake-project/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee.jsonl
  tests/test_scripts/fixtures/yolo_transcripts/-Users-fake-project/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/subagents/agent-deadbeef.jsonl
  tests/test_scripts/test_analyze_yolo_transcripts.py
Due: security-scan-changeset

fix(installer): handle null values in settings.json reads
  installer/components/_settings_io.py
  installer/components/permissions.py
Due: none

test(installer): migrate managed_permissions_state test to tripwire
  installer/components/managed_permissions_state.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
Due: none

test(installer): replace _FlakyReplace stub with tripwire sequential mock
  tests/installer/test_hooks_atomic_write.py
Due: none
