Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

test(installer): cover read_settings non-dict JSON guard
  tests/installer/test_settings_io.py
Due: none

feat(scripts): YOLO transcript analyzer for permissions.allow seeding (#281)
  .version
  CHANGELOG.md
  installer/components/_settings_io.py
  installer/components/managed_permissions_state.py
  installer/components/permissions.py
  scripts/analyze_yolo_transcripts.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_hooks_atomic_write.py
  tests/installer/test_settings_io.py
  tests/test_scripts/__init__.py
  tests/test_scripts/fixtures/yolo_transcripts/-Users-fake-project/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee.jsonl
  tests/test_scripts/fixtures/yolo_transcripts/-Users-fake-project/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/subagents/agent-deadbeef.jsonl
  tests/test_scripts/test_analyze_yolo_transcripts.py
Due: security-scan-changeset

docs: regenerate stale skill and command pages
  docs/commands/crystallize-verify.md
  docs/commands/crystallize.md
  docs/commands/feature-config.md
  docs/commands/index.md
  docs/commands/pr-dance.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review.md
  docs/skills/distilling-prs.md
  docs/skills/optimizing-instructions.md
  docs/skills/session-resume.md
Due: security-scan-changeset

docs: regenerate crystallize-consolidate command page
  docs/commands/crystallize-consolidate.md
Due: security-scan-changeset

pr-dance: harden no-merge stop against session-level autonomy directives
  commands/pr-dance.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: drop em-dash prohibition rules
  AGENTS.spellbook.md
Due: security-scan-changeset

feat(gates): extract transcript analyzer to library
  scripts/analyze_yolo_transcripts.py
  spellbook/gates/__init__.py
  spellbook/gates/transcript_analyzer.py
Due: none

feat(skills): permissions-from-transcripts
  skills/permissions-from-transcripts/SKILL.md
  tests/test_skills/__init__.py
  tests/test_skills/test_permissions_from_transcripts.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(gates): Read tool secret-path denylist
  spellbook/gates/check.py
  spellbook/gates/secret_paths.py
  tests/test_security/test_read_secret_denylist.py
Due: none

refactor(gates): unify bash policy across Claude and Gemini paths
  hooks/bash-policy.toml
  installer/platforms/gemini.py
  spellbook/gates/rules.py
  tests/docker/test_platform_install.py
  tests/test_security/test_bash_policy_unified.py
  tests/test_security/test_gemini_policy.py
  tests/test_security/test_rules.py
  tests/unit/test_hook_cleanup.py
Due: none

feat(gates): bashlex AST parser for compound commands
  pyproject.toml
  spellbook/gates/bash_parser.py
  spellbook/gates/check.py
  tests/gates/__init__.py
  tests/gates/test_bash_parser.py
  tests/test_security/test_hooks_windows.py
Due: none

fix(tests): relax exact-equality assertions for layered findings
  tests/test_security/test_hooks_windows.py
Due: none

feat(gates): reversibility tier classifier and tiers.toml
  spellbook/gates/tiers.py
  spellbook/gates/tiers.toml
  tests/gates/test_tiers.py
Due: none

feat(installer): derive L2 permissions from tier projection
  installer/components/permissions.py
  installer/platforms/claude_code.py
  spellbook/gates/tiers.py
  tests/installer/test_l2_derivation.py
Due: none

feat(gates): wire tier classifier into PreToolUse hook
  spellbook/gates/check.py
  tests/test_security/test_check.py
  tests/test_security/test_hooks_windows.py
Due: none

release: 0.62.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix(gates): close path-bypass + duration + audit-lock review findings
  spellbook/gates/bash_parser.py
  spellbook/gates/tiers.py
  tests/gates/test_bash_parser.py
Due: none

test(gates,installer): convert monkeypatch.setattr to tripwire mocks
  spellbook/gates/bash_parser.py
  tests/gates/test_bash_parser.py
  tests/installer/test_l2_derivation.py
Due: none

fix(gates): observe silent excepts and replace pop(0) with indexed iteration
  spellbook/gates/bash_parser.py
Due: none

test(installer): assert powershell probe on Windows in claude_code installer test
  tests/installer/test_l2_derivation.py
Due: none

fix(gates): cycle-4 review nits — tomllib shim + import + constant cleanups
  spellbook/gates/check.py
  spellbook/gates/tiers.py
Due: none

fix(gates): cycle-5 security hardening — bash_parser env, redirects, walker, shell-out
  spellbook/gates/bash_parser.py
  tests/gates/test_bash_parser.py
Due: none

fix(transcript_analyzer): mutating git subcommands no longer short-circuit safe
  spellbook/gates/transcript_analyzer.py
  tests/test_skills/test_permissions_from_transcripts.py
Due: none

fix(gates): cycle-6 hardening — bg-command bypass, redirect traversal, regex tier records
  spellbook/gates/bash_parser.py
  spellbook/gates/tiers.py
Due: none

test(gates): replace hand-rolled stubs and unmocked I/O with tripwire mocks
  tests/gates/test_bash_parser.py
  tests/gates/test_tiers.py
Due: none

fix(gates): redirect-target prefix match works on Windows
  spellbook/gates/bash_parser.py
Due: none

fix(gates): strip drive letter so tilde-traversal redirect matches on Windows
  spellbook/gates/bash_parser.py
Due: none

fix(gates): cycle-7 hardening — timeout/env wrapper flag-with-arg bypass, env-prefix expansion, bare-dir redirect
  spellbook/gates/bash_parser.py
  tests/gates/test_bash_parser.py
Due: none

fix(transcript_analyzer): git branch --list with pattern is read-only
  spellbook/gates/transcript_analyzer.py
  tests/test_skills/test_permissions_from_transcripts.py
Due: none

fix(gates,transcript_analyzer): cycle-8 — narrow /usr/ deny + git branch read-only flag args
  spellbook/gates/bash_parser.py
  spellbook/gates/transcript_analyzer.py
  tests/gates/test_bash_parser.py
  tests/test_skills/test_permissions_from_transcripts.py
Due: none

fix(installer,gates): observe silent except blocks per styleguide
  installer/platforms/gemini.py
  spellbook/gates/check.py
  spellbook/gates/secret_paths.py
Due: none

fix(gates): cycle-9 — top-level imports, logger over print, tighter projection check
  spellbook/gates/bash_parser.py
  spellbook/gates/rules.py
  spellbook/gates/tiers.py
Due: none

Add agent2agent skill: filesystem inter-session message bus
  CHANGELOG.md
  docs/skills/agent2agent.md
  hooks/spellbook_hook.py
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address gemini review: version bump, changelog, frontmatter, error logging
  .version
  CHANGELOG.md
  commands/crystallize-consolidate.md
  docs/commands/index.md
  docs/skills/permissions-from-transcripts.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address momus review: helper unit tests, fast hook tests, drift guard
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_agent2agent_helper.py
Due: none

Address momus BOT-C1: convert unittest.mock to tripwire
  tests/test_hooks/test_agent2agent_hook.py
Due: none

Add agent2agent skill: filesystem inter-session message bus (#283)
  .version
  CHANGELOG.md
  commands/crystallize-consolidate.md
  docs/commands/index.md
  docs/skills/agent2agent.md
  docs/skills/permissions-from-transcripts.md
  hooks/spellbook_hook.py
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(hooks): emit permissionDecision "ask" for T2 findings
  hooks/spellbook_hook.py
  spellbook/gates/check.py
  tests/test_security/test_check.py
  tests/test_security/test_hooks.py
Due: none

feat(agent2agent): rename listen/unlisten subcommands to open/close
  skills/agent2agent/SKILL.md
  skills/agent2agent/scripts/agent2agent.py
  tests/test_hooks/test_agent2agent_hook.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset
