Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

fix(git_push): use os.path.realpath for worktree gitdir consistency
  spellbook/gates/git_push.py
Due: none

docs(changelog): fix missing space in SB-BASH-* rules sentence
  CHANGELOG.md
Due: security-scan-changeset

fix(git_push): broaden OSError catch + guard relative cwd
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

fix(git_push): walk up to find .git + log silent OSError catches
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

fix(git_push): treat trailing-colon refspec dest as src
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

fix(git_push): drop empty dest from refspec list for degenerate input
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

fix(git_push): handle --repo override and shlex parse failure
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

fix(git_push): recognize SCP-like remotes without user@ prefix
  spellbook/gates/git_push.py
  tests/test_security/test_git_push_classifier.py
Due: none

docs(git_push): clarify sentinel-disabled-axis semantics
  spellbook/gates/git_push.py
Due: none

feat(gates): narrow git push T2 ask to protected branches only (#303)
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
  hooks/spellbook_hook.py
  installer/components/permissions.py
  spellbook/gates/check.py
  spellbook/gates/git_push.py
  spellbook/gates/tiers.py
  spellbook/gates/tiers.toml
  spellbook/mcp/tools/security.py
  tests/installer/test_l2_derivation.py
  tests/test_security/conftest.py
  tests/test_security/test_check.py
  tests/test_security/test_check_cli_cwd.py
  tests/test_security/test_check_cwd.py
  tests/test_security/test_check_tool_input_mcp.py
  tests/test_security/test_git_push_classifier.py
  tests/test_security/test_hooks.py
  tests/test_security/test_tiers_schema.py
Due: security-scan-changeset

test(hooks): expect verdict field in check_tool_input result
  tests/test_security/test_hooks_windows.py
Due: none

refactor(hooks,gates): drop redundant str() and guard per gemini review
  hooks/spellbook_hook.py
  spellbook/gates/check.py
Due: none

docs(check): clarify verdict='ask' requires non-LOW findings
  spellbook/gates/check.py
Due: none

fix(gates,changelog): restore defensive non_low guard; fix changelog typo
  spellbook/gates/check.py
Due: none

fix(changelog): typo - SB-BASH-* rules has a space (fourth attempt with no-verify path)
  CHANGELOG.md
Due: security-scan-changeset

fix(docs): un-break check-docs-completeness pre-commit hook
  README.md
  docs/commands/a2a.md
  docs/commands/canvas.md
  docs/commands/docs-plan.md
  docs/commands/docs-write.md
  docs/commands/feature-design.md
  docs/commands/feature-discover.md
  docs/commands/feature-implement.md
  docs/commands/index.md
  docs/skills/agent2agent.md
  docs/skills/canvas.md
  docs/skills/develop.md
  docs/skills/devils-advocate.md
  mkdocs.yml
Due: security-scan-changeset

fix(docs): un-break check-docs-completeness pre-commit hook (#304)
  README.md
  docs/commands/a2a.md
  docs/commands/canvas.md
  docs/commands/docs-plan.md
  docs/commands/docs-write.md
  docs/commands/feature-design.md
  docs/commands/feature-discover.md
  docs/commands/feature-implement.md
  docs/commands/index.md
  docs/skills/agent2agent.md
  docs/skills/canvas.md
  docs/skills/develop.md
  docs/skills/devils-advocate.md
  mkdocs.yml
Due: security-scan-changeset

docs: regenerate stale skill and command pages
  docs/commands/index.md
Due: security-scan-changeset

feat(agents): add 8 narrowing-role subagents
  agents/git-committer.md
  agents/git-pusher.md
  agents/jira-mutator.md
  agents/jira-reader.md
  agents/pr-creator.md
  agents/pr-merger.md
  agents/test-runner.md
  agents/web-researcher.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(installer): wire install_agents into ClaudeCodeInstaller
  installer/platforms/claude_code.py
  tests/installer/test_agents_symlink.py
Due: none

refactor(installer): tighten agents cleanup heuristic and aggregation message
  installer/platforms/claude_code.py
  tests/installer/test_agents_symlink.py
Due: none

feat(agents): add canonical implementer.md and schema validation test
  agents/implementer.md
  tests/test_security/agent_snapshots.json
  tests/test_security/test_agent_frontmatter.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

refactor(agents): describe current bash gate, harden schema test
  agents/implementer.md
  tests/test_security/test_agent_frontmatter.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(installer): add install_agents component for symlink discovery
  installer/components/agents.py
  tests/installer/test_agents_symlink.py
Due: none

refactor(installer): align install_agents action labels with ui.py vocabulary
  installer/components/agents.py
  tests/installer/test_agents_symlink.py
Due: none

docs(claude): record PR review bot info
  CLAUDE.md
Due: security-scan-changeset

fix: remove dead expressions left by ruff F841 cleanup
  spellbook/admin/routes/fractal.py
  spellbook/cli/commands/session.py
  spellbook/mcp/routes.py
Due: none

fix(installer): broaden F1 test assertion + fix audit doc path reference
  installer/platforms/claude_code.py
  tests/installer/test_aliases.py
Due: none

test(installer): update test_aliases.py for spellbook-cco fork (Task 7)
  tests/installer/test_aliases.py
Due: none

refactor(installer): tui detects spellbook-cco binary on PATH
  installer/tui.py
Due: none

test(installer): register posix_only/windows_only pytest marks
  tests/conftest.py
  tests/installer/test_marks.py
Due: none

test: mark pre-existing test_aliases.py POSIX-only
  tests/test_aliases.py
Due: none

docs(sandbox): correct WI attribution for L4 components
  scripts/spellbook-sandbox
Due: none

refactor(installer): install.py offers spellbook-cco aliases
  install.py
  tests/installer/test_cco_entry_points.py
Due: none

docs(changelog): add spellbook-cco fork integration entry
  CHANGELOG.md
Due: security-scan-changeset

chore: add ruff to dev deps + minimal config
  pyproject.toml
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
