Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

docs(admin): correct sectionTitleForKey docstring example
  spellbook/admin/frontend/src/pages/ConfigEditor.tsx
Due: none

docs(admin): anchor trust-boundary comment to durable location; use real schema key in example
  spellbook/admin/frontend/src/canvas/render.tsx
  spellbook/admin/frontend/src/pages/ConfigEditor.tsx
Due: none

feat(canvas): add not-prose boundaries to shortcode content regions
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Chart.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Collapsible.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Diagram.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Tabs.tsx
Due: none

feat(canvas): not-prose on all Choice render-root branches
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Choice.tsx
Due: none

feat(canvas): not-prose on all Approve render-root branches
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Approve.tsx
Due: none

feat(canvas): token-exact element overrides for a/code/pre/table
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/components.tsx
Due: none

fix(canvas): forward GFM alignment and author attributes through element overrides
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/components.tsx
Due: none

fix(canvas): re-parse raw-string shortcode children (CommonMark HTML-block hazard)
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Callout.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Collapsible.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Tabs.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/renderChildren.tsx
Due: none

test(canvas): document and pin mixed-children passthrough in renderChildren
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/renderChildren.tsx
Due: none

feat(canvas): render GFM task-list checkboxes as status icons
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/components.tsx
Due: none

test(canvas): pin task-icon transform through the nested re-parse
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/components.tsx
Due: none

docs(canvas): correct attribute-order mechanism note in passthrough test
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
Due: none

fix(canvas): survive canvas_write remounts via module-scoped state cache
  spellbook/admin/frontend/src/canvas/CanvasDecisionContext.tsx
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Collapsible.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Tabs.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/shortcodeState.ts
  spellbook/admin/frontend/src/pages/CanvasDetail.tsx
Due: none

refactor(canvas): hoist cache write out of state updater; document cache-key bounds
  spellbook/admin/frontend/src/canvas/shortcodes/Collapsible.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Tabs.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/shortcodeState.ts
Due: none

style(canvas): polish Choice/Approve cards within frozen contract
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Approve.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Choice.tsx
Due: none

test(canvas): complete structural-contract fixture for decision-page styling
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
Due: none

test(canvas): pin aria-expanded and button type structural contracts
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
Due: none

docs(canvas): correct type=button pin rationale to defensive framing
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
Due: none

docs(canvas): grammar-lock amendment for collapsible shortcode
  docs/spellbook-canvas-shortcode-spike/GRAMMAR-LOCK.md
Due: security-scan-changeset

docs(canvas): cite durable in-repo evidence in grammar-lock amendment
  docs/spellbook-canvas-shortcode-spike/GRAMMAR-LOCK.md
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
Due: security-scan-changeset

docs(canvas): correct evidence wording in grammar-lock amendment
  docs/spellbook-canvas-shortcode-spike/GRAMMAR-LOCK.md
Due: security-scan-changeset

docs(canvas-decision): add Decision Page Anatomy, Self-Check items, worked examples
  docs/skills/canvas-decision.md
  skills/canvas-decision/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(canvas-decision): surface self-closing control rule first; clarify example panels
  docs/skills/canvas-decision.md
  skills/canvas-decision/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(canvas-decision): fix invalid example decision ids and overstated fence claim
  docs/skills/canvas-decision.md
  skills/canvas-decision/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(canvas): add collapsible to shortcode reference and update counts
  docs/skills/canvas.md
  skills/canvas/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(canvas): correct collapsible state-cache mechanism note
  docs/skills/canvas.md
  skills/canvas/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(develop): prescribe canvas approval-page content for 2.3/3.3 gates
  commands/feature-design.md
  commands/feature-implement.md
  docs/commands/feature-design.md
  docs/commands/feature-implement.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: bump version to 0.75.0
  .version
Due: none

test(canvas): upgrade warning-callout pins to exact class-set form
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
Due: none

docs(canvas): retire stale prototype-era docstring claims
  spellbook/admin/frontend/src/canvas/components.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Callout.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Collapsible.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/renderChildren.tsx
Due: none

docs(changelog): record canvas decision-page styling overhaul
  CHANGELOG.md
Due: security-scan-changeset

Canvas decision-page styling and composition overhaul (#358)
  .version
  CHANGELOG.md
  commands/feature-design.md
  commands/feature-implement.md
  docs/commands/feature-design.md
  docs/commands/feature-implement.md
  docs/skills/canvas-decision.md
  docs/skills/canvas.md
  docs/spellbook-canvas-shortcode-spike/GRAMMAR-LOCK.md
  skills/canvas-decision/SKILL.md
  skills/canvas/SKILL.md
  spellbook/admin/frontend/package-lock.json
  spellbook/admin/frontend/package.json
  spellbook/admin/frontend/src/canvas/CanvasDecisionContext.tsx
  spellbook/admin/frontend/src/canvas/__tests__/render.test.tsx
  spellbook/admin/frontend/src/canvas/components.tsx
  spellbook/admin/frontend/src/canvas/render.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Approve.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Callout.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Chart.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Choice.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Collapsible.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Diagram.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/Tabs.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/renderChildren.tsx
  spellbook/admin/frontend/src/canvas/shortcodes/shortcodeState.ts
  spellbook/admin/frontend/src/pages/CanvasDetail.tsx
  spellbook/admin/frontend/src/pages/ConfigEditor.tsx
  spellbook/admin/frontend/tailwind.config.js
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(develop): clarify need-flag wizard questions use decisions-to-make tense
  commands/feature-config.md
  docs/commands/feature-config.md
  docs/diagrams/commands/feature-config.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: bump version to 0.75.1 and add changelog entry
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix(develop): clarify need-flag wizard question wording (#359)
  .version
  CHANGELOG.md
  commands/feature-config.md
  docs/commands/feature-config.md
  docs/diagrams/commands/feature-config.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): codify embarrassment sweep into pre-PR gates
  .version
  CHANGELOG.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/skills/finishing-a-development-branch.md
  docs/skills/finishing-a-development-branch.md
  skills/finishing-a-development-branch/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): codify embarrassment sweep into pre-PR gates (#360)
  .version
  CHANGELOG.md
  commands/feature-implement.md
  docs/commands/feature-implement.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/skills/finishing-a-development-branch.md
  docs/skills/finishing-a-development-branch.md
  skills/finishing-a-development-branch/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(estimating-tickets): add complexity, fleet-effort, fleet-calendar references
  skills/estimating-tickets/complexity-rubric.md
  skills/estimating-tickets/fleet-calendar.md
  skills/estimating-tickets/fleet-effort.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(gates): disable ssh/scp/rsync exfil rules and drop wrapper-always-flag
  hooks/bash-policy.toml
  spellbook/gates/bash_parser.py
  spellbook/gates/rules.py
Due: none

test(develop): add project-standards contract-marker tests (red)
  tests/test_develop_gates.py
Due: none
