Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files

generate-docs:
  name: Generate documentation
  entry: python3 scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

feat(security): add shared security rules module
  spellbook_mcp/security/__init__.py
  spellbook_mcp/security/rules.py
  tests/test_security/__init__.py
  tests/test_security/conftest.py
  tests/test_security/test_rules.py
Due: none

feat(security): add security directives to CLAUDE.spellbook.md
  CLAUDE.spellbook.md
Due: update-context-files

feat(security): add check.py CLI entry point and check functions
  spellbook_mcp/security/check.py
  tests/test_security/test_check.py
Due: none

feat(security): add static analysis scanner for skills and commands
  spellbook_mcp/security/scanner.py
  tests/test_security/test_scanner.py
Due: none

feat(security): add pre-commit security scan hooks and scanner CLI
  .pre-commit-config.yaml
  hooks/bash-gate.sh
  hooks/spawn-guard.sh
  spellbook_mcp/security/scanner.py
  spellbook_mcp/security/tools.py
  tests/test_security/test_hooks.py
  tests/test_security/test_scanner.py
  tests/test_security/test_tools.py
Due: none

feat(security): add installer hook registration for Claude Code
  installer/components/hooks.py
  installer/platforms/claude_code.py
  tests/test_security/test_installer_hooks.py
Due: none

feat(security): add MCP tool scanner and changeset scanner modes
  .pre-commit-config.yaml
  spellbook_mcp/db.py
  spellbook_mcp/security/__init__.py
  spellbook_mcp/security/rules.py
  spellbook_mcp/security/scanner.py
  tests/test_security/test_scan_changeset.py
  tests/test_security/test_scan_mcp_tools.py
  tests/test_security/test_security_db.py
Due: none

test(security): add injection resistance integration tests
  tests/test_security/test_injection_resistance.py
Due: none

feat(security): add state-sanitize.sh hook for workflow_state_save
  hooks/state-sanitize.sh
  tests/test_security/test_hooks.py
Due: none

feat(security): add Gemini CLI security policy and installer integration
  hooks/gemini-policy.toml
  installer/platforms/gemini.py
  tests/test_security/test_gemini_policy.py
Due: none

feat(security): add Tier 2 MCP tools, platform hooks, and security modes
  hooks/audit-log.sh
  hooks/opencode-plugin.ts
  installer/platforms/opencode.py
  spellbook_mcp/security/check.py
  spellbook_mcp/security/tools.py
  spellbook_mcp/server.py
  tests/test_security/test_canary_tokens.py
  tests/test_security/test_check.py
  tests/test_security/test_event_logging.py
  tests/test_security/test_hooks.py
  tests/test_security/test_opencode_plugin.py
  tests/test_security/test_output_check.py
  tests/test_security/test_security_modes.py
  tests/test_security/test_trust_registry.py
Due: none

feat(security): add Wave 3 security components and installer hooks
  hooks/canary-check.sh
  installer/components/hooks.py
  spellbook_mcp/health.py
  spellbook_mcp/security/check.py
  spellbook_mcp/security/tools.py
  spellbook_mcp/server.py
  tests/test_security/test_check.py
  tests/test_security/test_dashboard.py
  tests/test_security/test_exfiltration_resistance.py
  tests/test_security/test_honeypots.py
  tests/test_security/test_hooks.py
  tests/test_security/test_installer_hooks.py
  tests/test_security/test_security_health.py
  tests/test_spellbook_mcp/test_health_check.py
Due: none

feat(security): implement Tier 3 - advanced detection and hardening
  CLAUDE.spellbook.md
  README.md
  docs/skills/security-auditing.md
  installer/core.py
  mkdocs.yml
  scripts/scan_supply_chain.py
  skills/security-auditing/SKILL.md
  spellbook_mcp/resume.py
  spellbook_mcp/security/scanner.py
  spellbook_mcp/server.py
  tests/test_security/test_consent_gap.py
  tests/test_security/test_installer_gate.py
  tests/test_security/test_regressions.py
  tests/test_security/test_scan_mcp_tools.py
  tests/test_security/test_spawn_guard.py
  tests/test_security/test_state_validation.py
  tests/test_security/test_supply_chain.py
Due: generate-docs, update-context-files

feat: strengthen merge conflict synthesis mandate
  CHANGELOG.md
  docs/skills/merging-worktrees.md
  docs/skills/resolving-merge-conflicts.md
  pyproject.toml
  skills/merging-worktrees/SKILL.md
  skills/resolving-merge-conflicts/SKILL.md
Due: generate-docs, update-context-files

refactor: slim CLAUDE.spellbook.md by ~38% via content redistribution
  CHANGELOG.md
  CLAUDE.spellbook.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/finishing-a-development-branch.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/finishing-a-development-branch/SKILL.md
Due: generate-docs, update-context-files

docs: add description-writing guidance to writing-skills skill
  docs/skills/writing-skills.md
  skills/writing-skills/SKILL.md
Due: generate-docs, update-context-files

fix: address code review and Gemini feedback findings
  CLAUDE.spellbook.md
Due: update-context-files

fix: address code review and Gemini feedback findings
  CLAUDE.spellbook.md
  hooks/audit-log.sh
  hooks/bash-gate.sh
  hooks/opencode-plugin.ts
  hooks/spawn-guard.sh
  hooks/state-sanitize.sh
  installer/demarcation.py
  installer/platforms/claude_code.py
  installer/platforms/opencode.py
  spellbook_mcp/db.py
  spellbook_mcp/server.py
  tests/unit/test_demarcation.py
Due: update-context-files

fix: address code review and Gemini feedback findings
  CHANGELOG.md
  CLAUDE.spellbook.md
  docs/skills/resolving-merge-conflicts.md
  skills/resolving-merge-conflicts/SKILL.md
Due: generate-docs, update-context-files

chore: consolidate changelog for 0.9.10 release
  CHANGELOG.md
Due: none

feat: add auto-update system, remove skill registry, add generating-diagrams skill
  CLAUDE.spellbook.md
  README.md
  docs/skills/generating-diagrams.md
  install.py
  mkdocs.yml
  scripts/generate_context.py
  scripts/update_context_files.py
  skills/generating-diagrams/SKILL.md
  spellbook_mcp/config_tools.py
  spellbook_mcp/server.py
  spellbook_mcp/update_tools.py
  spellbook_mcp/update_watcher.py
  tests/integration/test_update_flow.py
  tests/unit/__init__.py
  tests/unit/test_update_config.py
  tests/unit/test_update_notifications.py
  tests/unit/test_update_tools.py
  tests/unit/test_update_watcher.py
Due: generate-docs, update-context-files

chore: bump version to 0.9.11, update changelog for auto-update and diagram systems
  .version
  CHANGELOG.md
  pyproject.toml
Due: none

fix: address code review findings across auto-update, scripts, and metadata
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  scripts/generate_diagrams.py
  scripts/generate_docs.py
  spellbook_mcp/config_tools.py
  spellbook_mcp/update_tools.py
  spellbook_mcp/update_watcher.py
  tests/integration/test_update_flow.py
  tests/unit/test_update_tools.py
Due: none

feat: add Docker integration tests for installer
  .github/workflows/integration-test.yml
  tests/docker/Dockerfile
  tests/docker/__init__.py
  tests/docker/conftest.py
  tests/docker/docker-compose.yml
  tests/docker/test_auto_update.py
  tests/docker/test_bootstrap.py
  tests/docker/test_cli_flags.py
  tests/docker/test_demarcation.py
  tests/docker/test_idempotency.py
  tests/docker/test_platform_install.py
Due: none

feat: add installer/compat.py OS compatibility abstraction layer
  installer/compat.py
  tests/unit/test_compat.py
Due: none

feat: add Windows support across installer, MCP server, and scripts
  bootstrap.ps1
  docs/windows-support-report.md
  hooks/audit-log.py
  hooks/bash-gate.py
  hooks/canary-check.py
  hooks/spawn-guard.py
  hooks/state-sanitize.py
  install.py
  installer/compat.py
  installer/components/hooks.py
  installer/components/mcp.py
  installer/components/symlinks.py
  installer/core.py
  installer/platforms/codex.py
  installer/platforms/crush.py
  scripts/mcp-health-check.py
  scripts/spellbook-server.py
  scripts/spellbook-watchdog.py
  spellbook_mcp/config_tools.py
  spellbook_mcp/pr_distill/fetch.py
  spellbook_mcp/preferences.py
  spellbook_mcp/terminal_utils.py
  spellbook_mcp/update_tools.py
  tests/docker/test_auto_update.py
  tests/test_spellbook_mcp/test_pr_distill/test_fetch.py
  tests/test_spellbook_mcp/test_spawn_session.py
  tests/unit/test_update_config.py
  tests/unit/test_update_tools.py
Due: none

feat: add Windows CI matrix and enforce UTF-8 encoding
  .github/workflows/test.yml
  installer/compat.py
  scripts/check-readme-completeness.py
  scripts/generate_docs.py
  scripts/scan_supply_chain.py
  scripts/spellbook-server.py
  scripts/spellbook-start.py
  scripts/validate_schemas.py
  spellbook_mcp/command_utils.py
  spellbook_mcp/coordination/worker.py
  spellbook_mcp/server.py
Due: none

fix: address implementation audit findings
  .github/workflows/test.yml
  installer/compat.py
  installer/platforms/crush.py
  scripts/mcp-health-check.py
Due: none

fix: address quality audit findings for Windows support
  installer/compat.py
  scripts/spellbook-server.py
  spellbook_mcp/terminal_utils.py
  tests/test_spellbook_mcp/test_spawn_session.py
  tests/unit/test_compat.py
  tests/unit/test_update_config.py
  tests/unit/test_update_tools.py
Due: none

fix: address pre-PR fact-check findings for Windows support
  installer/compat.py
  installer/components/symlinks.py
  scripts/spellbook-watchdog.py
  spellbook_mcp/update_tools.py
  tests/test_spellbook_mcp/test_pr_distill/test_fetch.py
  tests/unit/test_compat.py
Due: none

fix: address code review findings for Windows support
  bootstrap.ps1
  hooks/bash-gate.py
  hooks/spawn-guard.py
  hooks/state-sanitize.py
  installer/compat.py
Due: none

fix: address code review findings across installer, scripts, and tests
  bootstrap.ps1
  install.py
  installer/compat.py
  installer/components/mcp.py
  installer/platforms/codex.py
  installer/platforms/crush.py
  scripts/spellbook-watchdog.py
  spellbook_mcp/config_tools.py
  spellbook_mcp/pr_distill/fetch.py
  tests/docker/test_auto_update.py
  tests/docker/test_bootstrap.py
  tests/docker/test_idempotency.py
  tests/test_claude_fact_extraction.py
  tests/test_security/test_check.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/unit/test_update_tools.py
Due: none

fix: handle missing service managers in CI and Docker environments
  installer/compat.py
  installer/components/mcp.py
  scripts/spellbook-server.py
  tests/docker/test_bootstrap.py
  tests/test_ab_test_mcp.py
  tests/test_end_to_end_execution_mode.py
Due: none

fix: resolve remaining CI failures across 3 platforms
  tests/docker/test_bootstrap.py
  tests/docker/test_idempotency.py
  tests/test_ab_test_mcp.py
Due: none

docs: add Windows quickstart, bootstrap.ps1 tests, and Windows CI runner
  .github/workflows/test.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  tests/docker/test_bootstrap_ps1.py
Due: none

fix: move bootstrap.ps1 tests out of tests/docker/ so Windows CI runs them
  tests/test_bootstrap_ps1.py
Due: none

fix: resolve CI failures in MCP tool tests and Docker tolerance helpers
  tests/docker/test_bootstrap.py
  tests/docker/test_idempotency.py
  tests/test_ab_test_mcp.py
Due: none

fix: pin fastmcp<3 to prevent breaking API changes in CI
  pyproject.toml
  tests/test_ab_test_mcp.py
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
