Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

fix(tests): use CREATE_NEW_PROCESS_GROUP to match production code
  tests/test_spellbook_mcp/test_spawn_session.py
  tests/test_spellbook_mcp/test_terminal_security.py
Due: none

cleanup: remove stale kokoro/spacy references from TTS installer and config
  install.py
  installer/components/mcp.py
  spellbook/admin/routes/config.py
  spellbook/core/config.py
  tests/admin/test_config.py
  tests/test_spellbook_mcp/test_tts_config.py
  tests/test_spellbook_mcp/test_tts_tools.py
Due: none

docs: add CHANGELOG entry for Wyoming TTS migration
  CHANGELOG.md
Due: security-scan-changeset

fix(tests): replace banned 'in' assertions with exact equality checks
  tests/test_spellbook_mcp/test_tts_config.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
Due: none

Add reference files for documenting-projects skill
  skills/documenting-projects/anti-ai-tone.md
  skills/documenting-projects/diataxis-guide.md
  skills/documenting-projects/doc-templates.md
  skills/documenting-projects/tone-profiles.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add docs-audit command for project documentation analysis
  README.md
  commands/docs-audit.md
  docs/commands/docs-audit.md
  docs/commands/index.md
  mkdocs.yml
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add docs-plan command for documentation structure planning
  README.md
  commands/docs-plan.md
  docs/commands/index.md
  mkdocs.yml
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add docs-write command for documentation content generation
  README.md
  commands/docs-write.md
  docs/commands/index.md
  mkdocs.yml
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add docs-review command for documentation quality gates
  README.md
  commands/docs-review.md
  docs/commands/docs-plan.md
  docs/commands/docs-review.md
  docs/commands/docs-write.md
  docs/commands/index.md
  mkdocs.yml
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add standalone write-readme command
  README.md
  commands/write-readme.md
  docs/commands/index.md
  docs/commands/write-readme.md
  mkdocs.yml
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add documenting-projects orchestrator skill
  README.md
  docs/skills/documenting-projects.md
  mkdocs.yml
  skills/documenting-projects/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Bump version and update changelog for documenting-projects skill
  .version
  CHANGELOG.md
Due: security-scan-changeset

Address Gemini code review feedback
  commands/docs-audit.md
  commands/docs-review.md
  commands/docs-write.md
  docs/commands/docs-audit.md
  docs/commands/docs-review.md
  docs/commands/docs-write.md
  docs/skills/documenting-projects.md
  skills/documenting-projects/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address round 2 Gemini review feedback
  README.md
  commands/docs-audit.md
  commands/docs-plan.md
  commands/docs-review.md
  commands/docs-write.md
  commands/write-readme.md
  docs/commands/docs-audit.md
  docs/commands/docs-plan.md
  docs/commands/docs-review.md
  docs/commands/docs-write.md
  docs/commands/write-readme.md
  docs/skills/documenting-projects.md
  skills/documenting-projects/SKILL.md
  skills/documenting-projects/tone-profiles.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix skill count and markdown escaping per Gemini review
  README.md
  commands/docs-review.md
  docs/commands/docs-review.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address internal code review findings
  commands/docs-plan.md
  commands/docs-review.md
  commands/docs-write.md
  docs/commands/docs-plan.md
  docs/commands/docs-review.md
  docs/commands/docs-write.md
  docs/skills/documenting-projects.md
  skills/documenting-projects/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Documentation skill set: Diataxis framework with adaptive tone profiles (#174)
  .version
  CHANGELOG.md
  README.md
  commands/docs-audit.md
  commands/docs-plan.md
  commands/docs-review.md
  commands/docs-write.md
  commands/write-readme.md
  docs/commands/docs-audit.md
  docs/commands/docs-plan.md
  docs/commands/docs-review.md
  docs/commands/docs-write.md
  docs/commands/index.md
  docs/commands/write-readme.md
  docs/skills/documenting-projects.md
  mkdocs.yml
  skills/documenting-projects/SKILL.md
  skills/documenting-projects/anti-ai-tone.md
  skills/documenting-projects/diataxis-guide.md
  skills/documenting-projects/doc-templates.md
  skills/documenting-projects/tone-profiles.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Shorten finishing-a-development-branch skill description
  docs/skills/finishing-a-development-branch.md
  skills/finishing-a-development-branch/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Log hook errors to file instead of crashing silently
  hooks/spellbook_hook.py
Due: none

Installable session profiles, fractal error messages, and hook error logging
  AGENTS.spellbook.md
  hooks/spellbook_hook.py
  installer/platforms/claude_code.py
  installer/renderer.py
  profiles/radical-collaborator.md
  spellbook/cli/commands/install.py
  spellbook/core/config.py
  spellbook/core/profiles.py
  spellbook/fractal/graph_ops.py
  tests/test_fractal/test_graph_ops.py
  tests/test_fractal/test_node_ops.py
  tests/test_profiles.py
  tests/test_spellbook_mcp/test_memory_session_init.py
Due: security-scan-changeset

Move render_profile_wizard to base class, narrow exception handling
  installer/renderer.py
Due: none

Clarify profile priority wording in session-start protocol
  AGENTS.spellbook.md
Due: security-scan-changeset

Upgrade bigfoot to 0.19.1 and fix all test compatibility issues
  pyproject.toml
  tests/admin/test_analytics_routes_orm.py
  tests/admin/test_cli.py
  tests/admin/test_compaction_detector.py
  tests/admin/test_config.py
  tests/admin/test_dashboard.py
  tests/admin/test_dashboard_orm.py
  tests/admin/test_db.py
  tests/admin/test_fractal_routes.py
  tests/admin/test_health_routes.py
  tests/admin/test_memory.py
  tests/admin/test_performance.py
  tests/admin/test_security.py
  tests/admin/test_session_detail.py
  tests/admin/test_sessions.py
  tests/test_cli/test_events_cmd.py
  tests/test_mcp_server_integration.py
  tests/test_mcp_swarm_tools.py
  tests/test_spellbook_mcp/test_auth.py
  tests/test_spellbook_mcp/test_memory_tools.py
  tests/test_spellbook_mcp/test_server_branch_wiring.py
  tests/test_spellbook_mcp/test_tooling_discovery.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/unit/test_sleuth_mcp.py
Due: none

Fix bigfoot 0.19.1 subprocess interception in CI tests, add valid mode references to skills
  commands/feature-implement.md
  commands/fractal-think-seed.md
  docs/commands/feature-implement.md
  docs/commands/fractal-think-seed.md
  docs/skills/fractal-thinking.md
  skills/fractal-thinking/SKILL.md
  tests/integration/test_update_flow.py
  tests/test_security/test_installer_hooks.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add threading lock to hook error logger, fix Windows test_watcher failure
  hooks/spellbook_hook.py
  tests/test_spellbook_mcp/test_watcher.py
Due: none

Add profile wizard to bootstrap installer, fix daemon progress display
  install.py
  installer/core.py
Due: none

Add 8 session profiles, fix hook import error, rename to Thought Partner
  hooks/spellbook_hook.py
  profiles/architect.md
  profiles/critic.md
  profiles/mentor.md
  profiles/quiet.md
  profiles/rubber-duck.md
  profiles/ship-it.md
  profiles/terse.md
  profiles/thought-partner.md
  spellbook/core/profiles.py
  spellbook/security/check.py
  tests/test_profiles.py
Due: security-scan-changeset

Use daemon venv Python for hooks instead of system Python
  installer/components/hooks.py
  tests/test_security/test_installer_hooks.py
Due: none

Add headless subprocess mode to spawn_session, default to headless
  spellbook/mcp/tools/sessions.py
  spellbook/sdk/unified.py
Due: none

Fix test expectations for venv-prefixed hook commands
  installer/components/hooks.py
  tests/test_security/test_hooks.py
  tests/test_security/test_notify_hooks.py
  tests/test_security/test_tts_hooks.py
  tests/test_spellbook_mcp/test_memory_hook_registration.py
  tests/unit/test_stint_hooks.py
  tests/unit/test_unified_hook_registration.py
  tests/unit/test_upgrade_path.py
Due: none

Restore fail-closed security gates, improve error message formatting
  hooks/spellbook_hook.py
  spellbook/fractal/graph_ops.py
  tests/test_security/test_hooks.py
  tests/unit/test_stint_hooks.py
Due: none

Add log rotation for hook errors, warn on profile save failure
  hooks/spellbook_hook.py
  install.py
  spellbook/cli/commands/install.py
Due: none

Bump version to 0.39.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

spike: validate SSE StreamingResponse through FastMCP mount
  tests/test_sse_spike.py
Due: none

feat(messaging): MessageBus core with async queues, correlation tracking, and 25 unit tests
  spellbook/messaging/__init__.py
  spellbook/messaging/bus.py
  tests/test_messaging.py
Due: none

feat(messaging): 8 MCP tool wrappers with 32 tests for cross-session messaging
  spellbook/mcp/tools/messaging.py
  tests/test_messaging_tools.py
Due: none

feat(messaging): SSE endpoint for real-time message streaming
  spellbook/messaging/sse.py
  tests/test_messaging_sse.py
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
