Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

fix(planlint): files.py no-input guard keys on zero tasks (matching sibling rules), not zero checkable entries — was false-positiving on legitimate TDD-only/Test:-only plans
  spellbook/planlint/rules/files.py
  tests/test_scripts/test_planlint_rules.py
Due: none

release: 0.87.0 — spellbook-planlint
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix(planlint): derive expected FileNotFoundError text from a real exception instead of hand-constructing it — was backslash-mismatched on Windows
  tests/test_scripts/test_planlint_cli.py
Due: none

Apply develop-skill token/time audit fixes; include concurrent rule additions
  AGENTS.md
  CHANGELOG.md
  commands/feature-config.md
  commands/feature-implement-execute.md
  commands/handoff.md
  docs/commands/handoff.md
  docs/diagrams/commands/handoff.md
  docs/pending-rule-additions-2026-08-14.md
  docs/rules/20-orchestration.md
  docs/rules/45-verification.md
  docs/rules/80-code-quality.md
  docs/rules/82-file-reading.md
  docs/rules/86-review-posture.md
  docs/rules/92-core-philosophy.md
  docs/rules/index.md
  rules/20-orchestration.md
  rules/40-develop-discipline.md
  rules/45-verification.md
  rules/60-autonomy.md
  rules/80-code-quality.md
  rules/82-file-reading.md
  rules/86-review-posture.md
  rules/92-core-philosophy.md
  rules/93-communication.md
  scripts/develop_gate_ledger.py
  skills/advanced-code-review/SKILL.md
  skills/code-review/SKILL.md
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/reviewing-impl-plans/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add incidentals rule to develop-discipline; fix PR review bot config
  CLAUDE.md
  commands/feature-implement-execute.md
  rules/40-develop-discipline.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

release: 0.88.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

Integrate develop-ceremony optimisations; add dispatch protocol and mechanical checks
  CHANGELOG.md
  commands/feature-config.md
  commands/feature-implement-execute.md
  commands/handoff.md
  docs/commands/feature-config.md
  docs/commands/feature-implement-execute.md
  docs/commands/handoff.md
  docs/rules/20-orchestration.md
  docs/rules/40-develop-discipline.md
  docs/rules/45-verification.md
  docs/rules/60-autonomy.md
  docs/rules/93-communication.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review.md
  docs/skills/develop.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/reviewing-impl-plans.md
  docs/skills/writing-plans.md
  extensions/opencode/spellbook-workflow-state/lib/hooks.ts
  extensions/opencode/spellbook-workflow-state/lib/state.ts
  extensions/opencode/spellbook-workflow-state/lib/types.ts
  rules/20-orchestration.md
  rules/40-develop-discipline.md
  rules/45-verification.md
  scripts/develop_gate_ledger.py
  scripts/generate_docs.py
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/writing-plans/SKILL.md
  tests/scripts/test_develop_gate_ledger.py
  tests/scripts/test_docs_mirror_freshness.py
  tests/scripts/test_documented_cli_invocations.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix review findings: Antigravity cap breach, positional language, green mirage
  CHANGELOG.md
  commands/handoff.md
  docs/commands/handoff.md
  docs/rules/40-develop-discipline.md
  docs/rules/45-verification.md
  rules/40-develop-discipline.md
  rules/45-verification.md
  scripts/generate_docs.py
  tests/scripts/test_docs_mirror_freshness.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Enforce the gate_position lock; let open_findings/open_rows shrink
  docs/skills/develop.md
  scripts/develop_gate_ledger.py
  skills/develop/SKILL.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix CI: stale planlint expectation, import-time Path.home() crash
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
  tests/test_scripts/test_writing_plans_skill_planlint.py
Due: none

Make validate_schemas a blocking CI gate; refuse rather than guess
  .github/workflows/lint.yml
  CHANGELOG.md
  docs/rules/20-orchestration.md
  docs/rules/60-autonomy.md
  docs/rules/86-review-posture.md
  docs/skills/develop.md
  docs/skills/writing-copy.md
  rules/20-orchestration.md
  rules/60-autonomy.md
  rules/86-review-posture.md
  scripts/develop_gate_ledger.py
  skills/develop/SKILL.md
  skills/writing-copy/SKILL.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Make the gates able to fail; remove what they were guarding nothing for
  .claude/skills/spellbook-auditing/SKILL.md
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/welcome.yml
  MANIFEST.md
  README.md
  docs/reference/citations.md
  docs/skills/security-auditing.md
  installer/wizards/defaults.py
  mkdocs.yml
  pyproject.toml
  scripts/check_reference_resolution.py
  scripts/generate_docs.py
  scripts/spellbook-start.py
  skills/security-auditing/SKILL.md
  tests/claude-code/test-bootstrap.sh
  tests/claude-code/test-version.sh
  tests/installer/test_defaults_wizard.py
  tests/mcp/tools/conftest.py
  tests/mcp/tools/test_curator.py
  tests/scripts/test_shell_harness_reports_failures.py
  tests/test_spellbook_start.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Mark the shell-harness regression test POSIX-only
  tests/scripts/test_shell_harness_reports_failures.py
Due: none

Amend develop; slim four skill parents into their sub-commands
  commands/a2a.md
  commands/audit-mirage-analyze.md
  commands/feature-implement-execute.md
  commands/fix-tests-execute.md
  commands/review-plan-behavior.md
  commands/review-plan-completeness.md
  docs/commands/a2a.md
  docs/commands/audit-mirage-analyze.md
  docs/commands/feature-implement-execute.md
  docs/commands/fix-tests-execute.md
  docs/commands/index.md
  docs/commands/review-plan-behavior.md
  docs/commands/review-plan-completeness.md
  docs/skills/agent2agent.md
  docs/skills/auditing-green-mirage.md
  docs/skills/develop.md
  docs/skills/fixing-tests.md
  docs/skills/reviewing-impl-plans.md
  skills/agent2agent/SKILL.md
  skills/auditing-green-mirage/SKILL.md
  skills/develop/SKILL.md
  skills/fixing-tests/SKILL.md
  skills/reviewing-impl-plans/SKILL.md
  tests/test_skills/test_a2a_command.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Slim seven skill parents into the sub-commands that own their detail
  README.md
  commands/advanced-code-review-context.md
  commands/advanced-code-review-plan.md
  commands/audit-mirage-analyze.md
  commands/code-review-audit.md
  commands/code-review-give.md
  commands/create-pr.md
  commands/dead-code-analyze.md
  commands/fractal-think-harvest.md
  commands/fractal-think-seed.md
  commands/fractal-think-work.md
  docs/commands/advanced-code-review-context.md
  docs/commands/advanced-code-review-plan.md
  docs/commands/audit-mirage-analyze.md
  docs/commands/code-review-audit.md
  docs/commands/code-review-give.md
  docs/commands/create-pr.md
  docs/commands/dead-code-analyze.md
  docs/commands/fractal-think-harvest.md
  docs/commands/fractal-think-seed.md
  docs/commands/fractal-think-work.md
  docs/commands/index.md
  docs/skills/advanced-code-review.md
  docs/skills/auditing-green-mirage.md
  docs/skills/code-review.md
  docs/skills/creating-issues-and-pull-requests.md
  docs/skills/documenting-projects.md
  docs/skills/finding-dead-code.md
  docs/skills/fractal-thinking.md
  mkdocs.yml
  skills/advanced-code-review/SKILL.md
  skills/auditing-green-mirage/SKILL.md
  skills/code-review/SKILL.md
  skills/creating-issues-and-pull-requests/SKILL.md
  skills/documenting-projects/SKILL.md
  skills/finding-dead-code/SKILL.md
  skills/fractal-thinking/SKILL.md
  skills/fractal-thinking/references/mcp-tools.md
  tests/test_scripts/test_resolved_via_vocabulary.py
  tests/test_skills/test_review_skill_contracts.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Replace the blanket size exemption with a per-file ratchet
  scripts/size_ceilings.json
  scripts/validate_schemas.py
  tests/scripts/test_size_ratchet.py
Due: none

Record Task dispatches from the harness, not from the agent
  hooks/spellbook_hook.py
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
  tests/scripts/test_documented_cli_invocations.py
  tests/test_hooks/test_develop_dispatch_record.py
Due: none

Replace the two develop percentage gates with real checkers
  commands/feature-discover.md
  commands/feature-research.md
  docs/commands/feature-discover.md
  docs/commands/feature-research.md
  scripts/check_research_quality.py
  scripts/check_understanding_doc.py
  tests/scripts/test_check_research_quality.py
  tests/scripts/test_check_understanding_doc.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Declare what decides each develop gate; derive the audit verdicts
  commands/feature-implement-execute.md
  docs/commands/feature-implement-execute.md
  docs/rules/45-verification.md
  docs/skills/develop.md
  rules/45-verification.md
  skills/develop/SKILL.md
  tests/scripts/test_develop_amendment_structure.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Route disguised decisions through the structured question, not prose
  docs/rules/93-communication.md
  rules/93-communication.md
Due: security-scan-changeset

Add a checker for corpus checks that only ever read manufactured input
  scripts/check_self_manufactured_evidence.py
  tests/scripts/test_self_manufactured_evidence.py
Due: none

Guard against workflow jobs gated on an event the workflow never receives
  tests/scripts/test_workflow_job_conditions_are_satisfiable.py
Due: none

Delete scan_supply_chain.py, a survivor of the security cleanup
  scripts/scan_supply_chain.py
Due: none

Slim advanced-code-review into the commands that own its detail
  commands/advanced-code-review-context.md
  commands/advanced-code-review-plan.md
  commands/advanced-code-review-report.md
  commands/advanced-code-review-review.md
  docs/commands/advanced-code-review-context.md
  docs/commands/advanced-code-review-plan.md
  docs/commands/advanced-code-review-report.md
  docs/commands/advanced-code-review-review.md
  docs/skills/advanced-code-review.md
  scripts/size_ceilings.json
  skills/advanced-code-review/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Emit POSIX-shaped paths from the self-manufactured-evidence check
  scripts/check_self_manufactured_evidence.py
  tests/scripts/test_self_manufactured_evidence.py
Due: none

Replace monkeypatch mocking and skip needless git probe
  hooks/spellbook_hook.py
  tests/scripts/test_size_ratchet.py
  tests/test_hooks/test_develop_dispatch_record.py
Due: none

Resolve repo root from the filesystem instead of spawning git
  CHANGELOG.md
  hooks/spellbook_hook.py
  spellbook/core/path_utils.py
  tests/scripts/test_develop_gate_ledger.py
  tests/test_hooks/test_develop_dispatch_record.py
  tests/test_path_utils.py
Due: security-scan-changeset

Delete install-hooks.sh; point docs at pre-commit install
  AGENTS.md
  CONTRIBUTING.md
  docs/windows-support-report.md
  scripts/install-hooks.sh
Due: security-scan-changeset

Enforce the ceremony lock on the fields that carry the gate set
  docs/skills/develop.md
  scripts/develop_gate_ledger.py
  skills/develop/SKILL.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Refuse bare `set` writes to recorder-owned ledger fields
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: none

Derive the structured-field guard set instead of trusting it
  tests/scripts/test_develop_gate_ledger.py
Due: none

Fix stale test path in prime-agent README
  extensions/prime-agent/README.md
Due: security-scan-changeset

Share corpus tree memberships and sweep docs/rules for orphans
  scripts/check-readme-completeness.py
  scripts/check_reference_resolution.py
  scripts/check_self_manufactured_evidence.py
  scripts/corpus_trees.py
  scripts/generate_docs.py
  tests/docker/conftest.py
  tests/scripts/test_docs_mirror_freshness.py
  tests/scripts/test_documented_cli_invocations.py
  tests/scripts/test_readme_no_phantoms.py
  tests/scripts/test_reference_resolution.py
Due: none

Derive the corpus recognition list check from corpus_trees
  tests/scripts/test_reference_resolution.py
  tests/scripts/test_self_manufactured_evidence.py
Due: none

Close post-lock growth bypass on ceremony.declined
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: none

Cover rules in both mkdocs nav check directions
  scripts/check-readme-completeness.py
  tests/scripts/test_readme_no_phantoms.py
Due: none

Refuse a malformed stored ceremony instead of tracebacking
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: none

Archive a present-but-falsy ceremony instead of refusing it
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
