Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

docs(changelog): backtick `BASH-*` / `EXF-*` so markdownlint stops eating the space
  CHANGELOG.md
Due: security-scan-changeset

fix(hooks): emit permissionDecision "ask" for T2 findings (#285)
  spellbook/gates/check.py
  tests/test_security/test_hooks_windows.py
Due: none

test: cover Pi platform in multi-target config assertions
  tests/test_multi_target_config.py
Due: none

chore: gitignore machine-local .claude/settings.local.json
  .gitignore
Due: none

feat(installer): add Pi platform support
  install.py
  installer/config.py
  installer/core.py
  installer/platforms/pi.py
  installer/tui.py
Due: none

docs(skills): add Pi platform adaptations and orchestration protocol updates
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/dispatching-sub-orchestrators/SKILL.md
  skills/test-driven-development/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(installer): drop unimplemented Pi Task extension, make mcp.json write atomic
  installer/platforms/pi.py
Due: none

docs(changelog): note Pi platform support under Unreleased
  CHANGELOG.md
Due: security-scan-changeset

feat: add Pi platform support (#302)
  .gitignore
  CHANGELOG.md
  install.py
  installer/config.py
  installer/core.py
  installer/platforms/pi.py
  installer/tui.py
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/dispatching-sub-orchestrators/SKILL.md
  skills/test-driven-development/SKILL.md
  tests/test_multi_target_config.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(deps): consolidate Python dependency bumps
  pyproject.toml
Due: none

chore(deps): bump OpenCode extension deps to current dependabot targets
  extensions/opencode/context-curator/package-lock.json
  extensions/opencode/context-curator/package.json
  extensions/opencode/spellbook-workflow-state/package-lock.json
  extensions/opencode/spellbook-workflow-state/package.json
Due: none

chore(release): bump to 0.66.0 + plan changelog for tripwire/Windows cleanup
  .version
  CHANGELOG.md
Due: security-scan-changeset

test: convert remaining tripwire mocks to idiomatic register-assert flow
  tests/installer/test_aliases.py
  tests/installer/test_aliases_windows.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/test_cli/test_memory_cmd.py
  tests/test_hooks/test_memory_auto_store.py
Due: none

test: address code-review findings on f5f28f96
  tests/installer/test_aliases.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
Due: none

test(diagram): replace SimpleNamespace fakes with tripwire-native client mock
  tests/unit/test_diagram_update.py
Due: none

fix(installer): address gemini medium findings on spellbook_cco + agents
  installer/components/spellbook_cco.py
Due: none

test(installer): cover PATH-variant resolution in spellbook_cco
  installer/components/spellbook_cco.py
  tests/installer/test_spellbook_cco.py
Due: none

fix(tests): make claude_code installer log drain Windows-safe
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
Due: none

test: scope expansion - idiomatic tripwire across 11 more test files
  tests/admin/test_auth.py
  tests/installer/test_hooks_atomic_write.py
  tests/test_security/test_git_push_classifier.py
  tests/test_spellbook_mcp/test_config_orm_migration.py
  tests/test_spellbook_mcp/test_memory_bootstrap.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
  tests/test_spellbook_mcp/test_notify_core.py
  tests/test_spellbook_mcp/test_spawn_session.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/test_workflow_state_tools.py
  tests/unit/test_stint_mcp_registration.py
Due: none

fix: address gemini findings + Windows CI from merged PR #284 (#307)
  .version
  CHANGELOG.md
  installer/components/spellbook_cco.py
  tests/admin/test_auth.py
  tests/installer/test_aliases.py
  tests/installer/test_aliases_windows.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_hooks_atomic_write.py
  tests/installer/test_spellbook_cco.py
  tests/test_cli/test_memory_cmd.py
  tests/test_hooks/test_memory_auto_store.py
  tests/test_security/test_git_push_classifier.py
  tests/test_spellbook_mcp/test_config_orm_migration.py
  tests/test_spellbook_mcp/test_memory_bootstrap.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
  tests/test_spellbook_mcp/test_notify_core.py
  tests/test_spellbook_mcp/test_spawn_session.py
  tests/test_spellbook_mcp/test_watcher.py
  tests/test_workflow_state_tools.py
  tests/unit/test_diagram_update.py
  tests/unit/test_stint_mcp_registration.py
Due: security-scan-changeset

fix(tests): also isolate USERPROFILE in the one test that runs on Windows
  tests/installer/test_l2_derivation.py
Due: none

fix(tests): isolate HOME in ClaudeCodeInstaller integration tests
  tests/installer/test_agents_symlink.py
  tests/installer/test_l2_derivation.py
Due: none

fix(tests): isolate HOME in ClaudeCodeInstaller integration tests (#305)
  tests/installer/test_agents_symlink.py
  tests/installer/test_l2_derivation.py
Due: none

docs(changelog): retroactively populate [0.66.0] entries
  CHANGELOG.md
Due: security-scan-changeset

docs(changelog): drop duplicates + remove unused pytest-mock
  CHANGELOG.md
  pyproject.toml
Due: security-scan-changeset

docs(changelog): address gemini findings — KaC order + restore details
  CHANGELOG.md
Due: security-scan-changeset

docs(changelog): retroactively flesh out [0.66.0] entries (#308)
  CHANGELOG.md
  pyproject.toml
Due: security-scan-changeset

chore: remove CCO sandbox wrapper and alias installer
  CHANGELOG.md
  README.md
  docs/security.md
  docs/skills/adversarial-review.md
  docs/skills/develop.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/dispatching-sub-orchestrators.md
  docs/skills/test-driven-development.md
  install.py
  installer/components/aliases.py
  installer/components/spellbook_cco.py
  installer/core.py
  installer/migrations.py
  installer/platforms/claude_code.py
  installer/tui.py
  mkdocs.yml
  scripts/spellbook-sandbox
  skills/adversarial-review/SKILL.md
  skills/develop/SKILL.md
  tests/installer/test_aliases.py
  tests/installer/test_aliases_windows.py
  tests/installer/test_cco_entry_points.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_l2_derivation.py
  tests/installer/test_migrations.py
  tests/installer/test_spellbook_cco.py
  tests/test_aliases.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(tests): account for legacy-alias migration in daemon-install event order
  tests/test_daemon_install.py
Due: none

fix(installer): address Gemini findings on migrations + version bump
  .version
  CHANGELOG.md
  installer/core.py
  installer/migrations.py
  tests/installer/test_migrations.py
Due: security-scan-changeset

fix: address Gemini cycle-3 findings on PR #309
  CHANGELOG.md
  installer/core.py
  installer/migrations.py
  tests/installer/test_migrations.py
Due: security-scan-changeset

chore: bump to 0.67.0 and harden rc-file newline on cleanup write
  .version
  CHANGELOG.md
  installer/migrations.py
Due: security-scan-changeset

chore: remove CCO sandbox wrapper and alias installer (#309)
  .version
  CHANGELOG.md
  README.md
  docs/security.md
  docs/skills/adversarial-review.md
  docs/skills/develop.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/dispatching-sub-orchestrators.md
  docs/skills/test-driven-development.md
  install.py
  installer/components/aliases.py
  installer/components/spellbook_cco.py
  installer/core.py
  installer/migrations.py
  installer/platforms/claude_code.py
  installer/tui.py
  mkdocs.yml
  scripts/spellbook-sandbox
  skills/adversarial-review/SKILL.md
  skills/develop/SKILL.md
  tests/installer/test_aliases.py
  tests/installer/test_aliases_windows.py
  tests/installer/test_cco_entry_points.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_l2_derivation.py
  tests/installer/test_migrations.py
  tests/installer/test_spellbook_cco.py
  tests/test_aliases.py
  tests/test_daemon_install.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(resume): allowlist stint_stack, compaction_flag, develop_gate_ledger state keys
  spellbook/sessions/resume.py
  tests/test_workflow_state_tools.py
Due: none

docs(philosophy): add 'build the right thing' bullet to Core Philosophy
  AGENTS.spellbook.md
Due: security-scan-changeset

feat(validate-schemas): exempt crystallize.md from size gate
  scripts/validate_schemas.py
Due: none

fix(pr-dance): treat CI and bot review as concurrent gates; raise poll floor to 60s
  commands/pr-dance.md
  docs/commands/pr-dance.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(workflow_state): atomic read-merge-write + compact round-trip tests (CRIT-1/CRIT-2)
  spellbook/mcp/tools/misc.py
  tests/test_workflow_state_tools.py
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
