Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

refactor(mcp): delete memory tool + routes, un-wire registration
  spellbook/mcp/routes.py
  spellbook/mcp/tools/__init__.py
  spellbook/mcp/tools/memory.py
  spellbook/server.py
  tests/test_reorg/test_mcp_routes.py
  tests/test_reorg/test_mcp_tools.py
  tests/unit/test_stint_hooks.py
Due: none

refactor(core): remove memory MEMORY.md regen + memory config defaults
  spellbook/core/config.py
Due: none

test(hooks): drop memory hooks from registration/cleanup assertions
  tests/unit/test_hook_cleanup.py
  tests/unit/test_unified_hook_registration.py
Due: none

refactor(installer): remove memory component (QMD/Serena) and install prompt
  installer/components/memory.py
  spellbook/cli/commands/install.py
Due: none

refactor(worker_llm): remove read_claude_memory feature flag residue
  installer/wizards/worker_llm.py
  spellbook/cli/commands/worker_llm.py
  spellbook/worker_llm/config.py
  tests/test_cli/test_install_wizard_coverage.py
  tests/test_worker_llm/conftest.py
  tests/test_worker_llm/test_config.py
  tests/test_worker_llm/test_fixtures_smoke.py
  tests/test_worker_llm/test_installer_wizard.py
Due: none

refactor(admin-frontend): remove memory browser page, hooks, and UI
  spellbook/admin/frontend/src/App.test.tsx
  spellbook/admin/frontend/src/App.tsx
  spellbook/admin/frontend/src/api/types.ts
  spellbook/admin/frontend/src/components/dashboard/ActivityFeed.tsx
  spellbook/admin/frontend/src/components/layout/Sidebar.test.tsx
  spellbook/admin/frontend/src/components/layout/Sidebar.tsx
  spellbook/admin/frontend/src/contexts/WebSocketContext.tsx
  spellbook/admin/frontend/src/contexts/__tests__/WebSocketContext.test.tsx
  spellbook/admin/frontend/src/hooks/useMemories.ts
  spellbook/admin/frontend/src/pages/CanvasList.tsx
  spellbook/admin/frontend/src/pages/Dashboard.tsx
  spellbook/admin/frontend/src/pages/MemoryBrowser.test.tsx
  spellbook/admin/frontend/src/pages/MemoryBrowser.tsx
Due: none

refactor(mcp): un-wrap inject_recovery_context from all tool modules
  spellbook/mcp/tools/canvas.py
  spellbook/mcp/tools/config.py
  spellbook/mcp/tools/coordination.py
  spellbook/mcp/tools/forged.py
  spellbook/mcp/tools/fractal.py
  spellbook/mcp/tools/health.py
  spellbook/mcp/tools/misc.py
  spellbook/mcp/tools/notifications.py
  spellbook/mcp/tools/pr.py
  spellbook/mcp/tools/security.py
  spellbook/mcp/tools/sessions.py
  spellbook/mcp/tools/tooling.py
  spellbook/mcp/tools/updates.py
Due: none

fix(pr-dance): concurrent CI + bot-review gates, 60s poll floor (#326)
  CHANGELOG.md
  commands/pr-dance.md
  docs/commands/pr-dance.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

refactor(sessions): delete injection.py and soul_extractor.py
  spellbook/sessions/injection.py
  spellbook/sessions/soul_extractor.py
Due: none

refactor(sessions): excise soul block from watcher, keep heartbeat+skills
  spellbook/sessions/watcher.py
Due: none

refactor(sessions): collapse soul resume context, keep workflow-state helpers
  spellbook/core/config.py
  spellbook/sessions/resume.py
Due: none

test(sessions): delete soul-chain tests, keep non-soul resume+watcher coverage
  tests/canvas/conftest.py
  tests/test_reorg/test_sessions.py
  tests/test_resume.py
  tests/test_spellbook_mcp/test_injection.py
  tests/test_spellbook_mcp/test_injection_security.py
  tests/test_spellbook_mcp/test_recovery_e2e.py
  tests/test_spellbook_mcp/test_soul_extractor.py
  tests/test_spellbook_mcp/test_watcher.py
Due: none

refactor(db): drop memory+soul tables and models, de-soul subagent
  spellbook/core/db.py
  spellbook/db/spellbook_models.py
  spellbook/health/checker.py
Due: none

test(db): adjust upgrade and wiring tests for memory+soul removal
  tests/test_spellbook_mcp/test_memory_hook_registration.py
  tests/test_spellbook_mcp/test_server_branch_wiring.py
Due: none

test(memory): add removal smoke coverage; drop memories_fts on upgrade
  spellbook/core/db.py
  tests/test_spellbook_mcp/test_memory_removal_smoke.py
Due: none

docs(memory): regenerate context+skill docs+diagrams; remove memory docs
  docs/admin/index.md
  docs/admin/memory.md
  docs/diagrams/advanced-code-review.md
  docs/diagrams/skills/advanced-code-review.md
  docs/diagrams/skills/code-review.md
  docs/diagrams/skills/debugging.md
  docs/index.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review-diagram.md
  docs/skills/code-review.md
  docs/skills/debugging.md
  mkdocs.yml
Due: generate-docs, security-scan-changeset

chore(release): bump version to 0.68.0 and changelog memory removal
  .version
  CHANGELOG.md
Due: security-scan-changeset

docs(crystallize): remove memory-system related-systems section
  commands/crystallize.md
  docs/commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

test(memory): delete orphan memory/soul test files missed in cleanup
  tests/admin/test_spellbook_models.py
  tests/test_hooks/test_memory_auto_store.py
  tests/test_spellbook_mcp/test_branch_awareness_schema.py
  tests/test_spellbook_mcp/test_memory_bridge_hook.py
  tests/test_spellbook_mcp/test_memory_schema.py
Due: none

test(db): update tool-count, db, and health expectations post-removal
  tests/test_reorg/test_core_db.py
  tests/test_reorg/test_tool_count.py
  tests/test_spellbook_mcp/test_db.py
  tests/test_spellbook_mcp/test_health.py
Due: none

test(hooks): drop removed memory mocks from user-prompt orphan wiring tests
  tests/test_hooks/test_agent2agent_hook.py
Due: none

docs: remove stale references to deleted memory modules in comments
  hooks/spellbook_hook.py
  spellbook/canvas/store.py
Due: none

docs(skills): remove stale spellbook.extractors reference after memory removal
  docs/skills/analyzing-skill-usage.md
  skills/analyzing-skill-usage/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(release): bump to 0.69.0; finalize memory-removal changelog
  .version
  CHANGELOG.md
Due: security-scan-changeset

Address gemini cycle-2 review: min_block_chars=0 in verification + generic project-encoded paths
  commands/dedupe-apply.md
  commands/dedupe-report.md
  docs/commands/dedupe-apply.md
  docs/commands/dedupe-report.md
  skills/dedupe/scripts/dedupe.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Update test expectations to POSIX path form to match dedupe.py normalization
  tests/test_skills/test_dedupe_helper.py
Due: none

Fix resolve_seed_entry exact-path lookup for relative-path seeds
  skills/dedupe/scripts/dedupe.py
  tests/test_skills/test_dedupe_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(dedupe): add reference markdown files for semantic dedupe skill
  skills/dedupe/references/counterfactual-prompt.md
  skills/dedupe/references/safety-markers.md
  skills/dedupe/references/segmentation-protocol.md
  skills/dedupe/references/verdict-taxonomy.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(dedupe): add 4 phase commands (setup/analyze/report/apply)
  commands/dedupe-analyze.md
  commands/dedupe-apply.md
  commands/dedupe-report.md
  commands/dedupe-setup.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(dedupe): add top-level SKILL.md orchestration contract
  skills/dedupe/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(dedupe): add verification suite + negative-control fixtures
  commands/dedupe-setup.md
  tests/dedupe-skill/README.md
  tests/dedupe-skill/fixtures/anti-irony-violation.md
  tests/dedupe-skill/fixtures/python-residue-negative.md
  tests/dedupe-skill/verify-anti-irony-neg.sh
  tests/dedupe-skill/verify-anti-irony.sh
  tests/dedupe-skill/verify-json-blocks.sh
  tests/dedupe-skill/verify-markdown.sh
  tests/dedupe-skill/verify-no-python-neg.sh
  tests/dedupe-skill/verify-no-python.sh
  tests/dedupe-skill/verify-references.sh
  tests/dedupe-skill/verify-structure.sh
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(release): bump to 0.70.0 + integrate dedupe skill into docs
  .version
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/commands/dedupe-analyze.md
  docs/commands/dedupe-apply.md
  docs/commands/dedupe-report.md
  docs/commands/dedupe-setup.md
  docs/commands/finish-branch-execute.md
  docs/commands/index.md
  docs/skills/dedupe.md
  docs/skills/develop.md
  mkdocs.yml
Due: security-scan-changeset

chore(dedupe): harden D4/D5/D6 verification gates per green-mirage audit
  tests/dedupe-skill/README.md
  tests/dedupe-skill/fixtures/malformed-json-negative.md
  tests/dedupe-skill/verify-json-blocks-neg.sh
  tests/dedupe-skill/verify-json-blocks.sh
  tests/dedupe-skill/verify-markdown.sh
  tests/dedupe-skill/verify-references.sh
  tests/dedupe-skill/verify-structure.sh
Due: security-scan-changeset

chore(dedupe): address gemini-code-assist review findings
  commands/dedupe-apply.md
  commands/dedupe-setup.md
  docs/commands/dedupe-apply.md
  docs/commands/dedupe-setup.md
  tests/dedupe-skill/verify-no-python.sh
  tests/dedupe-skill/verify-references.sh
  tests/dedupe-skill/verify-structure.sh
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(dedupe): address cycle-2 review findings (portability + robustness)
  commands/dedupe-apply.md
  commands/dedupe-setup.md
  docs/commands/dedupe-apply.md
  docs/commands/dedupe-setup.md
  tests/dedupe-skill/README.md
  tests/dedupe-skill/verify-no-python.sh
  tests/dedupe-skill/verify-references.sh
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(dedupe): apply cycle-3 review fixes (here-string, punct pattern)
  tests/dedupe-skill/verify-references.sh
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
