Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

Decide the ceremony lock on presence, not truthiness
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: none

Refuse or repair a malformed ledger map instead of tracebacking
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: none

Gate research findings on a resolved missing-tool record
  commands/feature-research.md
  docs/commands/feature-research.md
  scripts/check_research_quality.py
  tests/scripts/test_check_research_quality.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Scan rules/ for tier and removed-mode tokens
  scripts/check_removed_mode_tokens.py
  tests/test_no_tier_or_removed_mode_tokens.py
Due: none

Scan only tracked files for prose references
  scripts/check_reference_resolution.py
  tests/scripts/test_reference_resolution.py
Due: none

Resolve prose references in patterns/ and extensions/
  scripts/check_reference_resolution.py
  tests/scripts/test_reference_resolution.py
Due: none

docs: drop AGENTS.md bullet for nonexistent security hook
  AGENTS.md
Due: security-scan-changeset

docs: separate enforced docs gates from unenforced CHANGELOG
  AGENTS.md
Due: security-scan-changeset

fix(dedupe): restore D1 and D3 invariants after floor drift
  commands/dedupe-analyze.md
  docs/commands/dedupe-analyze.md
  docs/skills/dedupe.md
  skills/dedupe/SKILL.md
  tests/dedupe-skill/README.md
  tests/dedupe-skill/verify-structure.sh
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

test(dedupe): run the skill verification gates in CI
  .github/workflows/test.yml
  tests/dedupe-skill/README.md
  tests/dedupe-skill/run-all-gates.sh
  tests/scripts/test_dedupe_skill_gates_are_wired.py
Due: security-scan-changeset

Defer repo-root walk when path case differs from disk
  spellbook/core/path_utils.py
  tests/test_path_utils.py
Due: none

Import scripts/ modules via pytest pythonpath, not sys.path
  pyproject.toml
  tests/scripts/test_develop_gate_ledger.py
  tests/scripts/test_documented_cli_invocations.py
  tests/scripts/test_generate_docs_fences.py
  tests/scripts/test_readme_no_phantoms.py
  tests/scripts/test_reference_resolution.py
  tests/scripts/test_self_manufactured_evidence.py
Due: none

Move develop's ledger CLI reference into its own file
  docs/skills/develop.md
  scripts/size_ceilings.json
  skills/develop/SKILL.md
  skills/develop/references/ledger-cli.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Document the develop ledger CLI's refusals and missing subcommands
  skills/develop/references/ledger-cli.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Widen scan when the root is nested in another checkout
  scripts/check_reference_resolution.py
  tests/scripts/test_reference_resolution.py
Due: none

Stop advising on quoted rules; refuse a malformed `missing`
  scripts/check_research_quality.py
  tests/scripts/test_check_research_quality.py
Due: none

Retarget tooling advisory at self-downgrade, not absence
  scripts/check_research_quality.py
  tests/scripts/test_check_research_quality.py
Due: none

Probe markdownlint-cli2 with --version, not --help
  .github/workflows/test.yml
Due: none

Pin the case property, not the deferral mechanism
  tests/test_path_utils.py
Due: none

Guard scripts/ names against stdlib and dependency shadowing
  tests/scripts/test_script_names_do_not_shadow.py
Due: none

Record the resolve_repo_root case-variant behaviour change
  CHANGELOG.md
Due: security-scan-changeset

Apply the ledger exit-code split on all eight subcommands
  CHANGELOG.md
  scripts/develop_gate_ledger.py
  tests/scripts/test_develop_gate_ledger.py
Due: security-scan-changeset

Gate the reference doc's remedy vocabulary against the parser
  tests/scripts/test_develop_gate_ledger.py
Due: none

Write every token-bearing installer config with mode 0600
  CHANGELOG.md
  installer/components/mcp.py
  installer/platforms/antigravity.py
  installer/platforms/codex.py
  installer/platforms/forgecode.py
  installer/platforms/goose.py
  installer/platforms/opencode.py
  installer/platforms/pi.py
  tests/installer/test_token_file_permissions.py
Due: security-scan-changeset

Fix pi MCP registration, which configured nothing
  CHANGELOG.md
  installer/platforms/pi.py
  tests/installer/test_pi_mcp_adapter.py
Due: security-scan-changeset

Make the neg-gate inversion test able to fail
  tests/scripts/test_dedupe_skill_gates_are_wired.py
Due: none

Record the dedupe drift fixes in the CHANGELOG
  CHANGELOG.md
Due: security-scan-changeset

Fix pi adapter entry boundary and reported spec
  installer/platforms/pi.py
  tests/installer/test_pi_mcp_adapter.py
Due: none

Make the Bearer header assertion run on a clean runner
  tests/installer/test_pi_mcp_adapter.py
Due: none

Guard every token write site, not one per module
  tests/installer/test_token_file_permissions.py
Due: none

Replace bearer token auth with Origin/Host validation
  spellbook/core/auth.py
  spellbook/mcp/server.py
  tests/test_reorg/test_core_auth.py
Due: none

Stop writing an auth header from every platform installer
  installer/components/mcp.py
  installer/platforms/antigravity.py
  installer/platforms/codex.py
  installer/platforms/forgecode.py
  installer/platforms/goose.py
  installer/platforms/opencode.py
  installer/platforms/pi.py
  installer/renderer.py
  tests/installer/test_no_auth_header_written.py
  tests/integration/test_goose_installer.py
Due: none

Delete the stale token file and stop clients sending a header
  CHANGELOG.md
  README.md
  SECURITY.md
  docs/admin/index.md
  docs/security.md
  hooks/spellbook_hook.py
  installer/core.py
  installer/migrations.py
  spellbook/cli/daemon_client.py
  tests/installer/test_legacy_token_removal.py
Due: security-scan-changeset

docs: remove docs/admin/ for the deleted admin interface
  CHANGELOG.md
  README.md
  docs/admin/analytics.md
  docs/admin/config.md
  docs/admin/dashboard.md
  docs/admin/events.md
  docs/admin/focus.md
  docs/admin/fractal.md
  docs/admin/health.md
  docs/admin/index.md
  docs/admin/screenshots/analytics.png
  docs/admin/screenshots/config.png
  docs/admin/screenshots/dashboard.png
  docs/admin/screenshots/events.png
  docs/admin/screenshots/focus.png
  docs/admin/screenshots/fractal.png
  docs/admin/screenshots/health.png
  docs/admin/screenshots/login.png
  docs/admin/screenshots/memory.png
  docs/admin/screenshots/security.png
  docs/admin/screenshots/sessions.png
  docs/admin/security.md
  docs/admin/sessions.md
  mkdocs.yml
Due: security-scan-changeset

Move the ledger CLI reference out of SKILL.md and document it (#476)
  CHANGELOG.md
  docs/skills/develop.md
  scripts/develop_gate_ledger.py
  scripts/size_ceilings.json
  skills/develop/SKILL.md
  skills/develop/references/ledger-cli.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Widen two checker scopes; make prose checks deterministic (#473)
  scripts/check_reference_resolution.py
  scripts/check_removed_mode_tokens.py
  tests/scripts/test_reference_resolution.py
  tests/test_no_tier_or_removed_mode_tokens.py
Due: none

Correct the gemini manifest version and the [0.2.1] date
  CHANGELOG.md
  extensions/gemini/gemini-extension.json
Due: security-scan-changeset

Fix disabled-auth silent bypass, ForgeCode health check, and Origin docs
  CHANGELOG.md
  SECURITY.md
  docs/security.md
  scripts/mcp-health-check.py
  spellbook/cli/daemon_client.py
  spellbook/core/auth.py
  spellbook/mcp/__main__.py
  spellbook/mcp/server.py
  tests/test_reorg/test_core_auth.py
  tests/test_scripts/test_mcp_health_check_forgecode.py
Due: security-scan-changeset

Remove dead admin-interface surface from the installer
  .gitignore
  AGENTS.md
  CHANGELOG.md
  installer/components/rule_modules.py
  installer/renderer.py
  installer/tui.py
  installer/wizards/defaults.py
  spellbook/core/config.py
Due: security-scan-changeset

Drop stale admin-bundle ignore from Gemini review config
  .gemini/config.yaml
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
