Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

Update TTS hook tests: replace .py references with .ps1 validation
  tests/test_security/test_tts_hooks.py
  tests/test_security/test_tts_hooks_windows.py
Due: none

Update test_notify_hooks.py: replace .py references with .ps1 validation
  tests/test_security/test_notify_hooks.py
Due: none

Remove Nim-related entries from .gitignore
  .gitignore
Due: none

Add changelog entry for Nim hook removal and PowerShell hook addition
  CHANGELOG.md
Due: security-scan-changeset

Fix green mirage assertion quality issues in test files
  tests/test_security/test_hooks_windows.py
  tests/test_security/test_notify_hooks.py
  tests/test_security/test_ps1_hooks.py
  tests/test_security/test_tts_hooks.py
  tests/test_security/test_tts_hooks_windows.py
  tests/unit/test_claude_code_no_nim.py
Due: none

Fix installer hook tests to be platform-aware for Windows CI
  tests/test_security/test_installer_hooks.py
Due: none

fix(hooks): add path traversal validation to tts-timer-start.ps1 and fix regex in all ps1 hooks
  hooks/notify-on-complete.ps1
  hooks/tts-notify.ps1
  hooks/tts-timer-start.ps1
  tests/test_security/test_ps1_hooks.py
Due: none

chore: bump version to 0.21.0 and update changelog
  .version
  CHANGELOG.md
Due: security-scan-changeset

feat: add skill opportunity awareness to agent instructions
  AGENTS.spellbook.md
  CHANGELOG.md
Due: security-scan-changeset

fix: address Gemini feedback and bump version to 0.22.0
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
Due: security-scan-changeset

Add skill opportunity awareness to agent instructions (#69)
  .version
  AGENTS.spellbook.md
  CHANGELOG.md
Due: security-scan-changeset

feat: replace encyclopedia with AGENTS.md project knowledge
  .version
  AGENTS.md
  AGENTS.spellbook.md
  CHANGELOG.md
  README.md
  commands/encyclopedia-build.md
  commands/encyclopedia-validate.md
  docs/commands/encyclopedia-build.md
  docs/commands/encyclopedia-validate.md
  docs/commands/index.md
  docs/skills/managing-artifacts.md
  docs/skills/project-encyclopedia.md
  skills/managing-artifacts/SKILL.md
  skills/project-encyclopedia/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: update test to reference renamed section
  tests/unit/test_template_tts_section.py
Due: none

Replace encyclopedia with AGENTS.md project knowledge (#70)
  .version
  AGENTS.md
  AGENTS.spellbook.md
  CHANGELOG.md
  README.md
  commands/encyclopedia-build.md
  commands/encyclopedia-validate.md
  docs/commands/encyclopedia-build.md
  docs/commands/encyclopedia-validate.md
  docs/commands/index.md
  docs/skills/managing-artifacts.md
  docs/skills/project-encyclopedia.md
  skills/managing-artifacts/SKILL.md
  skills/project-encyclopedia/SKILL.md
  tests/unit/test_template_tts_section.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add project-presence skill for repo presentation and discoverability
  README.md
  commands/project-presence-audit.md
  commands/project-presence-community.md
  commands/project-presence-identity.md
  commands/project-presence-naming.md
  commands/project-presence-readme.md
  docs/commands/index.md
  docs/commands/project-presence-audit.md
  docs/commands/project-presence-community.md
  docs/commands/project-presence-identity.md
  docs/commands/project-presence-naming.md
  docs/commands/project-presence-readme.md
  docs/skills/project-presence.md
  mkdocs.yml
  skills/project-presence/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add project-presence skill for repo presentation and discoverability (#95)
  README.md
  commands/project-presence-audit.md
  commands/project-presence-community.md
  commands/project-presence-identity.md
  commands/project-presence-naming.md
  commands/project-presence-readme.md
  docs/commands/index.md
  docs/commands/project-presence-audit.md
  docs/commands/project-presence-community.md
  docs/commands/project-presence-identity.md
  docs/commands/project-presence-naming.md
  docs/commands/project-presence-readme.md
  docs/skills/project-presence.md
  mkdocs.yml
  skills/project-presence/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add community infrastructure: issue templates, PR template, contributing guide, security policy, welcome bot
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/welcome.yml
  CONTRIBUTING.md
  SECURITY.md
Due: security-scan-changeset

Add community infrastructure: issue templates, PR template, contributing guide, security policy, welcome bot (#96)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/welcome.yml
  CONTRIBUTING.md
  SECURITY.md
Due: security-scan-changeset

Bump version to 0.24.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

Address Gemini Code Assist review feedback (#98)
  AGENTS.spellbook.md
  commands/encyclopedia-build.md
  commands/encyclopedia-validate.md
  commands/project-presence-audit.md
  commands/project-presence-community.md
  docs/commands/encyclopedia-build.md
  docs/commands/encyclopedia-validate.md
  docs/commands/project-presence-audit.md
  docs/commands/project-presence-community.md
  docs/skills/project-encyclopedia.md
  docs/skills/project-presence.md
  skills/project-encyclopedia/SKILL.md
  skills/project-presence/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Skip heavy test markers by default, override in CI
  .github/workflows/test.yml
  AGENTS.md
  pyproject.toml
Due: security-scan-changeset

Mark installer hook integration tests to skip locally
  tests/test_security/test_installer_hooks.py
Due: none

Remove pytest-xdist dependency
  pyproject.toml
Due: none

Fix Windows test: detect_terminal() returns string, not NotImplementedError
  tests/test_end_to_end_execution_mode.py
Due: none

Address Gemini Code Assist review feedback (#99)
  .github/workflows/test.yml
  .version
  AGENTS.md
  AGENTS.spellbook.md
  CHANGELOG.md
  commands/encyclopedia-build.md
  commands/encyclopedia-validate.md
  commands/project-presence-audit.md
  commands/project-presence-community.md
  docs/commands/encyclopedia-build.md
  docs/commands/encyclopedia-validate.md
  docs/commands/project-presence-audit.md
  docs/commands/project-presence-community.md
  docs/skills/project-encyclopedia.md
  docs/skills/project-presence.md
  pyproject.toml
  skills/project-encyclopedia/SKILL.md
  skills/project-presence/SKILL.md
  tests/test_end_to_end_execution_mode.py
  tests/test_security/test_installer_hooks.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Expand community engagement issue brainstorming guidance
  commands/project-presence-community.md
  docs/commands/project-presence-community.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Add architectural refactorings to conversation starter sources
  commands/project-presence-community.md
  docs/commands/project-presence-community.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Expand community engagement issue brainstorming in project-presence (#100)
  commands/project-presence-community.md
  docs/commands/project-presence-community.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Rename project-presence skill to polish-repo
  CHANGELOG.md
  README.md
  commands/polish-repo-audit.md
  commands/polish-repo-community.md
  commands/polish-repo-identity.md
  commands/polish-repo-naming.md
  commands/polish-repo-readme.md
  docs/commands/index.md
  docs/commands/polish-repo-audit.md
  docs/commands/polish-repo-community.md
  docs/commands/polish-repo-identity.md
  docs/commands/polish-repo-naming.md
  docs/commands/polish-repo-readme.md
  docs/skills/polish-repo.md
  mkdocs.yml
  skills/polish-repo/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Fix missed rename references per Gemini review
  commands/polish-repo-identity.md
  commands/polish-repo-naming.md
  docs/commands/polish-repo-identity.md
  docs/commands/polish-repo-naming.md
  docs/skills/polish-repo.md
  skills/polish-repo/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Rename project-presence to polish-repo (#101)
  CHANGELOG.md
  README.md
  commands/polish-repo-audit.md
  commands/polish-repo-community.md
  commands/polish-repo-identity.md
  commands/polish-repo-naming.md
  commands/polish-repo-readme.md
  docs/commands/index.md
  docs/commands/polish-repo-audit.md
  docs/commands/polish-repo-community.md
  docs/commands/polish-repo-identity.md
  docs/commands/polish-repo-naming.md
  docs/commands/polish-repo-readme.md
  docs/skills/polish-repo.md
  mkdocs.yml
  skills/polish-repo/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Redesign installer output with unicode formatting
  install.py
  installer/core.py
  installer/ui.py
Due: none

Fix f-string backslash syntax for Python 3.11 compatibility
  install.py
  installer/ui.py
Due: none

Fix remaining f-string unicode escapes for Python 3.11
  install.py
  installer/ui.py
Due: none

Address Gemini review: remove dead code, extract shared helpers
  install.py
  installer/core.py
  installer/ui.py
Due: none

Fix Windows cp1252 encoding error for unicode output
  install.py
Due: none

Redesign installer output with unicode formatting (#102)
  install.py
  installer/core.py
  installer/ui.py
Due: none

Bump version to 0.25.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

Fix content filter error in polish-repo CODE_OF_CONDUCT.md generation
  .version
  CHANGELOG.md
  commands/polish-repo-community.md
  docs/commands/polish-repo-community.md
  spellbook_mcp/security/scanner.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
