Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

test(agents): close green-mirage gaps in WI-5 schema and uninstall coverage
  tests/installer/test_agents_symlink.py
  tests/test_security/test_agent_frontmatter.py
Due: none

refactor(scripts): spellbook-sandbox gates on spellbook-cco fork pin
  scripts/spellbook-sandbox
Due: none

docs(readme): document Windows alias + sandbox deferral (WI-7 Q-O)
  README.md
Due: security-scan-changeset

feat(sandbox): pin cco at SHA 9744b9f for L5 Linux sandbox
  scripts/spellbook-sandbox
  tests/installer/test_aliases.py
Due: none

test(installer): polish posix_only/windows_only mark scaffolding
  tests/installer/test_marks.py
Due: none

feat(installer): add spellbook_cco component for fork-pinned cco wrapper
  installer/components/spellbook_cco.py
Due: none

fix(tests): pin LF line endings for agent snapshot test
  .gitattributes
Due: none

fix(installer): polish Windows alias stub per review
  installer/components/aliases.py
  tests/installer/test_aliases_windows.py
Due: none

refactor(agents): align bash-gate framing with current gate scope
  agents/git-committer.md
  agents/git-pusher.md
  agents/jira-mutator.md
  agents/jira-reader.md
  agents/pr-creator.md
  agents/pr-merger.md
  agents/test-runner.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(readme): describe spellbook-cco onboarding instead of vanilla cco
  README.md
Due: security-scan-changeset

docs(security): rename cco section to spellbook-cco and document rollback
  docs/security.md
Due: security-scan-changeset

test(installer): mark spellbook_cco install tests posix_only
  tests/installer/test_spellbook_cco.py
Due: none

docs(changelog): add Phase 5 narrowing-role subagents entry
  CHANGELOG.md
Due: security-scan-changeset

feat(installer): wire spellbook_cco install/uninstall into Claude Code platform
  installer/platforms/claude_code.py
Due: none

test(sandbox): tighten cco SHA pin tests + improve error guidance
  scripts/spellbook-sandbox
  tests/installer/test_aliases.py
Due: none

test(hooks): isolate Stop-hook tests from real cache and worker-LLM gate
  tests/test_hooks/test_memory_auto_store.py
Due: none

feat(installer): add install_aliases_windows() stub for Q-O deferral
  installer/components/aliases.py
  tests/installer/test_aliases_windows.py
Due: none

test(installer): tighten green-mirage assertions on canonical strings
  tests/installer/test_aliases.py
  tests/installer/test_cco_entry_points.py
  tests/installer/test_spellbook_cco.py
Due: none

fix(docs): tighten Windows TBD note per review
  README.md
Due: security-scan-changeset

fix(installer): harden Claude Code alias dispatch per review
  installer/platforms/claude_code.py
  tests/installer/test_aliases.py
Due: none

test(installer): add tests for spellbook_cco component
  tests/installer/test_spellbook_cco.py
Due: none

test(installer): assert spellbook-cco which() interaction in alias-dispatch tests
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
  tests/installer/test_l2_derivation.py
Due: none

feat(installer): platform-aware Claude Code alias dispatch
  installer/platforms/claude_code.py
  tests/installer/test_aliases.py
Due: none

test(memory): convert test_memory_auto_store.py from monkeypatch to tripwire
  hooks/spellbook_hook.py
  tests/test_hooks/test_memory_auto_store.py
Due: none

fix(tests): correct tripwire required(False) ordering in Windows aliases tests
  tests/installer/test_aliases_windows.py
Due: none

refactor(agents): extract stale-symlink cleanup; handle relative targets
  installer/components/agents.py
  installer/platforms/claude_code.py
Due: none

test(installer): convert monkeypatch.setattr to tripwire in alias + cco entry-point tests
  README.md
  docs/agents/git-committer.md
  docs/agents/git-pusher.md
  docs/agents/implementer.md
  docs/agents/index.md
  docs/agents/jira-mutator.md
  docs/agents/jira-reader.md
  docs/agents/pr-creator.md
  docs/agents/pr-merger.md
  docs/agents/test-runner.md
  docs/agents/web-researcher.md
  docs/commands/index.md
  mkdocs.yml
  tests/installer/test_aliases.py
  tests/installer/test_aliases_windows.py
  tests/installer/test_cco_entry_points.py
Due: security-scan-changeset

test(cco): convert test_spellbook_cco.py from monkeypatch to tripwire
  installer/components/spellbook_cco.py
  tests/installer/test_spellbook_cco.py
Due: none

fix(tests): missing WebSocketDisconnect import + align marker-description assertions
  tests/admin/test_ws.py
  tests/installer/test_marks.py
Due: none

fix(tests): access required() via __call__ MethodProxy on Windows tests
  tests/installer/test_aliases_windows.py
Due: none

fix: gemini cycle-3 findings (stub class, silent errors, mid-file import)
  installer/components/spellbook_cco.py
  spellbook/sessions/skill_analyzer.py
  tests/unit/test_diagram_update.py
  tests/unit/test_stint_tools.py
Due: none

fix: address gemini MEDIUM findings (logging, type import, nested sandbox)
  hooks/spellbook_hook.py
  installer/components/spellbook_cco.py
  tests/test_hooks/test_memory_auto_store.py
Due: none

test(diagram): convert test_diagram_update.py from unittest.mock to tripwire
  scripts/generate_diagrams.py
  tests/unit/test_diagram_update.py
Due: none

fix: gemini cycle-4 findings (hardcoded audit path, memory test mocks)
  installer/components/spellbook_cco.py
  tests/installer/test_spellbook_cco.py
  tests/test_cli/test_memory_cmd.py
Due: none

fix: gemini cycle-5 findings (wrapper quoting, silent errors, tripwire assert)
  installer/components/agents.py
  installer/components/spellbook_cco.py
  tests/installer/test_spellbook_cco.py
  tests/test_cli/test_memory_cmd.py
Due: none

fix: gemini cycle-6 findings (logging, dup nav, phase label, rmtree)
  CHANGELOG.md
  installer/components/spellbook_cco.py
  installer/platforms/claude_code.py
  mkdocs.yml
  tests/installer/test_aliases.py
  tests/installer/test_claude_code_wires_default_mode_and_permissions.py
Due: security-scan-changeset

test(memory): replace _CountingMock helper with strict tripwire registrations
  tests/test_hooks/test_memory_auto_store.py
Due: none

fix: gemini cycle-8 findings (changelog typo, Path/utf-8/PATH/silent except)
  installer/components/agents.py
  installer/components/spellbook_cco.py
  tests/installer/test_spellbook_cco.py
Due: none

docs(changelog): backtick `SB-BASH-*` so the missing-space fix sticks
  CHANGELOG.md
Due: security-scan-changeset
