Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

feat(tooling): add tooling_discover MCP tool with __init__.py registration
  spellbook/mcp/tools/__init__.py
  spellbook/mcp/tools/tooling.py
  tests/test_spellbook_mcp/test_tooling_discovery.py
Due: none

feat(tooling): add tooling-discovery skill
  README.md
  docs/skills/tooling-discovery.md
  mkdocs.yml
  skills/tooling-discovery/SKILL.md
  spellbook/memory/store.py
  tests/test_spellbook_mcp/test_memory_scope.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(develop): integrate tooling discovery into Phase 1.2 research
  commands/feature-research.md
  docs/commands/feature-research.md
  docs/diagrams/commands/feature-research.md
  spellbook/memory/tools.py
  tests/test_spellbook_mcp/test_memory_scope.py
  tests/test_spellbook_mcp/test_tooling_discovery.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(memory): add scope param to MCP memory tools
  spellbook/mcp/tools/memory.py
  tests/test_spellbook_mcp/test_memory_scope.py
Due: none

feat(memory): add --scope flag to CLI memory search
  spellbook/cli/commands/memory.py
  tests/test_spellbook_mcp/test_memory_scope.py
Due: none

test(memory): add integration tests for global memory cross-project recall
  tests/test_spellbook_mcp/test_memory_scope.py
Due: none

fix: update tests for WS1 scope column and WS2 tooling_discover tool
  tests/admin/test_spellbook_models.py
  tests/test_reorg/test_tool_count.py
  tests/test_spellbook_mcp/test_memory_tools.py
Due: none

test: fix green mirage findings in scope and tooling tests
  tests/test_spellbook_mcp/test_memory_scope.py
  tests/test_spellbook_mcp/test_tooling_discovery.py
Due: none

chore: include pending AGENTS.spellbook.md and config.py changes
  AGENTS.spellbook.md
  spellbook/core/config.py
Due: security-scan-changeset

docs: update security docs, changelog for injection defense
  CHANGELOG.md
  SECURITY.md
  docs/security.md
Due: security-scan-changeset

fix: add pip to tts optional dependencies (spaCy workaround)
  pyproject.toml
Due: none

fix: address Gemini review feedback
  hooks/spellbook_hook.py
  installer/core.py
Due: none

fix: narrow exception handlers in discovery, make get_tool_names public
  spellbook/mcp/tools/health.py
  spellbook/server.py
  spellbook/tooling/discovery.py
Due: none

Fix evidence-hierarchy path reference in cove-protocol
  skills/shared-references/cove-protocol.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Revert "Merge pull request #148 from axiomantic/dependabot/npm_and_yarn/spellbook/admin/frontend/tailwindcss-4.2.2"
  spellbook/admin/frontend/package-lock.json
  spellbook/admin/frontend/package.json
Due: none

fix: skip TUI integration test on Windows (termios unavailable)
  tests/unit/test_tui_integration.py
Due: none

fix: use HTTP health check for daemon startup verification
  installer/components/mcp.py
Due: none

Wire TUI rendering into both install paths when Rich is available
  install.py
  spellbook/cli/commands/install.py
Due: none

Improve installer TUI: always show platform selector, add animated progress
  install.py
  installer/tui.py
  tests/unit/test_tui_integration.py
Due: none

fix: mock check_daemon_health in TTS inclusion tests
  tests/test_daemon_install.py
Due: none

fix: elapsed timer updates live instead of only on events
  installer/tui.py
Due: none

Polish installer TUI: Rich panels for all post-install output
  install.py
  installer/tui.py
Due: none

Fix installer crash and clean up output cohesion
  install.py
  installer/core.py
Due: none

Restructure installer output for cohesion
  install.py
  installer/tui.py
Due: none

fix(installer): correct gemini extension uninstall command and increase timeouts
  installer/platforms/gemini.py
Due: none

feat(optimization): reduce context bloat and consolidate agent standards
  .gitignore
  AGENTS.md
  AGENTS.spellbook.md
  README.md
  commands/feature-research.md
  docs/commands/feature-research.md
  docs/getting-started/platforms.md
  docs/skills/dehallucination.md
  docs/skills/optimizing-instructions.md
  docs/skills/using-skills.md
  docs/skills/writing-skills.md
  hooks/spellbook_hook.py
  install.py
  installer/components/security.py
  installer/core.py
  installer/renderer.py
  skills/dehallucination/SKILL.md
  skills/optimizing-instructions/SKILL.md
  skills/using-skills/SKILL.md
  skills/writing-skills/SKILL.md
  spellbook/cli/commands/install.py
  spellbook/core/config.py
  spellbook/tooling/discovery.py
  spellbook/tooling/index_registry.py
  tests/test_installer_config_helpers.py
  tests/test_installer_renderer.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(diagrams): add multi-provider support and update agent standards
  docs/skills/dehallucination.md
  docs/skills/writing-skills.md
  install.py
  scripts/generate_diagrams.py
  spellbook/cli/commands/install.py
Due: security-scan-changeset

feat(sdk): implement unified CLI-backed SDK for Claude and Gemini
  docs/diagrams/skills/writing-skills.md
  scripts/generate_diagrams.py
  spellbook/sdk/__init__.py
  spellbook/sdk/base.py
  spellbook/sdk/claude.py
  spellbook/sdk/factory.py
  spellbook/sdk/gemini.py
Due: generate-docs, security-scan-changeset

feat(sdk): consolidate into unified agent sdk using official claude-agent-sdk
  pyproject.toml
  scripts/generate_diagrams.py
  spellbook/cli/commands/install.py
  spellbook/core/command_utils.py
  spellbook/mcp/tools/sessions.py
  spellbook/sdk/__init__.py
  spellbook/sdk/base.py
  spellbook/sdk/claude.py
  spellbook/sdk/factory.py
  spellbook/sdk/gemini.py
  spellbook/sdk/unified.py
  tests/test_spellbook_mcp/test_tooling_discovery.py
  tests/unit/test_diagram_update.py
Due: none

test(sdk): add unit tests for Unified Agent SDK
  tests/unit/test_unified_sdk.py
Due: none

chore(deps): move claude-agent-sdk to optional group and add gemini group
  pyproject.toml
  spellbook/sdk/unified.py
Due: none

feat(sdk): enable strict bigfoot sandbox enforcement and add subprocess allowances
  pyproject.toml
  spellbook/sdk/unified.py
  tests/unit/test_unified_sdk.py
Due: none

docs: add v0.37.0 changelog for installer renderer and unified SDK
  CHANGELOG.md
Due: security-scan-changeset

fix: wire --reconfigure flag, CLI TTS setup, and expand renderer tests
  install.py
  spellbook/cli/commands/install.py
  tests/test_installer_renderer.py
  tests/test_reorg/test_tool_count.py
Due: none

fix(sdk): address Gemini review findings and refactor to async subprocess
  AGENTS.md
  AGENTS.spellbook.md
  scripts/branch-context.sh
  skills/writing-skills/SKILL.md
  spellbook/sdk/unified.py
  tests/test_installer_integration.py
  tests/test_installer_renderer.py
  tests/unit/test_unified_sdk.py
  tests/unit/test_update_config.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(scripts): add Python equivalent for branch-context.sh for Windows parity
  scripts/branch-context.py
Due: none

test: upgrade-aware wizard, atomic config writes, installer integration, and SDK mock fix
  tests/unit/test_unified_sdk.py
Due: none

fix(tests): add bigfoot allowances to alembic tests
  tests/admin/test_alembic.py
Due: none

chore(deps): update bigfoot to 0.17.0
  pyproject.toml
Due: none

fix(tests): add popen allowance to alembic tests for Windows CI
  tests/admin/test_alembic.py
Due: none
