Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

fix(rules): drop unresolvable related entry for feature-implement-execute
  docs/rules/40-develop-discipline.md
  rules/40-develop-discipline.md
Due: security-scan-changeset

release: 0.83.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

release: 0.84.0
  .version
  CHANGELOG.md
Due: security-scan-changeset

feat(develop): make ceremony selectable at invocation, then locked
  AGENTS.spellbook.md
  commands/feature-config.md
  commands/write-skill-test.md
  docs/commands/feature-config.md
  docs/commands/write-skill-test.md
  docs/skills/develop.md
  docs/skills/writing-skills.md
  skills/develop/SKILL.md
  skills/writing-skills/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(rules): port the ceremony contract into the rule modules
  commands/feature-config.md
  commands/write-skill-test.md
  docs/commands/feature-config.md
  docs/commands/write-skill-test.md
  docs/rules/40-develop-discipline.md
  docs/skills/develop.md
  rules/40-develop-discipline.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(installer): address PR review findings BOT-1 and BOT-2
  installer/components/rule_migration.py
  installer/components/rule_modules.py
  installer/core.py
  tests/installer/test_rule_modules.py
Due: none

docs(template): model preferences + session model confirmation
  AGENTS.spellbook.md
Due: security-scan-changeset

test(installer): convert monkeypatch.setattr to tripwire in test_installer_config_helpers.py
  tests/test_installer_config_helpers.py
Due: none

build(deps): bump pytest-tripwire to >=0.21.1
  pyproject.toml
Due: none

test(installer): convert monkeypatch.setattr to tripwire in test_install_default_mode.py
  tests/installer/test_install_default_mode.py
Due: none

test(installer): convert monkeypatch.setattr to tripwire in test_install_permissions.py
  tests/installer/test_install_permissions.py
Due: none

test(cli): convert monkeypatch.setattr to tripwire in test_install_cmd.py
  tests/test_cli/test_install_cmd.py
Due: none

test(installer): convert monkeypatch.setattr to tripwire in test_service_config.py
  tests/installer/test_service_config.py
Due: none

test: convert monkeypatch.setattr to tripwire in test_multi_target_config.py
  installer/config.py
  tests/test_multi_target_config.py
Due: none

test(reorg): convert monkeypatch.setattr to tripwire in test_core_config.py
  spellbook/core/config.py
  tests/test_reorg/test_core_config.py
Due: none

test(cli): convert monkeypatch.setattr to tripwire in test_config_cmd.py
  tests/test_cli/test_config_cmd.py
Due: none

test: convert monkeypatch.setattr to tripwire in test_multi_target_install.py
  tests/test_multi_target_install.py
Due: none

test(installer): convert sys.platform monkeypatch to tripwire accessor in test_marks.py
  tests/conftest.py
  tests/installer/test_marks.py
Due: none

test: convert monkeypatch.setattr to tripwire in test_hook_api_routes.py
  tests/test_hook_api_routes.py
Due: none

Revert "docs(template): model preferences + session model confirmation"
  AGENTS.spellbook.md
Due: security-scan-changeset

feat(agents): apply v5 model routing — exclude Claude, prefer DeepSeek V4 Flash for mechanical, MiniMax M3 for thinking
  agents/MODEL_ROUTING.md
  agents/chariot-implementer.md
  agents/code-reviewer.md
  agents/emperor-governor.md
  agents/git-committer.md
  agents/git-pusher.md
  agents/hierophant-distiller.md
  agents/implementer.md
  agents/jira-mutator.md
  agents/jira-reader.md
  agents/justice-resolver.md
  agents/lovers-integrator.md
  agents/pr-creator.md
  agents/pr-merger.md
  agents/queen-affective.md
  agents/test-runner.md
  agents/web-researcher.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(prime_agent): do not install AGENTS.spellbook.md as a skill
  installer/platforms/prime_agent.py
Due: none

fix(rules): relocate AGENTS.spellbook.md changes to rules/ after PR #442 merge
  rules/00-core.md
  rules/10-session.md
  spellbook/core/config.py
  tests/installer/test_rule_modules.py
Due: security-scan-changeset

fix(installer): address momus review findings BOT-A1, BOT-A2, BOT-A3
  installer/platforms/goose.py
  tests/integration/test_goose_installer.py
Due: none

feat(installer): add Goose (AAIF) platform support
  CHANGELOG.md
  README.md
  extensions/goose/.gitignore
  extensions/goose/.goosehints
  install.py
  installer/config.py
  installer/core.py
  installer/platforms/goose.py
  installer/tui.py
  spellbook/cli/commands/install.py
  tests/integration/test_goose_installer.py
Due: security-scan-changeset

fix(installer): address momus re-review findings BOT-B1, BOT-B2
  installer/platforms/goose.py
  tests/integration/test_goose_installer.py
Due: none

fix(installer): combine prime_agent + goose platform entries after rebase
  install.py
  installer/config.py
Due: none

fix(installer): address momus re-review findings BOT-D1, BOT-D3, BOT-D4
  installer/platforms/goose.py
  installer/tui.py
  tests/integration/test_goose_installer.py
Due: none

docs(AGENTS.md): add Module Cycle Prevention section
  AGENTS.md
Due: security-scan-changeset

fix(prime_agent): auto-inject rule modules via session-start extension
  CHANGELOG.md
  extensions/prime-agent/README.md
  extensions/prime-agent/spellbook-rules.ts
  installer/config.py
  installer/platforms/prime_agent.py
  tests/integration/test_prime_agent_rules_install.py
Due: security-scan-changeset

fix(develop): wave-completion discipline + parallelism/ceremony surface clarity
  commands/feature-config.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(install): update prime_agent post-install note for rules extension
  install.py
Due: none

fix(develop): gate ledger state file + AgentDB cleanup + discipline docs
  commands/fact-check-verify.md
  rules/40-develop-discipline.md
  scripts/develop_gate_ledger.py
  skills/develop/SKILL.md
  skills/fact-checking/SKILL.md
  tests/scripts/test_develop_gate_ledger.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore(docs): regenerate docs site from skills/commands/rules
  docs/agents/MODEL_ROUTING.md
  docs/agents/index.md
  docs/commands/a2a.md
  docs/commands/advanced-code-review-context.md
  docs/commands/advanced-code-review-plan.md
  docs/commands/fact-check-verify.md
  docs/commands/feature-config.md
  docs/commands/feature-implement-execute.md
  docs/commands/handoff.md
  docs/commands/index.md
  docs/rules/00-core.md
  docs/rules/10-session.md
  docs/rules/40-develop-discipline.md
  docs/rules/index.md
  docs/skills/advanced-code-review.md
  docs/skills/agent2agent.md
  docs/skills/code-review.md
  docs/skills/develop.md
  docs/skills/distilling-prs.md
  docs/skills/fact-checking.md
  docs/skills/reflexion.md
  docs/skills/using-skills.md
Due: security-scan-changeset

fix(develop): relay subagent confidence verbatim, not stripped
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

docs(AGENTS.md) + fix(develop): module cycle prevention + relay confidence verbatim (#446)
  AGENTS.md
  skills/develop/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(ci): resolve pre-existing test and lint failures blocking PR #445
  hooks/spellbook_hook.py
  spellbook/mcp/routes.py
  tests/test_multi_target_config.py
  tests/test_reorg/test_mcp_state.py
  tests/test_skills/test_review_skill_contracts.py
Due: none

fix(lint): address pre-existing markdown-lint failures on main
  commands/advanced-code-review-context.md
  rules/10-session.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
