Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

Fix pi MCP registration, which configured nothing
  installer/platforms/pi.py
  tests/installer/test_pi_mcp_adapter.py
Due: none

Fix pi adapter entry boundary and reported spec
  installer/platforms/pi.py
  tests/installer/test_pi_mcp_adapter.py
Due: none

docs: name what the planlint removal withdrew, and self-check the one rule it enforced
  CHANGELOG.md
  docs/skills/writing-plans.md
  skills/writing-plans/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Rework the pi adapter for the post-bearer daemon and the review findings
  CHANGELOG.md
  installer/platforms/pi.py
  tests/installer/test_pi_mcp_adapter.py
Due: security-scan-changeset

fix(tests): mark the pi settings mode assertions POSIX-only
  tests/installer/test_pi_mcp_adapter.py
Due: none

release: 0.92.0
  .version
  CHANGELOG.md
  docs/rules/45-verification.md
  extensions/gemini/gemini-extension.json
  rules/45-verification.md
Due: security-scan-changeset

rules: a replacement that reports no count can silently make none
  docs/rules/45-verification.md
  rules/45-verification.md
Due: security-scan-changeset

philosophy: pair every zero with a known positive
  docs/rules/92-core-philosophy.md
  rules/92-core-philosophy.md
Due: security-scan-changeset

release: 0.93.0
  .version
  CHANGELOG.md
  extensions/gemini/gemini-extension.json
Due: security-scan-changeset

philosophy: a perturbing probe proves a mechanism can fire, not that it does
  docs/rules/92-core-philosophy.md
  rules/92-core-philosophy.md
Due: security-scan-changeset

release: 0.94.0
  .version
  CHANGELOG.md
  extensions/gemini/gemini-extension.json
Due: security-scan-changeset

rules: one sample is not the population, and shared scratch is not yours
  docs/rules/20-orchestration.md
  docs/rules/92-core-philosophy.md
  rules/20-orchestration.md
  rules/92-core-philosophy.md
Due: security-scan-changeset

changelog: record the two new rules as Unreleased
  CHANGELOG.md
Due: security-scan-changeset

skills: add session-pull — portable session export across four coding agents
  CHANGELOG.md
  README.md
  docs/skills/session-pull.md
  mkdocs.yml
  skills/session-pull/SKILL.md
  skills/session-pull/session_pull.py
  tests/test_skills/test_session_pull.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix(session-pull): review pass — Windows CI, claude-work root, full-mode anchor
  skills/session-pull/session_pull.py
  tests/test_skills/test_session_pull.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

fix(session-pull): guard remaining POSIX mode assertion for Windows
  tests/test_skills/test_session_pull.py
Due: none

installer: add AionUi platform support
  AGENTS.md
  CHANGELOG.md
  README.md
  install.py
  installer/config.py
  installer/core.py
  installer/platforms/aionui.py
  installer/tui.py
  spellbook/cli/commands/install.py
  tests/integration/test_aionui_installer.py
Due: security-scan-changeset

fix(session-pull): deep-review fixes
  skills/session-pull/session_pull.py
  tests/test_skills/test_session_pull.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

installer(aionui): path-containment check replaces string-prefix match
  installer/platforms/aionui.py
  tests/integration/test_aionui_installer.py
Due: none

fix(installer): path containment instead of string-prefix match
  CHANGELOG.md
  install.py
  installer/platforms/antigravity.py
  tests/integration/test_antigravity_installer.py
Due: security-scan-changeset

docs(session-pull): aionui store path in module docstring is os-aware
  skills/session-pull/session_pull.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

fix(session-pull): honor --include-thinking for aionui; review sweep
  skills/session-pull/session_pull.py
  tests/test_skills/test_session_pull.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

rules: name the MCF5407 repository in the NMG2 standing exception
  docs/rules/30-intent-routing.md
  rules/30-intent-routing.md
Due: security-scan-changeset

feat(orchestration): establish delegation precedence defaulting to cluster workers
  AGENTS.md
  CHANGELOG.md
  docs/rules/20-orchestration.md
  docs/skills/design-exploration.md
  docs/skills/develop.md
  docs/skills/dispatching-parallel-agents.md
  hooks/opencode-plugin.ts
  installer/platforms/opencode.py
  rules/20-orchestration.md
  skills/design-exploration/SKILL.md
  skills/develop/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  tests/installer/test_opencode_legacy_gate_cleanup.py
  tests/installer/test_opencode_plugin_install.py
  tests/unit/opencode-plugin.test.ts
  tests/unit/test_hook_cleanup.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(compaction): add post-compaction ceremony restoration invariant and docs mirror
  AGENTS.md
  CHANGELOG.md
  docs/rules/20-orchestration.md
  rules/20-orchestration.md
Due: security-scan-changeset

feat(orchestration): document scheduled watchdog stepped backoff protocol
  docs/rules/20-orchestration.md
  rules/20-orchestration.md
Due: security-scan-changeset

feat(orchestration): add Orchestrator Intake Gate and install updated guides
  AGENTS.md
  docs/rules/20-orchestration.md
  rules/20-orchestration.md
Due: security-scan-changeset

docs(guide): update rhizo guide v1.4 and garden guide v1.6
  AGENTS.md
Due: security-scan-changeset

docs(orchestration): clarify scheduled watchdog is strictly for Codex/ChatGPT, exempting Antigravity
  docs/rules/20-orchestration.md
  rules/20-orchestration.md
Due: security-scan-changeset

chore(skills): restrict subagents to non-swarm solo chats in dispatching-parallel-agents
  skills/dispatching-parallel-agents/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset
