Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files

generate-docs:
  name: Generate documentation
  entry: python3 scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

fix: address Gemini code review feedback and merge issues
  pyproject.toml
  spellbook_mcp/ab_test.py
  spellbook_mcp/skill_analyzer.py
Due: none

fix: address Gemini code review feedback on PR #9
  extensions/opencode/context-curator/lib/hooks.ts
  extensions/opencode/context-curator/lib/messages/prune.ts
  spellbook_mcp/ab_test.py
  spellbook_mcp/coordination/server.py
  spellbook_mcp/coordination/state.py
  spellbook_mcp/coordination/worker.py
  spellbook_mcp/curator_tools.py
  spellbook_mcp/skill_analyzer.py
  tests/test_coordination_protocol.py
  tests/test_coordination_state.py
Due: none

feat(opencode): inject Claude Code behavioral standards via instructions config
  extensions/opencode/claude-code-system-prompt.md
  installer/platforms/opencode.py
Due: none

feat: add advanced-code-review skill with 5-phase workflow
  docs/skills/advanced-code-review.md
  skills/advanced-code-review/SKILL.md
  skills/advanced-code-review/templates/finding.md.tpl
  skills/advanced-code-review/templates/progress.md.tpl
  skills/advanced-code-review/templates/report.md.tpl
Due: generate-docs, update-context-files

feat: add advanced-code-review skill with 5-phase workflow
  CHANGELOG.md
  CLAUDE.md
  CLAUDE.spellbook.md
  README.md
  commands/advanced-code-review-context.md
  commands/advanced-code-review-plan.md
  commands/advanced-code-review-report.md
  commands/advanced-code-review-review.md
  commands/advanced-code-review-verify.md
  docs/commands/advanced-code-review-context.md
  docs/commands/advanced-code-review-plan.md
  docs/commands/advanced-code-review-report.md
  docs/commands/advanced-code-review-review.md
  docs/commands/advanced-code-review-verify.md
  docs/commands/index.md
  docs/skills/advanced-code-review.md
  docs/skills/autonomous-roundtable.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/executing-plans.md
  docs/skills/implementing-features.md
  mkdocs.yml
  patterns/subagent-dispatch.md
  skills/advanced-code-review/SKILL.md
  skills/autonomous-roundtable/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/executing-plans/SKILL.md
  skills/executing-plans/code-quality-reviewer-prompt.md
  skills/executing-plans/implementer-prompt.md
  skills/executing-plans/spec-reviewer-prompt.md
  skills/implementing-features/SKILL.md
Due: generate-docs, update-context-files

docs: update CHANGELOG with all merged PR features
  CHANGELOG.md
Due: none

feat: optimize CLAUDE.spellbook.md template size (41KB → 22KB)
  CHANGELOG.md
  CLAUDE.spellbook.md
  README.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/managing-artifacts.md
  mkdocs.yml
  skills/dispatching-parallel-agents/SKILL.md
  skills/managing-artifacts/SKILL.md
Due: generate-docs, update-context-files

feat: add mechanical phase-skip prevention to implementing-features skill
  CHANGELOG.md
  commands/feature-config.md
  commands/feature-design.md
  commands/feature-discover.md
  commands/feature-implement.md
  commands/feature-research.md
  docs/commands/feature-config.md
  docs/commands/feature-design.md
  docs/commands/feature-discover.md
  docs/commands/feature-implement.md
  docs/commands/feature-research.md
  docs/skills/implementing-features.md
  skills/implementing-features/SKILL.md
Due: generate-docs, update-context-files

feat: mandate orchestrator-subagent separation in writing-skills
  CHANGELOG.md
  docs/skills/writing-skills.md
  skills/writing-skills/SKILL.md
Due: generate-docs, update-context-files

fix: use MCP roots for project path instead of server cwd
  CHANGELOG.md
  spellbook_mcp/config_tools.py
  spellbook_mcp/injection.py
  spellbook_mcp/path_utils.py
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_path_utils.py
  tests/test_spellbook_mcp/test_server_integration.py
Due: none

feat: add writing-commands skill and test-bar commands
  CHANGELOG.md
  README.md
  commands/test-bar-remove.md
  commands/test-bar.md
  docs/commands/index.md
  docs/commands/test-bar-remove.md
  docs/commands/test-bar.md
  docs/skills/writing-commands.md
  mkdocs.yml
  skills/writing-commands/SKILL.md
Due: generate-docs, update-context-files

docs: fix documentation audit issues
  README.md
  mkdocs.yml
Due: none

fix: deduplicate skill registry and parse YAML block scalars
  CLAUDE.spellbook.md
  scripts/generate_context.py
  scripts/update_context_files.py
Due: update-context-files

feat: incorporate Anthropic guide patterns into instruction skills
  CLAUDE.spellbook.md
  README.md
  commands/ie-techniques.md
  commands/ie-template.md
  commands/ie-tool-docs.md
  docs/commands/ie-techniques.md
  docs/commands/ie-template.md
  docs/commands/ie-tool-docs.md
  docs/commands/index.md
  docs/skills/documenting-tools.md
  docs/skills/instruction-engineering.md
  docs/skills/optimizing-instructions.md
  docs/skills/writing-commands.md
  mkdocs.yml
  skills/documenting-tools/SKILL.md
  skills/instruction-engineering/SKILL.md
  skills/optimizing-instructions/SKILL.md
  skills/writing-commands/SKILL.md
Due: generate-docs, update-context-files

fix: add timeout and BaseException handling for list_roots in session init
  .version
  CHANGELOG.md
  spellbook_mcp/path_utils.py
Due: none

docs: add new skills to skills index
  docs/skills/index.md
Due: none

feat: add /design-assessment command for generating assessment frameworks
  README.md
  commands/design-assessment.md
  docs/commands/design-assessment.md
  docs/commands/index.md
  docs/skills/brainstorming.md
  docs/skills/writing-commands.md
  docs/skills/writing-skills.md
  mkdocs.yml
  skills/brainstorming/SKILL.md
  skills/writing-commands/SKILL.md
  skills/writing-skills/SKILL.md
  tests/test_writing_commands_skill.py
Due: generate-docs, update-context-files

chore: bump version to 0.9.7, fix failing tests
  .version
  CHANGELOG.md
  docs/skills/managing-artifacts.md
  skills/managing-artifacts/SKILL.md
  tests/test_claude_fact_extraction.py
Due: generate-docs, update-context-files

feat: add comprehensive health check for spellbook MCP server
  .version
  CHANGELOG.md
  spellbook_mcp/health.py
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_health.py
  tests/test_spellbook_mcp/test_health_check.py
Due: none

feat: add sharpening-prompts skill for LLM instruction QA
  CLAUDE.spellbook.md
  README.md
  commands/sharpen-audit.md
  commands/sharpen-improve.md
  docs/commands/index.md
  docs/commands/sharpen-audit.md
  docs/commands/sharpen-improve.md
  docs/skills/instruction-engineering.md
  docs/skills/reviewing-design-docs.md
  docs/skills/reviewing-impl-plans.md
  docs/skills/sharpening-prompts.md
  mkdocs.yml
  skills/instruction-engineering/SKILL.md
  skills/reviewing-design-docs/SKILL.md
  skills/reviewing-impl-plans/SKILL.md
  skills/sharpening-prompts/SKILL.md
Due: generate-docs, update-context-files

feat: add verifying-hunches skill to prevent premature eureka claims
  CLAUDE.spellbook.md
  README.md
  docs/skills/verifying-hunches.md
  mkdocs.yml
  skills/verifying-hunches/SKILL.md
Due: generate-docs, update-context-files

feat: integrate verifying-hunches into debugging ecosystem
  CLAUDE.spellbook.md
  commands/scientific-debugging/scientific-debugging.md
  commands/systematic-debugging/systematic-debugging.md
  docs/commands/scientific-debugging.md
  docs/commands/systematic-debugging.md
  docs/skills/debugging.md
  docs/skills/verifying-hunches.md
  skills/debugging/SKILL.md
  skills/verifying-hunches/SKILL.md
Due: generate-docs, update-context-files

feat: add isolated-testing skill to prevent chaos debugging
  CLAUDE.spellbook.md
  README.md
  commands/scientific-debugging/scientific-debugging.md
  commands/systematic-debugging/systematic-debugging.md
  docs/commands/scientific-debugging.md
  docs/commands/systematic-debugging.md
  docs/skills/debugging.md
  docs/skills/isolated-testing.md
  mkdocs.yml
  skills/debugging/SKILL.md
  skills/isolated-testing/SKILL.md
Due: generate-docs, update-context-files

docs: add verifying-hunches and isolated-testing to changelog
  CHANGELOG.md
Due: none

chore: bump version to 0.9.8
  pyproject.toml
Due: none

feat: add Phase 0 prerequisites to debugging skill
  docs/skills/debugging.md
  docs/skills/isolated-testing.md
  skills/debugging/SKILL.md
  skills/isolated-testing/SKILL.md
Due: generate-docs, update-context-files

docs: add Phase 0 prerequisites to changelog
  CHANGELOG.md
Due: none

feat: add no-assumptions rule and strengthen orchestrator enforcement
  CHANGELOG.md
  CLAUDE.spellbook.md
  docs/skills/implementing-features.md
  skills/implementing-features/SKILL.md
Due: generate-docs, update-context-files

fix: resolve pre-existing skill compliance test failures
  CLAUDE.spellbook.md
  docs/skills/advanced-code-review.md
  docs/skills/code-review.md
  docs/skills/isolated-testing.md
  skills/advanced-code-review/SKILL.md
  skills/code-review/SKILL.md
  skills/isolated-testing/SKILL.md
  tests/test_claude_fact_extraction.py
Due: generate-docs, update-context-files

feat: split writing-commands skill and fix flaky token budget tests
  CHANGELOG.md
  README.md
  commands/writing-commands-create.md
  commands/writing-commands-paired.md
  commands/writing-commands-review.md
  docs/commands/index.md
  docs/commands/writing-commands-create.md
  docs/commands/writing-commands-paired.md
  docs/commands/writing-commands-review.md
  docs/skills/writing-commands.md
  mkdocs.yml
  skills/writing-commands/SKILL.md
  tests/test_claude_fact_extraction.py
  tests/test_writing_commands_skill.py
Due: generate-docs, update-context-files

feat: add deep-research skill for multi-threaded web research with verification
  CHANGELOG.md
  CLAUDE.spellbook.md
  README.md
  commands/deep-research-interview.md
  commands/deep-research-investigate.md
  commands/deep-research-plan.md
  docs/commands/deep-research-interview.md
  docs/commands/deep-research-investigate.md
  docs/commands/deep-research-plan.md
  docs/commands/index.md
  docs/skills/deep-research.md
  mkdocs.yml
  skills/deep-research/SKILL.md
Due: generate-docs, update-context-files

fix: address Gemini PR feedback on health check
  spellbook_mcp/health.py
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_health.py
Due: none

feat: add answered-question tracking to review commands
  CHANGELOG.md
  commands/advanced-code-review-context.md
  commands/advanced-code-review-review.md
  commands/code-review-feedback.md
  commands/code-review-give.md
  docs/commands/advanced-code-review-context.md
  docs/commands/advanced-code-review-review.md
  docs/commands/code-review-feedback.md
  docs/commands/code-review-give.md
  pyproject.toml
Due: generate-docs, update-context-files

Revert "feat: add answered-question tracking to review commands"
  CHANGELOG.md
  commands/advanced-code-review-context.md
  commands/advanced-code-review-review.md
  commands/code-review-feedback.md
  commands/code-review-give.md
  docs/commands/advanced-code-review-context.md
  docs/commands/advanced-code-review-review.md
  docs/commands/code-review-feedback.md
  docs/commands/code-review-give.md
  pyproject.toml
Due: generate-docs, update-context-files

feat: add QUESTION severity level to review commands
  commands/advanced-code-review-review.md
  commands/code-review-give.md
  docs/commands/advanced-code-review-review.md
  docs/commands/code-review-give.md
Due: generate-docs, update-context-files

fix: address code review findings in health check module
  spellbook_mcp/health.py
  spellbook_mcp/server.py
  tests/test_spellbook_mcp/test_health.py
Due: none

feat: add branch-relative documentation rule to CLAUDE.spellbook.md
  .version
  CHANGELOG.md
  CLAUDE.spellbook.md
  pyproject.toml
Due: update-context-files

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
