Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

generate-docs:
  name: Generate documentation
  entry: uv run scripts/generate_docs.py
  language: system
  pass_filenames: false

update-context-files:
  name: Update AGENTS.spellbook.md
  entry: python3 scripts/update_context_files.py
  language: system
  pass_filenames: false

check-diagram-freshness:
  name: Check diagram freshness
  entry: python3 scripts/check_diagram_freshness.py
  language: system
  pass_filenames: false

validate-schemas:
  name: Validate skill/command/agent schemas
  entry: uv run scripts/validate_schemas.py
  language: system
  pass_filenames: false

security-scan-changeset:
  name: Scan changeset for security issues
  entry: uv run python -m spellbook_mcp.security.scanner --staged
  language: system

feat: assertion quality standard pattern and fix verification phase
  .version
  CHANGELOG.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/diagrams/skills/fixing-tests.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/auditing-green-mirage.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/enforcing-code-quality.md
  docs/skills/fixing-tests.md
  docs/skills/test-driven-development.md
  patterns/assertion-quality-standard.md
  skills/auditing-green-mirage/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/enforcing-code-quality/SKILL.md
  skills/fixing-tests/SKILL.md
  skills/test-driven-development/SKILL.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: multi-target installer with per-platform config dir support
  install.py
  installer/config.py
  installer/core.py
  installer/platforms/base.py
  installer/platforms/claude_code.py
  installer/platforms/codex.py
  installer/platforms/crush.py
  installer/platforms/gemini.py
  installer/platforms/opencode.py
  tests/test_crush_installer.py
  tests/test_daemon_install.py
  tests/test_multi_target_config.py
  tests/test_multi_target_install.py
  uninstall.py
Due: none

docs: add ROADMAP.md
  ROADMAP.md
  installer/platforms/opencode.py
Due: security-scan-changeset

fix: address Gemini code review feedback
  installer/config.py
  installer/core.py
Due: none

feat: multi-target installer with per-platform config dir support (#55)
  ROADMAP.md
  install.py
  installer/config.py
  installer/core.py
  installer/platforms/base.py
  installer/platforms/claude_code.py
  installer/platforms/codex.py
  installer/platforms/crush.py
  installer/platforms/gemini.py
  installer/platforms/opencode.py
  tests/test_crush_installer.py
  tests/test_daemon_install.py
  tests/test_multi_target_config.py
  tests/test_multi_target_install.py
  uninstall.py
Due: security-scan-changeset

feat: enforce Deterministic Output Principle and close assertion quality gaps
  .version
  CHANGELOG.md
  commands/audit-mirage-analyze.md
  commands/feature-implement.md
  commands/fix-tests-execute.md
  docs/commands/audit-mirage-analyze.md
  docs/commands/feature-implement.md
  docs/commands/fix-tests-execute.md
  docs/commands/index.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/skills/auditing-green-mirage.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/enforcing-code-quality.md
  docs/skills/fixing-tests.md
  docs/skills/test-driven-development.md
  patterns/assertion-quality-standard.md
  patterns/code-review-antipatterns.md
  skills/auditing-green-mirage/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/enforcing-code-quality/SKILL.md
  skills/fixing-tests/SKILL.md
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/testing-anti-patterns.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: broaden assertion principle to Full Assertion Principle
  CHANGELOG.md
  commands/audit-mirage-analyze.md
  commands/feature-implement.md
  commands/fix-tests-execute.md
  docs/commands/audit-mirage-analyze.md
  docs/commands/feature-implement.md
  docs/commands/fix-tests-execute.md
  docs/diagrams/commands/audit-mirage-analyze.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/commands/fix-tests-execute.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/diagrams/skills/fixing-tests.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/auditing-green-mirage.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/enforcing-code-quality.md
  docs/skills/fixing-tests.md
  docs/skills/test-driven-development.md
  patterns/assertion-quality-standard.md
  patterns/code-review-antipatterns.md
  skills/auditing-green-mirage/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/enforcing-code-quality/SKILL.md
  skills/fixing-tests/SKILL.md
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/testing-anti-patterns.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat: enforce Deterministic Output Principle and close assertion quality gaps (#54)
  .version
  CHANGELOG.md
  commands/audit-mirage-analyze.md
  commands/feature-implement.md
  commands/fix-tests-execute.md
  docs/commands/audit-mirage-analyze.md
  docs/commands/feature-implement.md
  docs/commands/fix-tests-execute.md
  docs/commands/index.md
  docs/diagrams/commands/audit-mirage-analyze.md
  docs/diagrams/commands/feature-implement.md
  docs/diagrams/commands/fix-tests-execute.md
  docs/diagrams/skills/auditing-green-mirage.md
  docs/diagrams/skills/fixing-tests.md
  docs/diagrams/skills/test-driven-development.md
  docs/skills/auditing-green-mirage.md
  docs/skills/dispatching-parallel-agents.md
  docs/skills/enforcing-code-quality.md
  docs/skills/fixing-tests.md
  docs/skills/test-driven-development.md
  patterns/assertion-quality-standard.md
  patterns/code-review-antipatterns.md
  skills/auditing-green-mirage/SKILL.md
  skills/dispatching-parallel-agents/SKILL.md
  skills/enforcing-code-quality/SKILL.md
  skills/fixing-tests/SKILL.md
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/testing-anti-patterns.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

ignore worktree dir
  .gitignore
Due: none

Revise README with Spellbook philosophy and structure
  README.md
Due: security-scan-changeset

feat: strengthen crystallize pipeline with adversarial review and gap analysis
  README.md
  ROADMAP.md
  commands/crystallize-verify.md
  commands/crystallize.md
  docs/commands/crystallize-verify.md
  docs/commands/crystallize.md
  docs/commands/index.md
  mkdocs.yml
  tests/test_security/test_check_tool_input_mcp.py
  tests/test_security/test_scanner.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

chore: bump version to 0.19.1
  .version
Due: none

feat(hooks): add notification timer file to PreToolUse hooks
  hooks/tts-timer-start.py
  hooks/tts-timer-start.sh
Due: none

feat(config): add notification session state and defaults
  spellbook_mcp/config_tools.py
Due: none

feat(notify): create core notification module with platform detection
  spellbook_mcp/notify.py
Due: none

feat(mcp): register notification MCP tools
  spellbook_mcp/server.py
Due: none

feat(hooks): create PostToolUse notification hooks
  hooks/notify-on-complete.py
  hooks/notify-on-complete.sh
Due: none

docs: add notification configuration to AGENTS.spellbook.md
  AGENTS.spellbook.md
Due: security-scan-changeset

test: add notification feature test suite
  tests/test_security/test_notify_hooks.py
  tests/test_spellbook_mcp/test_notify_config.py
  tests/test_spellbook_mcp/test_notify_core.py
  tests/test_spellbook_mcp/test_notify_tools.py
Due: none

feat(installer): add notification hook definitions
  installer/components/hooks.py
  tests/test_security/test_installer_hooks.py
Due: none

chore: bump version to 0.20.0 and update changelog
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix: address Gemini review feedback on notification feature
  hooks/notify-on-complete.py
  hooks/notify-on-complete.sh
  spellbook_mcp/config_tools.py
  spellbook_mcp/notify.py
Due: none

fix: clarify circuit breaker budget wording in crystallize command
  commands/crystallize.md
  docs/commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

fix: correct circuit breaker minimum from 1 to 2
  commands/crystallize.md
  docs/commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Clarify circuit breaker budget wording in crystallize command (#67)
  commands/crystallize.md
  docs/commands/crystallize.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Remove _SHELL_TO_NIM_BINARY and nim_available parameter from hooks.py
  installer/components/hooks.py
  installer/platforms/claude_code.py
  tests/test_security/test_installer_hooks.py
Due: none

Update _get_hook_path() to extract path from PowerShell command wrapper
  installer/components/hooks.py
  tests/test_security/test_installer_hooks.py
Due: none

Add legacy hook cleanup and PowerShell availability check
  installer/components/hooks.py
  tests/test_security/test_installer_hooks.py
Due: none

Remove Nim lifecycle from claude_code.py platform installer
  installer/platforms/claude_code.py
  tests/unit/test_claude_code_no_nim.py
Due: none

Add fail-closed security PowerShell hooks (bash-gate, spawn-guard, state-sanitize)
  hooks/bash-gate.ps1
  hooks/spawn-guard.ps1
  hooks/state-sanitize.ps1
  tests/test_security/test_ps1_hooks.py
Due: none

Add fail-open audit PowerShell hooks (audit-log, canary-check, tts-timer-start)
  hooks/audit-log.ps1
  hooks/canary-check.ps1
  hooks/tts-timer-start.ps1
Due: none

Add fail-open notification PowerShell hooks (tts-notify, notify-on-complete)
  hooks/notify-on-complete.ps1
  hooks/tts-notify.ps1
  tests/test_security/test_ps1_hooks.py
Due: none

Add fail-open compaction PowerShell hooks (pre-compact-save, post-compact-recover)
  hooks/post-compact-recover.ps1
  hooks/pre-compact-save.ps1
Due: none

Delete Python hook files replaced by PowerShell equivalents
  hooks/audit-log.py
  hooks/bash-gate.py
  hooks/canary-check.py
  hooks/notify-on-complete.py
  hooks/spawn-guard.py
  hooks/state-sanitize.py
  hooks/tts-notify.py
  hooks/tts-timer-start.py
Due: none

Delete hooks/nim/ directory (Nim hook sources and build config)
  hooks/nim/generate_patterns.py
  hooks/nim/hooks.nimble
  hooks/nim/src/audit_log.nim
  hooks/nim/src/bash_gate.nim
  hooks/nim/src/canary_check.nim
  hooks/nim/src/hooklib.nim
  hooks/nim/src/post_compact_recover.nim
  hooks/nim/src/pre_compact_save.nim
  hooks/nim/src/spawn_guard.nim
  hooks/nim/src/state_sanitize.nim
  hooks/nim/src/tts_notify.nim
  hooks/nim/src/tts_timer_start.nim
Due: none

Delete Nim test files (test_nim_hook_binaries.py, test_nim_codegen.py)
  tests/test_security/test_nim_codegen.py
  tests/test_security/test_nim_hook_binaries.py
Due: none

Remove _hook_ext() helper and TestNimHookRecognition from test_installer_hooks.py
  tests/test_security/test_installer_hooks.py
Due: none

Update test_hooks_windows.py: replace .py hook tests with .ps1 validation
  tests/test_security/test_hooks_windows.py
Due: none

Path conditions:
  generate-docs: any of: ^(skills/|commands/|agents/|docs/diagrams/)
  update-context-files: any of: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)
  check-diagram-freshness: any of: ^(skills/|commands/|agents/)
  validate-schemas: any of: ^(skills/|commands/|agents/)
  security-scan-changeset: any of: \.(md|markdown|mdown)$
