Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

docs: fix version file reference in gemini style guide
  .gemini/styleguide.md
Due: security-scan-changeset

fix: skip update prompt when running installer from source repo
  .version
  CHANGELOG.md
  install.py
Due: security-scan-changeset

fix: streamline installer by defaulting security settings silently
  .version
  CHANGELOG.md
  install.py
  installer/renderer.py
  installer/tui.py
  installer/wizard.py
  tests/test_install_wizard_flow.py
  tests/test_installer_renderer.py
  tests/test_wizard_cli_flags.py
  tests/test_wizard_integration.py
Due: security-scan-changeset

fix: bump to minor version 0.47.0 for new feature + behavioral change
  .version
  CHANGELOG.md
Due: security-scan-changeset

refactor: extract _get_default_security_selections helper, add integration test
  install.py
  tests/test_wizard_integration.py
Due: none

fix: log ImportError instead of silently passing in no-renderer path
  install.py
Due: none

refactor: consolidate security key helpers, broaden exception handling
  install.py
Due: none

refactor: consolidate imports, fix --yes + --security-wizard interaction
  install.py
  tests/test_wizard_integration.py
Due: none

refactor: consolidate config imports, apply defaults in non-interactive envs
  install.py
Due: none

refactor: consolidate installer.wizard import to single location
  install.py
Due: none

feat(tts): add ServiceConfig dataclass and factory functions
  installer/compat.py
  tests/installer/__init__.py
  tests/installer/test_service_config.py
Due: none

refactor(service): make ServiceManager accept parameterized ServiceConfig
  installer/compat.py
  tests/installer/test_service_config.py
Due: none

refactor(service): update all ServiceManager callers to use ServiceConfig
  installer/core.py
  spellbook/daemon/service.py
  tests/unit/test_compat.py
Due: none

feat: add TTS constants module
  spellbook/tts/__init__.py
  spellbook/tts/constants.py
Due: none

feat: add cross-process provisioning lock
  spellbook/tts/lock.py
  tests/tts/__init__.py
  tests/tts/test_lock.py
Due: none

feat: add device auto-detection for TTS
  spellbook/tts/device.py
  tests/tts/test_device.py
Due: none

feat: add TTS venv management
  spellbook/tts/venv.py
  tests/tts/test_venv.py
Due: none

feat: add TTS provisioner with state machine
  spellbook/tts/provisioner.py
  tests/tts/test_provisioner.py
Due: none

feat(tts): add lazy provisioning hook to config_set
  spellbook/mcp/tools/config.py
  tests/tts/test_config_hook.py
Due: none

feat(tts): add eager provisioning to installer wizard
  install.py
  tests/unit/test_installer_tts.py
Due: none

feat(tts): extend tts_status with service health fields
  spellbook/mcp/tools/notifications.py
  spellbook/notifications/tts.py
  tests/tts/test_status.py
Due: none

feat: add TTS service cleanup to Uninstaller
  installer/core.py
  spellbook/tts/venv.py
  tests/unit/test_uninstall_tts.py
Due: none

test: strengthen green mirage findings in TTS tests
  tests/installer/test_service_config.py
  tests/tts/test_provisioner.py
Due: none

fix: address fact-check findings in TTS service
  spellbook/core/config.py
  spellbook/mcp/tools/config.py
  spellbook/tts/provisioner.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/tts/test_status.py
Due: none

Streamline installer: default security settings silently (#192)
  .version
  CHANGELOG.md
  install.py
  installer/renderer.py
  installer/tui.py
  installer/wizard.py
  tests/test_install_wizard_flow.py
  tests/test_installer_renderer.py
  tests/test_wizard_cli_flags.py
  tests/test_wizard_integration.py
Due: security-scan-changeset

chore: bump version to 0.48.0 and update changelog for TTS service feature
  .version
  CHANGELOG.md
Due: security-scan-changeset

fix: address PR review findings (version, traceback, path helpers)
  .version
  CHANGELOG.md
  install.py
  spellbook/notifications/tts.py
  tests/unit/test_installer_tts.py
Due: security-scan-changeset

fix: address bot review cycle 2 findings
  installer/compat.py
  spellbook/mcp/tools/config.py
  spellbook/tts/provisioner.py
  spellbook/tts/venv.py
  tests/tts/test_provisioner.py
Due: none

fix: address bot review cycle 3 findings
  install.py
  installer/core.py
  spellbook/mcp/tools/config.py
  spellbook/notifications/tts.py
  spellbook/tts/provisioner.py
  tests/tts/test_config_hook.py
  tests/unit/test_uninstall_tts.py
Due: none

fix: resolve cross-package imports and address cycle 4 findings
  installer/compat.py
  spellbook/core/paths.py
  spellbook/core/services.py
  spellbook/mcp/tools/config.py
  spellbook/notifications/tts.py
  spellbook/tts/lock.py
  spellbook/tts/provisioner.py
  tests/installer/test_service_config.py
  tests/unit/test_compat.py
Due: none

fix: address bot review cycle 5 findings
  spellbook/core/services.py
  spellbook/tts/device.py
  tests/tts/test_device.py
Due: none

fix: use platform-aware paths and address cycle 6 findings
  spellbook/core/services.py
  spellbook/mcp/tools/config.py
  spellbook/tts/provisioner.py
  spellbook/tts/venv.py
  tests/tts/test_config_hook.py
  tests/tts/test_provisioner.py
Due: none

fix: address final bot review findings
  spellbook/core/services.py
  spellbook/mcp/tools/config.py
  spellbook/tts/venv.py
  tests/tts/test_venv.py
Due: none

fix: Windows log capture and async lock acquisition
  spellbook/core/services.py
  spellbook/tts/provisioner.py
  tests/installer/test_service_config.py
  tests/tts/test_provisioner.py
Due: none

fix: use logger.exception for silent except block
  spellbook/mcp/tools/config.py
Due: none

fix: separate traceback from user-facing error in eager provisioning
  install.py
  tests/unit/test_installer_tts.py
Due: none

feat: add managed TTS service with launchd/systemd/schtasks support (#193)
  CHANGELOG.md
  install.py
  installer/compat.py
  installer/core.py
  spellbook/core/config.py
  spellbook/core/paths.py
  spellbook/core/services.py
  spellbook/daemon/service.py
  spellbook/mcp/tools/config.py
  spellbook/mcp/tools/notifications.py
  spellbook/notifications/tts.py
  spellbook/tts/__init__.py
  spellbook/tts/constants.py
  spellbook/tts/device.py
  spellbook/tts/lock.py
  spellbook/tts/provisioner.py
  spellbook/tts/venv.py
  tests/installer/__init__.py
  tests/installer/test_service_config.py
  tests/test_spellbook_mcp/test_tts_core.py
  tests/test_spellbook_mcp/test_tts_tools.py
  tests/tts/__init__.py
  tests/tts/test_config_hook.py
  tests/tts/test_device.py
  tests/tts/test_lock.py
  tests/tts/test_provisioner.py
  tests/tts/test_status.py
  tests/tts/test_venv.py
  tests/unit/test_compat.py
  tests/unit/test_installer_tts.py
  tests/unit/test_uninstall_tts.py
Due: security-scan-changeset

Replace anti-ai-tone.md with comprehensive writing-guide.md
  commands/docs-review.md
  commands/docs-write.md
  commands/write-readme.md
  docs/commands/docs-review.md
  docs/commands/docs-write.md
  docs/commands/write-readme.md
  docs/skills/documenting-projects.md
  skills/documenting-projects/SKILL.md
  skills/documenting-projects/anti-ai-tone.md
  skills/documenting-projects/writing-guide.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review feedback, version bump, fix README dead tells
  .version
  CHANGELOG.md
  README.md
  commands/docs-review.md
  docs/commands/docs-review.md
  skills/documenting-projects/writing-guide.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset
