Repository axiomantic/spellbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/thlorenz/doctoc
    rev: d713d623c0c0e80b3084ee2f09d4eb83aa7298e9
    hooks:
      - id: doctoc
        args: ['--github', '--minlevel', '2', '--maxlevel', '3']
        files: ^README\.md$

  - repo: local
    hooks:
      - id: generate-docs
        name: Generate documentation
        entry: uv run scripts/generate_docs.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|docs/diagrams/)

      - id: check-docs-completeness
        name: Check documentation completeness
        entry: python3 scripts/check-readme-completeness.py
        language: system
        pass_filenames: false
        always_run: true

      - id: update-context-files
        name: Update AGENTS.spellbook.md
        entry: python3 scripts/update_context_files.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/|CLAUDE\.spellbook\.md)

      - id: check-diagram-freshness
        name: Check diagram freshness
        entry: python3 scripts/check_diagram_freshness.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: validate-schemas
        name: Validate skill/command/agent schemas
        entry: uv run scripts/validate_schemas.py
        language: system
        pass_filenames: false
        files: ^(skills/|commands/|agents/)

      - id: security-scan-changeset
        name: Scan changeset for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --staged
        language: system
        types: [markdown]

      - id: security-scan-skills
        name: Scan skills for security issues
        entry: uv run python -m spellbook_mcp.security.scanner --skills
        language: system
        stages: [manual]
        files: ^skills/.*SKILL\.md$

chore(dedupe): apply cycle-4 review fixes (pip3, dead code, POSIX nonce)
  commands/dedupe-analyze.md
  docs/commands/dedupe-analyze.md
  tests/dedupe-skill/fixtures/python-residue-negative.md
  tests/dedupe-skill/verify-no-python.sh
  tests/dedupe-skill/verify-references.sh
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(dedupe): add semantic instruction-dedup skill (skill-only, LLM judgment loop) (#331)
  .version
  AGENTS.md
  CHANGELOG.md
  README.md
  commands/dedupe-analyze.md
  commands/dedupe-apply.md
  commands/dedupe-report.md
  commands/dedupe-setup.md
  docs/commands/dedupe-analyze.md
  docs/commands/dedupe-apply.md
  docs/commands/dedupe-report.md
  docs/commands/dedupe-setup.md
  docs/commands/finish-branch-execute.md
  docs/commands/index.md
  docs/skills/dedupe.md
  docs/skills/develop.md
  mkdocs.yml
  skills/dedupe/SKILL.md
  skills/dedupe/references/counterfactual-prompt.md
  skills/dedupe/references/safety-markers.md
  skills/dedupe/references/segmentation-protocol.md
  skills/dedupe/references/verdict-taxonomy.md
  tests/dedupe-skill/README.md
  tests/dedupe-skill/fixtures/anti-irony-violation.md
  tests/dedupe-skill/fixtures/malformed-json-negative.md
  tests/dedupe-skill/fixtures/python-residue-negative.md
  tests/dedupe-skill/verify-anti-irony-neg.sh
  tests/dedupe-skill/verify-anti-irony.sh
  tests/dedupe-skill/verify-json-blocks-neg.sh
  tests/dedupe-skill/verify-json-blocks.sh
  tests/dedupe-skill/verify-markdown.sh
  tests/dedupe-skill/verify-no-python-neg.sh
  tests/dedupe-skill/verify-no-python.sh
  tests/dedupe-skill/verify-references.sh
  tests/dedupe-skill/verify-structure.sh
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

feat(dedupe): add Stage 5.5 structural template floor
  CHANGELOG.md
  commands/dedupe-analyze.md
  docs/commands/dedupe-analyze.md
  docs/skills/dedupe.md
  skills/dedupe/SKILL.md
  skills/dedupe/references/template-headings.md
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review: version bump, changelog, roundup.py robustness
  .version
  CHANGELOG.md
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_plan.py
  skills/rounding-up-worktree-sessions/tests/test_scan_plan.py
  skills/rounding-up-worktree-sessions/tests/test_worktree_index.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review: tripwire mocks, osascript guard, portable paths
  commands/estimate-buffer.md
  commands/estimate-point.md
  commands/estimate-report.md
  docs/commands/estimate-buffer.md
  docs/commands/estimate-point.md
  docs/commands/estimate-report.md
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_launch.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review: shell-quote paths, preserve unicode, close temp fds
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_applescript.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: abspath history temp dir, add type hints
  skills/rounding-up-worktree-sessions/roundup.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: normalize dash forms, scale sigma for N=2 estimate
  commands/estimate-buffer.md
  docs/commands/estimate-buffer.md
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_plan.py
  skills/rounding-up-worktree-sessions/tests/test_scan_plan.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review: tolerate bad JSONL/timestamps, config fallback, git timeout
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_launch.py
  skills/rounding-up-worktree-sessions/tests/test_read_session.py
  skills/rounding-up-worktree-sessions/tests/test_scan_plan.py
  skills/rounding-up-worktree-sessions/tests/test_worktree_index.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: title precedence, realpath, osascript timeout, Z-scores
  commands/estimate-buffer.md
  commands/estimate-report.md
  docs/commands/estimate-buffer.md
  docs/commands/estimate-report.md
  skills/estimating-tickets/pert-and-brooks.md
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_launch.py
  skills/rounding-up-worktree-sessions/tests/test_session_record.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review: guard non-object history lines, drop unused fcntl
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: enforce same-config-dir reorient, realpath history
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_plan.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: rewrite history by sessionId, fix pseudo-code names
  skills/estimating-tickets/pert-and-brooks.md
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas, security-scan-changeset

Address review: tolerate numeric session timestamps
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_session_record.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: normalize config dirs, escape once, preserve history mode
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_applescript.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_plan.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: avoid fd double-close, defensive session lookup
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_applescript.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: close mkstemp fd exactly once via opened flag
  skills/rounding-up-worktree-sessions/roundup.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: surface reorient warnings to stderr in non-JSON mode
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: keep launch --json --print-script output parseable
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_launch.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: exclude bool timestamps, ensure_ascii on reorient output
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_session_record.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: compare recency timestamps chronologically
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_session_record.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: guard non-string titles and bad file mtimes
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_scan_plan.py
  skills/rounding-up-worktree-sessions/tests/test_session_record.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: guard non-string cwd/gitBranch, canonical mock paths
  skills/rounding-up-worktree-sessions/roundup.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
  skills/rounding-up-worktree-sessions/tests/test_session_record.py
  skills/rounding-up-worktree-sessions/tests/test_worktree_index.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

Address review: dedupe the _IsInstance test matcher
  skills/rounding-up-worktree-sessions/tests/_matchers.py
  skills/rounding-up-worktree-sessions/tests/conftest.py
  skills/rounding-up-worktree-sessions/tests/test_reorient_exec.py
  skills/rounding-up-worktree-sessions/tests/test_worktree_index.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(a2a): add heartbeat liveness constants
  skills/agent2agent/scripts/agent2agent.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(a2a): infinite-mode sentinel for watch --max-elapsed (None default)
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

test(a2a): extend _spawn_watch with infinite/poll/heartbeat seams
  tests/test_skills/test_agent2agent_helper.py
Due: none

feat(a2a): heartbeat touch in watch loop (entry + monotonic throttle)
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(a2a): alive probe uses 90s heartbeat window; retune boundary test
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(a2a): own-session fswatch spawn + flock-gated stray sweep
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

feat(a2a): _watcher_kill probe-gated SIGTERM helper op
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

test(a2a): infinite-mode e2e delivery + line-764 crash guard
  tests/test_skills/test_agent2agent_helper.py
Due: none

test(a2a): zero per-iteration stdout invariant
  tests/test_skills/test_agent2agent_helper.py
Due: none

test(a2a): document repurposed agent_id/output_file in schema test
  tests/test_skills/test_agent2agent_helper.py
Due: none

Harden a2a watcher-kill branches and budget parsers
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

fix(a2a): correct stale heartbeat/transcript factcheck claims
  skills/agent2agent/scripts/agent2agent.py
  tests/test_skills/test_agent2agent_helper.py
Due: generate-docs, update-context-files, check-diagram-freshness, validate-schemas

test(a2a): retune hook liveness to 90s + cross-process parity
  tests/test_hooks/test_agent2agent_hook.py
Due: none

feat(a2a): _bg_agent_alive uses 90s heartbeat window
  hooks/spellbook_hook.py
Due: none
